<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="translation" class="hide">dualethwan</div>
    <div ng-controller="dualEthWanFormController" ng-cloak>
        <!--Breadscrumbs starts here -->
        <div class="row ltq_breadcrumbs">
            <div ng-repeat="breadcrumb in $root.breadcrumbs">
                <ng-switch on="$first">
                    <div class="btn-group btn-breadcrumb1" ng-switch-when="true">
                        <div class="ltq_brd_home">
                            <a class="btn" ng-click="homefun()" ng-href="#/{{breadcrumb.path}}">
                                <i class="fa fa-home"></i> {{breadcrumb.name}}
                            </a>
                        </div>
                    </div>

                    <div class="btn-group btn-breadcrumb" ng-switch-when="false">

                        <span class="btn btn-default not-active" ng-if="breadcrumb.path == 'nothing' || $last == true">
                            {{breadcrumb.name}}
                        </span>
                        <span ng-if="breadcrumb.path != 'nothing' &&
                                                                $last == false">
                            <a class="btn" ng-href="#/{{breadcrumb.path}}">
                                <i></i>
                                {{breadcrumb.name}}
                            </a>
                        </span>
                    </div>

                </ng-switch>
            </div>
        </div>
        <div class="subheader">
            <div>
                <img src="images/icons/wireless.png" class="iconDetails" alt="img">
            </div>
            <div>
                <h4 ng-bind="'dualethwan.headername' | translate"></h4>
            </div>
            <p ng-bind="'dualethwan.headerdescription' | translate"></p>
        </div>
        <div class="row" ng-show="getformnamepopup">
            <div class="alert alert-danger">
                <a class="close" aria-label="close" ng-click="popupclose('getformnamepopup')">&times;</a>
                <strong ng-bind="'Warning!' | translate"></strong>
                <span ng-bind="getformnamepopupval"></span>
            </div>
        </div>
        <div class="row" ng-show="postformnamepopup">
            <div class="alert alert-danger">
                <a class="close" aria-label="close" ng-click="popupclose('postformnamepopup')">&times;</a>
                <strong ng-bind="'Warning!' | translate"></strong>
                <span ng-bind="postformnamepopupval"></span>
            </div>
        </div>
        <div class="help_toggle helpshow" ng-class="$root.scopevariable ? 'helpshow' : 'helphide'" ng-init="$root.scopevariable=true">
            <div class="help_txtcontent">
                <a helpfile="languages/*/{{'dualethwan.helpkey' | translate}}" ng-click="helpTextDetails($event)" href="">
                    <i class="fa fa-info circle_bg"></i>
                </a>
                <div class="help_content" ng-include="$root.helpfile"></div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12">

            <div class="panel-heading blu_bg">
                <span class="panel_heading_icon">
                    <img src="images/icons/internet-panel-icon.png" alt="panel-icon">
                </span>
                <span ng-bind="'dualethwan.panelheader2' | translate" class="ng-binding"></span>
            </div>

            <div class="panel-body" style="background:#fff;" ng-init="">
                <form class="form-horizontal lantiq-form-text row" role="form" name="linkaggregationaddform" novalidate="">
                    

                                <div class="col-lg-12 col-md-12 col-xs-12 text-right">
                                    <br>
                                </div>
                                <div class="row">

                                    <div class="form-group no-padding-hr col-xs-12 col-lg-6">
                                        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 input-field">
                                            <br>
                                            <!--<input type="text" class="form-control" id="BondMode" placeholder="Please Enter the value"
                                                                name="BondMode"  ng-model="BondMode" ng-disabled="true">-->
                                            <select ng-model="BondMode">
                                                <option ng-repeat="x in bondModeValues" value="{{x.value}}">{{x.model}}</option>
                                            </select>
                                            <label for="BondMode" class="active" ng-bind="
                                                                                                        'dualethwan.BondMode' | translate
                                                                                                    ">Mode</label>
                                            <span class="error" ng-show="" ng-bind="DeviceX_INTEL_COM_WISPProfile1_SSIDval |translate  
                                                                                                    "></span>
                                        </div>

                                    </div>
                                    <div class="col-md-6 col-lg-6"></div>
                                </div>
                                <br>
                                <div class="row">

                                        <div class="form-group no-padding-hr col-xs-12 col-lg-6">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 input-field">
                                                <br>
                                               
                                                <select ng-model="LagMode">
                                                    <option ng-repeat="x in LagModeValues" value="{{x.value}}">{{x.model}}</option>
                                                </select>
                                                <label for="LagMode" class="active" ng-bind="
                                                                                                            'dualethwan.LagMode' | translate
                                                                                                        ">Lag Mode</label>
                                                <span class="error" ng-show="" ng-bind="DeviceX_INTEL_COM_WISPProfile1_SSIDval |translate  
                                                                                                        "></span>
                                            </div>
    
                                        </div>
                                        <div class="col-md-6 col-lg-6"></div>
                                    </div>
                                <div class="form-group multicheckbox" ng-if="LagMode=='1'">
                                    <div class="row">
                                        <label for="Name" class="col-sm-12 col-md-3 col-lg-3 control-label multi-checkbox-label" ng-bind="'dualethwan.linkports' | translate">Link Aggregation Ports</label>
                                        <div class="col-sm-12 col-md-3 col-lg-3">
                                            <div class="checkbox-scroll-vr" id="LanInterfaces">
                                                <p ng-repeat="
                                                        role in LanCheckList">
                                                    <input type="checkbox" ng-disabled="" id="LanInterfaces{{$index+1}}" checklist-before-change="shouldSelectOnlyTwo(role,checked)"
                                                        ng-required="lanvalues.length==1" checklist-value="role" class="" checklist-model="lanvalues">
                                                    <label class="checkbox-listview" for="LanInterfaces{{$index+1}}">
                                                        {{role}}
                                                    </label>
                                                </p>

                                            </div>
                                        </div>
                                        <br>
                                        <span class="error  col-xs-offset-3 col-xs-6" ng-bind="'dualethwan.errorLanport' | translate" ng-show="lanvalues.length == 1">Select atleast 2 LAN Ports</span>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group multicheckbox" ng-if="LagMode=='2'">
                                        <div class="row">
                                            <label for="Name" class="col-sm-12 col-md-3 col-lg-3 control-label multi-checkbox-label" ng-bind="'dualethwan.linkports' | translate">Link Aggregation Ports</label>
                                            <div class="col-sm-12 col-md-3 col-lg-3">
                                                <div class="checkbox-scroll-vr" id="WanInterfaces">
                                                    <p ng-repeat="
                                                            role in WanCheckList">
                                                        <input type="checkbox" ng-disabled="" id="WanInterfaces{{$index+1}}" checklist-before-change="shouldSelectOnlyTwoWan(role,checked)"
                                                            ng-required="wanvalues.length==1" checklist-value="role" class="" checklist-model="wanvalues">
                                                        <label class="checkbox-listview" for="WanInterfaces{{$index+1}}">
                                                            {{role}}
                                                        </label>
                                                    </p>
    
                                                </div>
                                            </div>
                                            <br>
                                            <span class="error  col-xs-offset-3 col-xs-6" ng-bind="'dualethwan.errorLanport' | translate" ng-show="wanvalues.length == 1">Select atleast 2 WAN Ports</span>
                                        </div>
                                    </div>



                                <div class="col-lg-12 col-md-12 col-xs-12 text-right">
                                    <div class="btn-align">
                                        <input type="submit" class="waves-effect waves-light btn btn-info" id="linkapply" value="Apply" source="Device.Ethernet.Interface?,Name,Add"
                                            formname="DeviceEthernetInterface" ng-click="LinkFirstApply($event)">
                                    </div>
                                    <div class="btn-align">
                                            <input type="submit" class="waves-effect waves-light btn btn-info" id="linkapply" value="Cancel" source="Device.Ethernet.Interface?,Name,Add"
                                                formname="DeviceEthernetInterface" ng-click="cancel($event)">
                                        </div>
                                    <!-- <div class="btn-group text-center">
                                                    <button class="btn btn-info waves-effect waves-light" id="Close" value="Close" ng-click="Reset('dualethwan')" title="Cancel">
                                                        <spans ng-bind="'Reset' | translate" class="ng-binding">Reset</spans></button>
                                                </div> -->
                                </div>
                            
                        
                </form>
                </div>
            </div>
</div>
</body>
</html>

