<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="translation" class="hide">venuinfoform</div>
        <div ng-controller="hotspotVenueInfoController" ng-cloak>
            <!--Breadscrumbs starts here -->                                                                                                      
            <div class="row ltq_breadcrumbs">                                                                                                     
                <div  ng-repeat="breadcrumb in $root.breadcrumbs" >                                                                                   
                    <ng-switch on="$first">                                                                                                               
                        <div class="btn-group btn-breadcrumb1" ng-switch-when="true">                                                                         
                            <div class="ltq_brd_home" >                                                                                                           
                                <a  class="btn" ng-click="homefun()" ng-href="#/{{breadcrumb.path}}">                                                                 
                                    <i class="fa fa-home"></i>                                                                                                            
                                    {{breadcrumb.name}}                                                                                                                   
                                </a>                                                                                                                                  
                            </div>                                                                                                                                
                        </div>                                                                                                                                

                        <div class="btn-group btn-breadcrumb" ng-switch-when="false" >                                                                        

                            <span class="btn btn-default not-active" ng-if="breadcrumb.path == 'nothing' || $last == true" >                                      
                                {{breadcrumb.name}}                                                                                                               
                            </span>                                                                                                                               
                            <span ng-if ="breadcrumb.path != 'nothing' &&
                                                $last == false">                                                                                                                              
                                <a  class="btn" ng-href="#/{{breadcrumb.path}}">                                                                                      
                                    <i></i>                                                                                                                               
                                    {{breadcrumb.name}}                                                                                                                   
                                </a>                                                                                                                                  
                            </span>                                                                                                                               
                        </div>                                                                                                                                 

                    </ng-switch>                                                                                                                            
                </div>                                                                                                                                   
            </div>                                                                                                                                  
            <!--Breadscrumbs ends here --> 
            <div class="subheader">
                <div>
                    <img src="images/icons/hotspot.png" class="iconDetails" alt="img">
                </div>
                <div style="margin-left:40px;"><h4 ng-bind="'venuinfoform.headername' | translate"></h4></div>
                <p ng-bind="'venuinfoform.headerdescription' | translate"></p>
            </div>
            <div class="row" ng-show="venuinfoformpopup">
                <div class="alert alert-danger">
                    <a class="close" aria-label="close" ng-click="popupclose('venuinfoformpopup')">&times;</a>
                    <strong ng-bind="'Warning!' | translate"></strong><span ng-bind="venuinfoformpopupval"></span>
                </div>
            </div>
            <div class="row" ng-show="venuinfoformpostpopup">
                <div class="alert alert-danger">
                    <a class="close" aria-label="close" ng-click="popupclose('venuinfoformpostpopup')">&times;</a>
                    <strong ng-bind="'Warning!' | translate"></strong><span ng-bind="venuinfoformpostpopupval"></span>
                </div>
            </div>
	    <div class="help_toggle helpshow" ng-class="$root.scopevariable ? 'helpshow' : 'helphide'" ng-init="$root.scopevariable=true">
                    <div class="help_txtcontent">
                        <a helpfile="languages/*/{{'venuinfoform.helpkey' | translate}}" ng-click="helpTextDetails($event)" href="">
                            <i class="fa fa-info circle_bg"></i>
                        </a>
                        <div class="help_content" ng-include="$root.helpfile"></div>
                    </div>
            </div>
            <div class="row no-margin-hr">
                <form class="form-horizontal lantiq-form-text row" role="form" name="venuinfoform" novalidate>
                    <div class="col-lg-12 col-md-12">
                        <div class="panel">
                            <div class="panel-heading blu_bg"><span class="panel_heading_icon"><img src="images/icons/hotspot.png" alt="panel-icon"/></span><span ng-bind="'venuinfoform.Venue Info' | translate"></span></div>
                            <div class="panel-body">
                                
                                <div class="row">
                                    <div class="form-group required col-lg-6 col-md-6">
                                        <label class="control-label col-lg-12 col-md-12 col-sm-12" ng-bind="'Device.WiFi.Radio.3.SSID' | translate">SSID</label>
                                        <div class="col-sm-12">
                                            <select id="temp_SSID" class="form-control" ng-required="true" name="ssid" ng-model="temp.SSID" ng-change="ssidChange(temp.SSID)" ng-options="obj.id as obj.name for obj in SSID" ng-init="dropdownUrlRequest('temp', 'SSID', 'cgi_get_filterbyfirstparamval?Object=Device.WiFi.SSID&LowerLayers=Device.WiFi.Radio.3.&SSID=');"></select>
                                            <span class="error" forname="temp_SSID" ng-show="venuinfostatus && venuinfoform.ssid.$error.required" ng-bind="'Device.WiFi.Radio.3.SSID.$error.required' | translate"></span>
                                            <span class="error" forname="temp_SSID" ng-show="temp_SSIDresponsestatus" ng-bind="temp_SSIDval"></span>
                                        </div>                                                
                                    </div>
                                </div>
                                
<!--
                                <div class="row">
                                    <div class="form-group required col-lg-6 col-md-6">
                                        <label class="control-label col-lg-12 col-md-12 col-sm-12" ng-bind="'Device.WiFi.AccessPoint.*.X_LANTIQ_COM_Vendor.HS20.Enable' | translate"></label>
                                        <div class="col-sm-12">
                                            <select id="DeviceWiFiAccessPointX_LANTIQ_COM_VendorHS20_Enable" class="form-control" name='venuinfoenable' ng-required="true" ng-model="DeviceWiFiAccessPointX_LANTIQ_COM_VendorHS20.Enable" ng-change="textChange('DeviceWiFiAccessPointX_LANTIQ_COM_VendorHS20Enable')" ng-options="obj.id as obj.name for obj in Enable" ng-init="dropdownUrlRequest('DeviceWiFiAccessPointX_LANTIQ_COM_VendorHS20', 'Enable', 'hotspotenable')"></select>
                                            <span class="error" forname="DeviceWiFiAccessPointX_LANTIQ_COM_VendorHS20_Enable" ng-show="venuinfostatus && venuinfoform.venuinfoenable.$error.required" ng-bind="'Device.WiFi.AccessPoint.*.X_LANTIQ_COM_Vendor.HS20.Enable.$error.required' | translate"></span>
                                            <span class="error" forname="DeviceWiFiAccessPointX_LANTIQ_COM_VendorHS20_Enable" ng-show="DeviceWiFiAccessPointX_LANTIQ_COM_VendorHS20_Enableresponsestatus" ng-bind="DeviceWiFiAccessPointX_LANTIQ_COM_VendorHS20_Enableval"></span>
                                        </div>
                                    </div>
                                </div>
-->
                                
                                <div class="row" >
                                    <div class="form-group col-lg-6 col-md-6">
                                        <label class="control-label col-lg-12 col-md-12 col-sm-12" ng-bind="'Device.WiFi.AccessPoint.*.X_LANTIQ_COM_Vendor.HS20.VenueGroup' | translate"></label>
                                        <div class="col-sm-12">
                                            <select id="DeviceWiFiAccessPointX_LANTIQ_COM_VendorHS20_VenueGroup" class="form-control" name='venuinfovenuegroup' ng-model="DeviceWiFiAccessPointX_LANTIQ_COM_VendorHS20.VenueGroup" ng-change="textChange('DeviceWiFiAccessPointX_LANTIQ_COM_VendorHS20VenueGroup')" ng-options="obj.id as obj.name for obj in VenueGroup" ng-init="dropdownUrlRequest('DeviceWiFiAccessPointX_LANTIQ_COM_VendorHS20', 'VenueGroup', 'hotspotvenuegroup')"></select>
                                            <span class="error" forname="DeviceWiFiAccessPointX_LANTIQ_COM_VendorHS20_VenueGroup" ng-show="venuinfostatus && venuinfoform.venuinfovenuegroup.$error.required" ng-bind="'Device.WiFi.AccessPoint.*.X_LANTIQ_COM_Vendor.HS20.VenueGroup.$error.required' | translate"></span>
                                            <span class="error" forname="DeviceWiFiAccessPointX_LANTIQ_COM_VendorHS20_VenueGroup" ng-show="DeviceWiFiAccessPointX_LANTIQ_COM_VendorHS20_VenueGroupresponsestatus" ng-bind="DeviceWiFiAccessPointX_LANTIQ_COM_VendorHS20_VenueGroupval"></span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row" >
                                    <div class="form-group col-lg-6 col-md-6">
                                        <label class="control-label col-lg-12 col-md-12 col-sm-12" ng-bind="'Device.WiFi.AccessPoint.*.X_LANTIQ_COM_Vendor.HS20.VenueType' | translate"></label>
                                        <div class="col-sm-12">
                                            <select id="DeviceWiFiAccessPointX_LANTIQ_COM_VendorHS20_VenueType" class="form-control" name='venuinfovenuetype' ng-model="DeviceWiFiAccessPointX_LANTIQ_COM_VendorHS20.VenueType" ng-change="textChange('DeviceWiFiAccessPointX_LANTIQ_COM_VendorHS20VenueType')" ng-options="obj.id as obj.name for obj in VenueType" ng-init="dropdownUrlRequest('DeviceWiFiAccessPointX_LANTIQ_COM_VendorHS20', 'VenueType', 'hotspotvenuetype')"></select>
                                            <span class="error" forname="DeviceWiFiAccessPointX_LANTIQ_COM_VendorHS20_VenueType" ng-show="venuinfostatus && venuinfoform.venuinfovenuetype.$error.required" ng-bind="'Device.WiFi.AccessPoint.*.X_LANTIQ_COM_Vendor.HS20.VenueType.$error.required' | translate"></span>
                                            <span class="error" forname="DeviceWiFiAccessPointX_LANTIQ_COM_VendorHS20_VenueType" ng-show="DeviceWiFiAccessPointX_LANTIQ_COM_VendorHS20_VenueTyperesponsestatus" ng-bind="DeviceWiFiAccessPointX_LANTIQ_COM_VendorHS20_VenueTypeval"></span>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </form>
            </div>
                        <div class="row" >
                            <div class="col-lg-12 col-md-12" >
                                <div class="panel" ng-repeat="mainobject in dotremoval">
                                    <div class="row" ng-show="mainobjectpopup">
                                        <div class="alert alert-danger">
                                            <a class="close" aria-label="close" ng-click="popupclose('mainobjectpopup')">&times;</a>
                                            <strong ng-bind="'Warning!' | translate"></strong><span ng-bind="mainobjectpopupval"></span>
                                        </div>
                                    </div>
                                    <div class="panel-heading"><span class="panel_heading_icon"><img src="images/icons/panel-heading-icon.png" alt="panel-icon"/></span>
                                        <span ng-bind="'venuename.Venue Name' | translate"></span></div>
                                    <div class="panel-body">
                                        <div class="voip_content table-responsive">
                                            <table class="table table-bordered custom_table theme_intel">                
                                                <thead>
                                                    <tr>
                                                        <th ng-bind="'venuename.Venue Name' | translate">

                                                        </th>
                                                        <th>
                                                            <a  class="btn btn-sm btn-info" id="Add" value="Add" ng-click="showstatus(mainobject)">
                                                                <i class="fa fa-plus icontxtgap"></i><span ng-bind="'Add' | translate"></span>
                                                            </a>
                                                        </th>
                                                    </tr>
                                                </thead> 
                                                <tbody>
                                                    <tr ng-show="mainobject.status">
                                                        <td ng-repeat="model in mainobject.params" >
                                                            <input id="venuename" name="venuenamelist" type="text" ng-model="mainobject.paramsobject[model]" ng-blur="textchange(model)" placeholder="{{'Device.WiFi.AccessPoint.*.X_LANTIQ_COM_Vendor.HS20.VenueName.*.Please Input Here' | translate}}"/>
                                                        </td>
                                                        <td style="vertical-align: middle;">
                                                            <a id="Add" name="add" value="Add" class="btn btn-xs table-btn" ng-click="EditableApply(mainobject, 'Add')"  >
                                                                <span class="fa fa-check btn_color_grn"></span>
                                                            </a>
                                                            <a id="Close" name="Close" value="Close" class="btn btn-xs table-btn" ng-click="rowcancel(mainobject)">

                                                                <span class="fa fa-times btn_color_red" ></span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr ng-repeat="row in mainobject.Objects">
                                                        <td ng-repeat="key in row| keys" ng-if="false == $last" >
                                                            <span editable-text="row[key]" e-name="key" e-form="rowform" e-ng-blur='editablechange(key,row.z,$data)'>
                                                                {{ row[key]}}
                                                            </span>
                                                        </td>
                                                        <td style="white-space: nowrap;vertical-align: middle;">
                                                            <form editable-form name="rowform" onbeforesave="rowlevelApply(row.z,'Modify',$data, user.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == row">
                                                                <button type="submit" id= "Modify" name="Save" value="Save" ng-disabled="rowform.$waiting" class="btn table-btn">
                                                                <i class="fa fa-save btn_color_grn"></i>
                                                                </button>
                                                                <button type="button" id="Close" name="Close" value="Close" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn table-btn">
                                                                <i class="fa fa-times btn_color_red"></i>
                                                                </button>
                                                            </form>
                                                            <div class="buttons" ng-show="!rowform.$visible">
                                                                <button class="btn table-btn" id= "edit" name="edit" value="edit" ng-click="rowform.$show()"><i class="fa fa-edit btn_color_grn"></i></button>
                                                                <button class="btn table-btn" id="{{row.z}}" name="delete" value="delete" ng-click="removeRow($event,$index,row)"><i class="fa fa-trash-o btn_color_red"></i></button>
                                                            </div>  
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 pull-right">
                            <div class="btn-group custom_btn">
                                <button class="btn btn-info waves-effect waves-light " id= "Apply" name="Apply" value="Apply" formstatus="{{venuinfoform.$valid}}" ng-click="Apply('Device.WiFi.AccessPoint.*.X_LANTIQ_COM_Vendor.HS20', $event)" title="Save" formname="venuinfoform"><span class="hidden-xs" ng-bind="'Save' | translate" ></span></button>
                            </div>
                        </div>
        </div>
    </body>
</html>
