<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
  <head>
    <title>Intel</title>
    <link href="css/Bootstrap/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="controllers/advHomePageController.js"></script>
  </head>
  <body>
    <div id="translation" class="hide">advhomepage</div>
    <div
      id="homepage"
      class="container-fluid no-padding-hr"
      ng-controller="advHomePageController"
      ng-cloak
    >
      <!-- <div class="subheader">
                 <div>
                     <img src="images/icons/system.png" class="iconDetails" alt="img">
                 </div>
                 <div><h4>Device Status</h4></div>
                 <p>Current Device Status Information</p>
                     </div> -->
      <div class="row no-margin-hr" ng-show="postformnamepopup">
        <div class="alert alert-danger">
          <a
            class="close"
            aria-label="close"
            ng-click="popupclose('postformnamepopup')"
            >&times;</a
          >
          <strong ng-bind="'Warning!' | translate"></strong
          ><span ng-bind="postformnamepopupval"></span>
        </div>
      </div>
      <div class="row no-margin-hr" ng-show="DeviceWiFiSSID1popup">
        <div class="alert alert-danger">
          <a
            class="close"
            aria-label="close"
            ng-click="popupclose('DeviceWiFiSSID1popup')"
            >&times;</a
          >
          <strong ng-bind="'Warning!' | translate"></strong
          ><span ng-bind="DeviceWiFiSSID1popupval"></span>
        </div>
      </div>
      <div class="row no-margin-hr" ng-show="DeviceWiFiSSID2popup">
        <div class="alert alert-danger">
          <a
            class="close"
            aria-label="close"
            ng-click="popupclose('DeviceWiFiSSID2popup')"
            >&times;</a
          >
          <strong ng-bind="'Warning!' | translate"></strong
          ><span ng-bind="DeviceWiFiSSID2popupval"></span>
        </div>
      </div>
      <div
        class="row no-margin-hr"
        ng-show="DeviceIPInterface1IPv4Address1popup"
      >
        <div class="alert alert-danger">
          <a
            class="close"
            aria-label="close"
            ng-click="popupclose('DeviceIPInterface1IPv4Address1popup')"
            >&times;</a
          >
          <strong ng-bind="'Warning!' | translate"></strong
          ><span ng-bind="DeviceIPInterface1IPv4Address1popupval"></span>
        </div>
      </div>
      <div
        class="row no-margin-hr"
        ng-show="DeviceWiFiAccessPoint1Securitypopup"
      >
        <div class="alert alert-danger">
          <a
            class="close"
            aria-label="close"
            ng-click="popupclose('DeviceWiFiAccessPoint1Securitypopup')"
            >&times;</a
          >
          <strong ng-bind="'Warning!' | translate"></strong
          ><span ng-bind="DeviceWiFiAccessPoint1Securitypopupval"></span>
        </div>
      </div>
      <div
        class="row no-margin-hr"
        ng-show="DeviceWiFiAccessPoint2Securitypopup"
      >
        <div class="alert alert-danger">
          <a
            class="close"
            aria-label="close"
            ng-click="popupclose('DeviceWiFiAccessPoint2Securitypopup')"
            >&times;</a
          >
          <strong ng-bind="'Warning!' | translate"></strong
          ><span ng-bind="DeviceWiFiAccessPoint2Securitypopupval"></span>
        </div>
      </div>
      <div class="row no-margin-hr" ng-show="tablenamepopup">
        <div class="alert alert-danger">
          <a
            class="close"
            aria-label="close"
            ng-click="popupclose('tablenamepopup')"
            >&times;</a
          >
          <strong ng-bind="'Warning!' | translate"></strong
          ><span ng-bind="tablenamepopupval"></span>
        </div>
      </div>
      <div class="row no-margin-hr" ng-show="numberofclientspopup">
        <div class="alert alert-danger">
          <a
            class="close"
            aria-label="close"
            ng-click="popupclose('numberofclientspopup')"
            >&times;</a
          >
          <strong ng-bind="'Warning!' | translate"></strong
          ><span ng-bind="numberofclientspopupval"></span>
        </div>
      </div>
      <div class="row no-margin-hr" ng-show="getfirstsubquerypopup">
        <div class="alert alert-danger">
          <a
            class="close"
            aria-label="close"
            ng-click="popupclose('getfirstsubquerypopup')"
            >&times;</a
          >
          <strong ng-bind="'Warning!' | translate"></strong
          ><span ng-bind="getfirstsubquerypopupval"></span>
        </div>
      </div>
      <div class="row no-margin-hr" ng-show="getsecondsubquerypopup">
        <div class="alert alert-danger">
          <a
            class="close"
            aria-label="close"
            ng-click="popupclose('getsecondsubquerypopup')"
            >&times;</a
          >
          <strong ng-bind="'Warning!' | translate"></strong
          ><span ng-bind="getsecondsubquerypopupval"></span>
        </div>
      </div>
      <div class="row no-margin-hr" ng-show="getthirdsubquerypopup">
        <div class="alert alert-danger">
          <a
            class="close"
            aria-label="close"
            ng-click="popupclose('getthirdsubquerypopup')"
            >&times;</a
          >
          <strong ng-bind="'Warning!' | translate"></strong
          ><span ng-bind="getthirdsubquerypopupval"></span>
        </div>
      </div>
      <div class="row no-margin-hr">
        <div class="col-lg-8">
          <div class="row">
            <div class="panel">
              <div class="panel-heading text-left">
                <span class="panel_heading_icon">
                  <img
                    src="images/icons/panel-heading-icon.png"
                    alt="panel-icon"
                  /> </span
                ><span ng-bind="'advhomepage.Device Status' | translate"></span>
              </div>
              <div class="panel-body">
                <div class="title_txt">
                  <!--<img src="images/checkbox-ltq.png" alt="checkbox-icon" width="40"/>-->
                  <!--<h4 ng-bind="'advhomepage.Device Status' | translate"></h4>-->
                  <p
                    ng-bind="'advhomepage.Click on each node in the device map for more information' | translate"
                  ></p>
                </div>
                <div class="row">
                  <div
                    class="col-lg-5 col-md-5 col-sm-12 col-xs-12"
                    style="margin-bottom:15px;"
                  >
                    <div
                      class="home_samplebox tabHeader p-2"
                      data-target="1"
                      ng-class="{'active': _activeTab == 1}"
                      ng-click="toggleDetails($event)"
                    >
                      <div class="content_mg">
                        <div
                          ><span
                            ng-bind="'Device.IP.Interface.*.Internet Status' | translate"
                          ></span
                          ><b ng-bind="DeviceIPInterface.Status"></b
                        ></div>
                        <span
                          class="error"
                          forname="DeviceIPInterface_Status"
                          ng-show="DeviceIPInterface_Statusresponsestatus"
                          ng-bind="DeviceIPInterface_Statusval"
                        >
                        </span>
                        <div
                          ><span
                            ng-bind="'Device.IP.Interface.*.IPv4Address.*.WAN IP' | translate"
                          ></span
                          ><b
                            ng-bind="DeviceIPInterfaceIPv4Address.IPAddress"
                          ></b
                        ></div>
                        <span
                          class="error"
                          forname="DeviceIPInterfaceIPv4Address_IPAddress"
                          ng-show="DeviceIPInterfaceIPv4Address_IPAddressresponsestatus"
                          ng-bind="DeviceIPInterfaceIPv4Address_IPAddressval"
                        >
                        </span>
                        <div
                          ><span ng-bind="'macaddress' | translate"></span
                          ><b ng-bind="MacAddress"></b
                        ></div>
                      </div>
                      <img
                        ng-show="DeviceIPInterface.Status=='Up'"
                        src="images/icons/internetstatus.png"
                        alt="img"
                        class="internet_img"
                        width="80"
                      />
                      <img
                        ng-show="DeviceIPInterface.Status=='Down'"
                        src="images/icons/internetstatus_down.png"
                        alt="img"
                        class="internet_img"
                        width="80"
                      />
                    </div>
                    <div class="devider-hr">
                      <div></div>
                    </div>
                    <div class="home_samplebox">
                      <div class="content_mg">
                        <div
                          class="tabHeader p-2"
                          ng-class="{'active': _activeTab == 2}"
                          data-target="2"
                          ng-click="toggleDetails($event, 'WiFi2.4')"
                        >
                          <div
                            ng-bind="'Device.WiFi.AccessPoint.1.Security.WiFi Security Level' | translate"
                          ></div>
                          <div
                            ><b
                              ng-bind="DeviceWiFiAccessPoint1Security.ModeEnabled"
                            ></b
                          ></div>
                          <span
                            class="error"
                            forname="DeviceWiFiAccessPoint1Security_ModeEnabled"
                            ng-show="DeviceWiFiAccessPoint1Security_ModeEnabledresponsestatus"
                            ng-bind="DeviceWiFiAccessPoint1Security_ModeEnabledval"
                          >
                          </span>
                        </div>
                        <div
                          class="tabHeader p-2"
                          ng-class="{'active': _activeTab == 3}"
                          data-target="3"
                          ng-click="toggleDetails($event, 'WiFi5')"
                        >
                          <div
                            ng-bind="'Device.WiFi.AccessPoint.2.Security.WiFi Security Level' | translate"
                            ng-show="RadioNumberOfEntries == '2' || RadioNumberOfEntries == '3'"
                          ></div>
                          <div
                            ng-show="RadioNumberOfEntries == '2' || RadioNumberOfEntries == '3'"
                            ><b
                              ng-bind="DeviceWiFiAccessPoint2Security.ModeEnabled"
                            ></b
                          ></div>
                          <span
                            class="error"
                            forname="DeviceWiFiAccessPoint2Security_ModeEnabled"
                            ng-show="DeviceWiFiAccessPoint2Security_ModeEnabledresponsestatus"
                            ng-bind="DeviceWiFiAccessPoint2Security_ModeEnabledval"
                          >
                          </span>
                        </div>

                        <img
                          src="images/icons/security_img.png"
                          alt="img"
                          class="internet_img"
                          width="80"
                        />
                      </div>
                    </div>
                    <div class="devider-hr">
                      <div></div>
                    </div>
                    <!--  Uncomment following code the implement no of devices count block.    
                                        <div class="devider2"></div>
                                        <div class="btn_2">
                                            <div class="home_samplebox palesky" data-target="3" ng-click="toggleDetails($event)">-->
                    <div
                      class="home_samplebox tabHeader p-2"
                      data-target="4"
                      ng-class="{'active': _activeTab == 4}"
                      ng-click="toggleDetails($event)"
                      style="height: 110px;"
                    >
                      <div
                        class="no-padding-hr"
                        ng-bind="'advhomepage.No of Clients' | translate"
                      ></div>
                      <div class="contentdashboard">
                        <div
                          class="count_block "
                          ng-model="noofclients"
                          ng-bind="noofclients"
                        ></div>
                        <div class="img_block">
                          <img
                            src="images/icons/client.png"
                            alt="img"
                            height="40"
                          />
                        </div>
                      </div>
                    </div>
                    <!-- <div class="home_samplebox palesky" data-target="4" ng-click="toggleDetails($event)">
                                                <div class="headertxt  no-padding-hr" ng-bind="'advhomepage.No of Devices' | translate"></div>
                                                <div class="contentdashboard">
                                                    <div class="count_block ">0</div>
                                                    <div class="img_block"><img src="images/icons/usb.png" alt="img" class="usb_icon" height="50"/></div>
                                                </div>
                                            </div>
                                        </div>-->
                  </div>
                  <div ng-include="'adv_homepage_systemstatus.html'"></div>
                  <div ng-include="'adv_homepage_securitylevel.html'"></div>
                  <div ng-include="'adv_homepage_numberofclients.html'"></div>
                  <div ng-include="'adv_homepage_numberofdevices.html'"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="row" ng-if="$root.message">
              <div class="col-lg-6">
                <adv-widget
                  title="DSL Line Status"
                  icon="dsl-panel-icon"
                  time="30000"
                  polling="true"
                  webname='["Upstream Data Rate (kbps)","Downstream Data Rate (kbps)"]'
                  url="cgi_get?Object=Device.DSL.Channel.1&UpstreamCurrRate=&DownstreamCurrRate="
                  checker="true"
                  checkervalue=""
                  checkerurl="cgi_get?Object=Device.DSL.X_LANTIQ_COM_Config&Enable="
                >
                </adv-widget>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mbl-no-padding-hr">
          <adv-widget
            title="System Info"
            icon="panel-heading-icon"
            time="30000"
            color="#98989a"
            polling="false"
            webname='["Manufacturer","Serial Number","Software Version", "Model Name", "Hardware Version"]'
            url="cgi_get?Object=Device.DeviceInfo&Manufacturer=&SerialNumber=&SoftwareVersion=&ModelName=&HardwareVersion="
          >
          </adv-widget>

          <adv-widget
            title="Memory Information"
            icon="panel-heading-icon"
            time="30000"
            color="#000000"
            polling="true"
            webname='["Total Memory","Free Memory","Buffer Memory","Cached Memory"]'
            url="cgi_get?Object=Device.DeviceInfo.MemoryStatus&Total=&Free=&X_LANTIQ_COM_Buffer=&X_LANTIQ_COM_Cached="
          >
          </adv-widget>

          <dynamic-port-status-widget
            id="EthernetPortStatus"
            title="Ethernet Port Status"
            icon="panel-heading-icon"
            color="darkgray_bg"
            onimage="images/lan-port-gr.png"
            offimage="images/lan-port.png"
            polling="true"
            time="10000"
            wsprotocol="protocol_device_update"
            urls='["cgi_get_fillparams?Object=Device.Ethernet.Interface.1", "cgi_get_fillparams?Object=Device.Ethernet.Interface.2", "cgi_get_fillparams?Object=Device.Ethernet.Interface.3", "cgi_get_fillparams?Object=Device.Ethernet.Interface.4"]'
            params='["Status","Name","MaxBitRate"]'
          >
          </dynamic-port-status-widget>

          <dynamic-port-status-widget
            id="DSLPortStatus"
            title="DSL Port Status"
            icon="panel-heading-icon"
            color="darkgray_bg"
            onimage="images/voip.png"
            offimage="images/voip_blck.png"
            socket="false"
            polling="true"
            time="10000"
            urls='["cgi_get?Object=Device.DSL.Line.1"]'
            params='["Status","Name","DownstreamMaxBitRate"]'
          >
          </dynamic-port-status-widget>
        </div>
      </div>
    </div>
  </body>
</html>
