<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12" ng-show="_activeTab == 2 || _activeTab == 3">
    <div class="panel no-radius wifisecurity">
        <div class="panel-heading navy_Blue" ng-bind="'advhomepage.WiFI Security' | translate"></div> 
<div class="ahtabs {{wifi5status}}">
          <!-- <h3 ng-show="RadioNumberOfEntries == '1'" ng-class="{ inactive: $parent._activeTab !== 1, active1: $parent._activeTab == 1 }" id="tab-{{$index}}-0" data="{{$index}}" ng-click="$parent._activeTab = 1"><a id="1" ng-bind="SupportedFrequencyBands"></a></h3> -->
          <h3 ng-show="RadioNumberOfEntries == '2' || RadioNumberOfEntries == '3'" ng-class="{ inactive: $parent._activeTab !== 2, active1: $parent._activeTab == 2 }" id="tab-{{$index}}-0" data="{{$index}}" ng-click="$parent._activeTab = 2"><a id="2" ng-bind="'advhomepage.2.4GHz' | translate"></a></h3>
          <h3 ng-show="RadioNumberOfEntries == '2' || RadioNumberOfEntries == '3'" class="" ng-class="{ inactive: $parent._activeTab !== 3, active1: $parent._activeTab == 3 }" id="tab-{{$index}}-1" data="{{$index}}" ng-click="$parent._activeTab = 3"><a id="3" ng-bind="'advhomepage.5GHz' | translate"></a></h3>  
            <!--<h3 class=""><a id="3"></a></h3>-->

            <div class="panel-body">
                <div class="clear" data="{{$index}}" ng-show="$parent._activeTab == 2">
                    <form role="form" id="reportform" name="wifi2form" class="adv_wifisecurityform" novalidate>
                        <div class="input-field form-group required">                            
                            <input type="text" ng-required="true" name="wifi2ssid" autocomplete="off" ng-change="textChange('DeviceWiFiSSID1SSID')" ng-model="DeviceWiFiSSID1.SSID" class="form-control" id="ssid" placeholder="{{'Device.WiFi.SSID.1.Wireless name (SSID).Enter Text Here' | translate}}">
                            <label class="required active" for="ssid" ng-bind="'Device.WiFi.SSID.1.Wireless name (SSID)' | translate"></label>
                            <span class="error" forname="DeviceWiFiSSID1_SSID" ng-show="advformstatus && wifi2form.wifi2ssid.$error.required" ng-bind="'Device.WiFi.SSID.1.SSID.$error.required' | translate">

                            </span>
                            <span class="error" forname="DeviceWiFiSSID1_SSID" ng-show="DeviceWiFiSSID1_SSIDresponsestatus" ng-bind="DeviceWiFiSSID1_SSIDval">

                            </span>
                        </div>                                                                                                               
                        <div class="form-group required">
                            <label for="DeviceWiFiAccessPoint1Security_ModeEnabled" ng-bind="'Device.WiFi.AccessPoint.1.Security.Authentication Method' | translate"></label>
                            <select id="DeviceWiFiAccessPoint1Security_ModeEnabled" materal_select="" ng-required="true" name="wifi2athentication" class="dropdown-toggle" ng-change="textChange('DeviceWiFiAccessPoint1SecurityModeEnabled')" ng-options="o.name as o.name for o in modeenabled" ng-model="DeviceWiFiAccessPoint1Security.ModeEnabled">
                                <!--                                <option selected="">WPA2-Personal</option>
                                                                <option>Others</option>                                                                    -->
                            </select>                            
                            <span class="error" forname="DeviceWiFiAccessPoint1Security_ModeEnabled" ng-show="advformstatus && wifi2form.wifi2athentication.$error.required" ng-bind="'Device.WiFi.AccessPoint.1.Security.ModeEnabled.$error.required' | translate">

                            </span>
                            <span class="error" forname="DeviceWiFiAccessPoint1Security_ModeEnabled" ng-show="DeviceWiFiAccessPoint1Security_ModeEnabledresponsestatus" ng-bind="DeviceWiFiAccessPoint1Security_ModeEnabledval">

                            </span>
                        </div>
                        <div class="form-group pwdblock">
                            <div class="input-field form-group required" ng-if="DeviceWiFiAccessPoint1Security.ModeEnabled == 'WPA2-Personal'">
                                <input id="DeviceWiFiAccessPoint1Security_KeyPassphrase" ng-minlength="8" ng-maxlength="63" name="wifi2passphrase" type="{{inputType}}" ng-change="textChange('DeviceWiFiAccessPoint1SecurityKeyPassphrase')" ng-model="DeviceWiFiAccessPoint1Security.KeyPassphrase" class="form-control" placeholder="{{'Device.WiFi.AccessPoint.1.Security.Pass Phrase.Enter Password Here' | translate}}">
                                <label class="active" for="passphrase" ng-bind="'Device.WiFi.AccessPoint.1.Security.Pass Phrase' | translate"></label>
                                <ul id="strength" check-strength="DeviceWiFiAccessPoint1Security.KeyPassphrase"></ul>
                                <span class="error" forname="DeviceWiFiAccessPoint1Security_KeyPassphrase" ng-show="advformstatus && wifi2form.wifi2passphrase.$error.minlength" ng-bind="'Device.WiFi.AccessPoint.1.Security.KeyPassphrase.$error.minlength' | translate">

                                </span>
                                <span class="error" forname="DeviceWiFiAccessPoint1Security_KeyPassphrase" ng-show="advformstatus && wifi2form.wifi2passphrase.$error.maxlength" ng-bind="'Device.WiFi.AccessPoint.1.Security.KeyPassphrase.$error.maxlength' | translate">

                                </span>
                                <span class="error" forname="DeviceWiFiAccessPoint1Security_KeyPassphrase" ng-show="DeviceWiFiAccessPoint1Security_KeyPassphraseresponsestatus" ng-bind="DeviceWiFiAccessPoint1Security_KeyPassphraseval">

                                </span>
                            </div>
                            <div class="input-field1 form-group pwdtoggle_adv" ng-if="DeviceWiFiAccessPoint1Security.ModeEnabled == 'WPA2-Personal'">
                                <input id="Passwordcheckbox" name="passwordcheckbox" type="checkbox" ng-model="Passwordfieldstatus" ng-click="hideShowPassword()">
                                <label class="checkbox_right_align showpw" for="Passwordcheckbox" ng-class="Passwordfieldstatus==true ? 'hidepw checkbox_right_align' : 'showpw checkbox_right_align' "></label>
                            </div>
                        </div>
                        <div class="input-field form-group required" ng-if="DeviceWiFiAccessPoint1Security.ModeEnabled == 'WPA2-Personal'">                            
                            <input id="DeviceWiFiAccessPoint1Security_RekeyingInterval" ng-required="true" name="wifi2rekeyinterval" type="text" ng-change="textChange('DeviceWiFiAccessPoint1SecurityRekeyingInterval')" ng-model="DeviceWiFiAccessPoint1Security.RekeyingInterval" class="form-control" placeholder="{{'Device.WiFi.AccessPoint.1.Security.Rekey Interval.Enter Text Here' | translate}}">
                            <label class="required active" for="rekeyinterval" ng-bind="'Device.WiFi.AccessPoint.1.Security.Rekey Interval' | translate"></label>
                            <span class="error" forname="DeviceWiFiAccessPoint1Security_RekeyingInterval" ng-show="advformstatus && wifi2form.wifi2rekeyinterval.$error.required" ng-bind="'Device.WiFi.AccessPoint.1.Security.RekeyingInterval.$error.required' | translate">

                            </span>
                            <span class="error" forname="DeviceWiFiAccessPoint1Security_RekeyingInterval" ng-show="DeviceWiFiAccessPoint1Security_RekeyingIntervalresponsestatus" ng-bind="DeviceWiFiAccessPoint1Security_RekeyingIntervalval">

                            </span>
                        </div>
                        <div class="form-group pwdblock">
                            <div class="input-field form-group required" ng-if="DeviceWiFiAccessPoint1Security.ModeEnabled == 'WPA-Personal'">
                                <input id="DeviceWiFiAccessPoint1Security_KeyPassphrase" ng-minlength="8" ng-maxlength="63" name="wifi2passphrase1" type="{{inputType}}" ng-change="textChange('DeviceWiFiAccessPoint1SecurityKeyPassphrase')" ng-model="DeviceWiFiAccessPoint1Security.KeyPassphrase" class="form-control" placeholder="{{'Device.WiFi.AccessPoint.1.Security.Pass Phrase.Enter Password Here' | translate}}">
                                <label class="active" for="passphrase" ng-bind="'Device.WiFi.AccessPoint.1.Security.Pass Phrase' | translate"></label>
                                <ul id="strength" check-strength="DeviceWiFiAccessPoint1Security.KeyPassphrase"></ul>
                                <span class="error" forname="DeviceWiFiAccessPoint1Security_KeyPassphrase" ng-show="advformstatus && wifi2form.wifi2passphrase1.$error.minlength" ng-bind="'Device.WiFi.AccessPoint.1.Security.KeyPassphrase.$error.minlength' | translate">

                                </span>
                                <span class="error" forname="DeviceWiFiAccessPoint1Security_KeyPassphrase" ng-show="advformstatus && wifi2form.wifi2passphrase1.$error.maxlength" ng-bind="'Device.WiFi.AccessPoint.1.Security.KeyPassphrase.$error.maxlength' | translate">

                                </span>
                                <span class="error" forname="DeviceWiFiAccessPoint1Security_KeyPassphrase" ng-show="DeviceWiFiAccessPoint1Security_KeyPassphraseresponsestatus" ng-bind="DeviceWiFiAccessPoint1Security_KeyPassphraseval">

                                </span>
                            </div>
                            <div class="input-field1 form-group pwdtoggle_adv" ng-if="DeviceWiFiAccessPoint1Security.ModeEnabled == 'WPA-Personal'">
                                <input id="Passwordcheckbox" name="passwordcheckbox1" type="checkbox" ng-model="Passwordfieldstatus" ng-click="hideShowPassword()">
                                <label class="checkbox_right_align showpw" for="Passwordcheckbox" ng-class="Passwordfieldstatus==true ? 'hidepw checkbox_right_align' : 'showpw checkbox_right_align' "></label>
                            </div>
                        </div>
                        <div class="input-field form-group required" ng-if="DeviceWiFiAccessPoint1Security.ModeEnabled == 'WPA-Personal'">
                            <input id="DeviceWiFiAccessPoint1Security_RekeyingInterval" ng-required="true" name="wifi2rekeyinterval" type="text" ng-change="textChange('DeviceWiFiAccessPoint1SecurityRekeyingInterval')" ng-model="DeviceWiFiAccessPoint1Security.RekeyingInterval" class="form-control" placeholder="{{'Device.WiFi.AccessPoint.1.Security.Rekey Interval.Enter Text Here' | translate}}">
                            <label class="required active" for="rekeyinterval"  ng-bind="'Device.WiFi.AccessPoint.1.Security.Rekey Interval' | translate"></label>
                            <span class="error" forname="DeviceWiFiAccessPoint1Security_RekeyingInterval" ng-show="advformstatus && wifi2form.wifi2rekeyinterval.$error.required" ng-bind="'Device.WiFi.AccessPoint.1.Security.RekeyingInterval.$error.required' | translate">

                            </span>
                            <span class="error" forname="DeviceWiFiAccessPoint1Security_RekeyingInterval" ng-show="DeviceWiFiAccessPoint1Security_RekeyingIntervalresponsestatus" ng-bind="DeviceWiFiAccessPoint1Security_RekeyingIntervalval">

                            </span>
                        </div>
                        <div class="form-group pwdblock">
                            <div class="input-field form-group required" ng-if="DeviceWiFiAccessPoint1Security.ModeEnabled == 'WPA-WPA2-Personal'">
                                <input id="DeviceWiFiAccessPoint1Security_KeyPassphrase" ng-minlength="8" ng-maxlength="63" name="wifi2passphrase2" type="{{inputType}}" ng-change="textChange('DeviceWiFiAccessPoint1SecurityKeyPassphrase')" ng-model="DeviceWiFiAccessPoint1Security.KeyPassphrase" class="form-control" placeholder="{{'Device.WiFi.AccessPoint.1.Security.Pass Phrase.Enter Password Here' | translate}}">
                                <label class="active" for="passphrase" ng-bind="'Device.WiFi.AccessPoint.1.Security.Pass Phrase' | translate"></label>
                                <ul id="strength" check-strength="DeviceWiFiAccessPoint1Security.KeyPassphrase"></ul>
                                <span class="error" forname="DeviceWiFiAccessPoint1Security_KeyPassphrase" ng-show="advformstatus && wifi2form.wifi2passphrase2.$error.minlength" ng-bind="'Device.WiFi.AccessPoint.1.Security.KeyPassphrase.$error.minlength' | translate">

                                </span>
                                <span class="error" forname="DeviceWiFiAccessPoint1Security_KeyPassphrase" ng-show="advformstatus && wifi2form.wifi2passphrase2.$error.maxlength" ng-bind="'Device.WiFi.AccessPoint.1.Security.KeyPassphrase.$error.maxlength' | translate">

                                </span>
                                <span class="error" forname="DeviceWiFiAccessPoint1Security_KeyPassphrase" ng-show="DeviceWiFiAccessPoint1Security_KeyPassphraseresponsestatus" ng-bind="DeviceWiFiAccessPoint1Security_KeyPassphraseval">

                                </span>

                            </div>
                            <div class="input-field1 form-group pwdtoggle_adv" ng-if="DeviceWiFiAccessPoint1Security.ModeEnabled == 'WPA-WPA2-Personal'">
                                <input id="Passwordcheckbox" name="passwordcheckbox2" type="checkbox" ng-model="Passwordfieldstatus" ng-click="hideShowPassword()">
                                <label class="checkbox_right_align showpw" for="Passwordcheckbox" ng-class="Passwordfieldstatus==true ? 'hidepw checkbox_right_align' : 'showpw checkbox_right_align' "></label>
                            </div>
                        </div>
                        <div class="input-field form-group required" ng-if="DeviceWiFiAccessPoint1Security.ModeEnabled == 'WPA-WPA2-Personal'">
                            <input id="DeviceWiFiAccessPoint1Security_RekeyingInterval" ng-required="true" name="wifi2rekeyinterval" type="text" ng-change="textChange('DeviceWiFiAccessPoint1SecurityRekeyingInterval')" ng-model="DeviceWiFiAccessPoint1Security.RekeyingInterval" class="form-control" placeholder="{{'Device.WiFi.AccessPoint.1.Security.Rekey Interval.Enter Text Here' | translate}}">
                            <label class="required active" for="rekeyinterval" ng-bind="'Device.WiFi.AccessPoint.1.Security.Rekey Interval' | translate"></label>
                            <span class="error" forname="DeviceWiFiAccessPoint1Security_RekeyingInterval" ng-show="advformstatus && wifi2form.wifi2rekeyinterval.$error.required" ng-bind="'Device.WiFi.AccessPoint.1.Security.RekeyingInterval.$error.required' | translate">

                            </span>
                            <span class="error" forname="DeviceWiFiAccessPoint1Security_RekeyingInterval" ng-show="DeviceWiFiAccessPoint1Security_RekeyingIntervalresponsestatus" ng-bind="DeviceWiFiAccessPoint1Security_RekeyingIntervalval">

                            </span>
                        </div>

                        <div class="input-field form-group required" ng-if="DeviceWiFiAccessPoint1Security.ModeEnabled == 'WPA2-Enterprise'">
                            <input id="DeviceWiFiAccessPoint1Security_RadiusServerIPAddr" ng-required="true" name="wifi2radiusserverip" type="text" ng-change="textChange('DeviceWiFiAccessPoint1SecurityRadiusServerIPAddr')" ng-model="DeviceWiFiAccessPoint1Security.RadiusServerIPAddr" class="form-control" placeholder="{{'Device.WiFi.AccessPoint.1.Security.Radius Server IP.Enter Text Here' | translate}}">
                            <label class="required active" for="radiusserverip" ng-bind="'Device.WiFi.AccessPoint.1.Security.Radius Server IP' | translate"></label>
                            <span class="error" forname="DeviceWiFiAccessPoint1Security_RadiusServerIPAddr" ng-show="advformstatus && wifi2form.wifi2radiusserverip.$error.required" ng-bind="'Device.WiFi.AccessPoint.1.Security.RadiusServerIPAddr.$error.required' | translate">

                            </span>
                            <span class="error" forname="DeviceWiFiAccessPoint1Security_RadiusServerIPAddr" ng-show="DeviceWiFiAccessPoint1Security_RadiusServerIPAddrresponsestatus" ng-bind="DeviceWiFiAccessPoint1Security_RadiusServerIPAddrval">

                            </span>
                        </div>
                        <div class="input-field form-group required" ng-if="DeviceWiFiAccessPoint1Security.ModeEnabled == 'WPA2-Enterprise'">
                            <input id="DeviceWiFiAccessPoint1Security_RadiusServerPort" ng-required="true" name="wifi2radiusserverport" type="text" ng-change="textChange('DeviceWiFiAccessPoint1SecurityRadiusServerPort')" ng-model="DeviceWiFiAccessPoint1Security.RadiusServerPort" class="form-control" placeholder="{{'Device.WiFi.AccessPoint.1.Security.RADIUS Server Port.Enter Text Here' | translate}}">
                            <label class="required active" for="radiusserverport" ng-bind="'Device.WiFi.AccessPoint.1.Security.RADIUS Server Port' | translate"></label>
                            <span class="error" forname="DeviceWiFiAccessPoint1Security_RadiusServerPort" ng-show="advformstatus && wifi2form.wifi2radiusserverport.$error.required" ng-bind="'Device.WiFi.AccessPoint.1.Security.RadiusServerPort.$error.required' | translate">

                            </span>
                            <span class="error" forname="DeviceWiFiAccessPoint1Security_RadiusServerPort" ng-show="DeviceWiFiAccessPoint1Security_RadiusServerPortresponsestatus" ng-bind="DeviceWiFiAccessPoint1Security_RadiusServerPortval">

                            </span>
                        </div>
                        <div class="input-field form-group required" ng-if="DeviceWiFiAccessPoint1Security.ModeEnabled == 'WEP-64'">
                            <input id="DeviceWiFiAccessPoint1Security_WEPKey" ng-required="true" name="wifi2key" type="text" ng-change="textChange('DeviceWiFiAccessPoint1SecurityWEPKey')" ng-model="DeviceWiFiAccessPoint1Security.WEPKey" class="form-control" placeholder="{{'Device.WiFi.AccessPoint.1.Security.Key.Enter Text Here' | translate}}">
                            <label class="required active" for="key"  ng-bind="'Device.WiFi.AccessPoint.1.Security.Key' | translate"></label>
                            <span class="error" forname="DeviceWiFiAccessPoint1Security_WEPKey" ng-show="advformstatus && wifi2form.wifi2key.$error.required" ng-bind="'Device.WiFi.AccessPoint.1.Security.WEPKey.$error.required' | translate">

                            </span>
                            <span class="error" forname="DeviceWiFiAccessPoint1Security_WEPKey" ng-show="DeviceWiFiAccessPoint1Security_WEPKeyresponsestatus" ng-bind="DeviceWiFiAccessPoint1Security_WEPKeyval">

                            </span>
                        </div>
                        <div class="input-field form-group required" ng-if="DeviceWiFiAccessPoint1Security.ModeEnabled == 'WEP-128'">
                            <input id="DeviceWiFiAccessPoint1Security_WEPKey" ng-required="true" name="wifi2key" type="text" ng-change="textChange('DeviceWiFiAccessPoint1SecurityWEPKey')" ng-model="DeviceWiFiAccessPoint1Security.WEPKey" class="form-control" placeholder="{{'Device.WiFi.AccessPoint.1.Security.Key.Enter Text Here' | translate}}">
                            <label class="required active" for="key"  ng-bind="'Device.WiFi.AccessPoint.1.Security.Key' | translate"></label>
                            <span class="error" forname="DeviceWiFiAccessPoint1Security_WEPKey" ng-show="advformstatus && wifi2form.wifi2key.$error.required" ng-bind="'Device.WiFi.AccessPoint.1.Security.WEPKey.$error.required' | translate">

                            </span>
                            <span class="error" forname="DeviceWiFiAccessPoint1Security_WEPKey" ng-show="DeviceWiFiAccessPoint1Security_WEPKeyresponsestatus" ng-bind="DeviceWiFiAccessPoint1Security_WEPKeyval">

                            </span>
                        </div>
                        <div class="form-group text-right"><button type="submit" id="Modify" value="Save" formstatus="{{wifi2form.$valid}}" class="btn navy_Blue" ng-click="wifi2Apply('Device.WiFi.AccessPoint.1.Security?Device.WiFi.SSID.1', $event)" ng-bind="'Save' | translate"></button></div>
                    </form>
                </div>

                <div class="clear" ng-show="$parent._activeTab == 3">
                    <form role="form" id="reportform" name="wifi5form" class="adv_wifisecurityform" novalidate>
                        <div class="input-field form-group required">
                            <input type="text" ng-required="true" name="wifi5ssid" ng-change="textChange('DeviceWiFiSSID2SSID')" ng-model="DeviceWiFiSSID2.SSID" class="form-control" id="ssid" placeholder="{{'Device.WiFi.SSID.2.Wireless name (SSID).Enter Text Here' | translate}}">
                            <label class="required active" for="text" ng-bind="'Device.WiFi.SSID.2.Wireless name (SSID)' | translate"></label>
                            <span class="error" forname="DeviceWiFiSSID2_SSID" ng-show="advformstatus && wifi5form.wifi5ssid.$error.required" ng-bind="'Device.WiFi.SSID.2.SSID.$error.required' | translate">

                            </span>
                            <span class="error" forname="DeviceWiFiSSID2_SSID" ng-show="DeviceWiFiSSID2_SSIDresponsestatus" ng-bind="DeviceWiFiSSID2_SSIDval">

                            </span>
                        </div>                                                                                                               
                        <div class="form-group required">
                            <label for="DeviceWiFiAccessPoint2Security_ModeEnabled" ng-bind="'Device.WiFi.AccessPoint.2.Security.Authentication Method' | translate" class="active"></label>
                            <select id="DeviceWiFiAccessPoint2Security_ModeEnabled" ng-required="true" name="wifi5authentication" class="dropdown-toggle" ng-change="textChange('DeviceWiFiAccessPoint2SecurityModeEnabled')" ng-options="o.name as o.name for o in modeenabled" ng-model="DeviceWiFiAccessPoint2Security.ModeEnabled">
                            </select>                            
                            <span class="error" forname="DeviceWiFiAccessPoint2Security_ModeEnabled" ng-show="advformstatus && wifi5form.wifi5authentication.$error.required" ng-bind="'Device.WiFi.AccessPoint.2.Security.ModeEnabled.$error.required' | translate">

                            </span>
                            <span class="error" forname="DeviceWiFiAccessPoint2Security_ModeEnabled" ng-show="DeviceWiFiAccessPoint2Security_ModeEnabledresponsestatus" ng-bind="DeviceWiFiAccessPoint2Security_ModeEnabledval">

                            </span>
                        </div>
                        <div class="form-group pwdblock">
                            <div class="input-field form-group required" ng-if="DeviceWiFiAccessPoint2Security.ModeEnabled == 'WPA2-Personal'">
                                <input id="DeviceWiFiAccessPoint2Security_KeyPassphrase" type="{{inputType}}" ng-minlength="8" ng-maxlength="63" name="wifi5passphrase" ng-change="textChange('DeviceWiFiAccessPoint2SecurityKeyPassphrase')" ng-model="DeviceWiFiAccessPoint2Security.KeyPassphrase" class="form-control" placeholder="{{'Device.WiFi.AccessPoint.2.Security.Pass Phrase.Enter Password Here' | translate}}">
                                <label class="active" for="passphrase" ng-bind="'Device.WiFi.AccessPoint.2.Security.Pass Phrase' | translate"></label>
                                <ul id="strength" check-strength="DeviceWiFiAccessPoint2Security.KeyPassphrase"></ul>
                                <span class="error" forname="DeviceWiFiAccessPoint2Security_KeyPassphrase" ng-show="advformstatus && wifi5form.wifi5passphrase.$error.minlength" ng-bind="'Device.WiFi.AccessPoint.2.Security.KeyPassphrase.$error.minlength' | translate">

                                </span>
                                <span class="error" forname="DeviceWiFiAccessPoint2Security_KeyPassphrase" ng-show="advformstatus && wifi5form.wifi5passphrase.$error.maxlength" ng-bind="'Device.WiFi.AccessPoint.2.Security.KeyPassphrase.$error.maxlength' | translate">

                                </span>
                                <span class="error" forname="DeviceWiFiAccessPoint2Security_KeyPassphrase" ng-show="DeviceWiFiAccessPoint2Security_KeyPassphraseresponsestatus" ng-bind="DeviceWiFiAccessPoint2Security_KeyPassphraseval">

                                </span>
                            </div>
                            <div class="input-field1 form-group pwdtoggle_adv" ng-if="DeviceWiFiAccessPoint2Security.ModeEnabled == 'WPA2-Personal'">
                                <input id="Passwordcheckbox" name="passwordcheckbox3" type="checkbox" ng-model="Passwordfieldstatus" ng-click="hideShowPassword()">
                                <label class="checkbox_right_align showpw" for="Passwordcheckbox" ng-class="Passwordfieldstatus==true ? 'hidepw checkbox_right_align' : 'showpw checkbox_right_align' "></label>
                            </div>
                        </div>
                        <div class="input-field form-group required" ng-if="DeviceWiFiAccessPoint2Security.ModeEnabled == 'WPA2-Personal'">
                            <input id="DeviceWiFiAccessPoint2Security_RekeyingInterval" type="text" ng-required="true" name="wifi5rekeyinterval" ng-change="textChange('DeviceWiFiAccessPoint2SecurityRekeyingInterval')" ng-model="DeviceWiFiAccessPoint2Security.RekeyingInterval" class="form-control" placeholder="{{'Device.WiFi.AccessPoint.2.Security.Rekey Interval.Enter Text Here' | translate}}">
                            <label class="required active" for="rekeyinterval" ng-bind="'Device.WiFi.AccessPoint.2.Security.Rekey Interval' | translate"></label>
                            <span class="error" forname="DeviceWiFiAccessPoint2Security_RekeyingInterval" ng-show="advformstatus && wifi5form.wifi5rekeyinterval.$error.required" ng-bind="'Device.WiFi.AccessPoint.2.Security.RekeyingInterval.$error.required' | translate">

                            </span>
                            <span class="error" forname="DeviceWiFiAccessPoint2Security_RekeyingInterval" ng-show="DeviceWiFiAccessPoint2Security_RekeyingIntervalresponsestatus" ng-bind="DeviceWiFiAccessPoint2Security_RekeyingIntervalval">

                            </span>
                        </div>
                        <div class="form-group pwdblock">
                            <div class="input-field form-group required" ng-if="DeviceWiFiAccessPoint2Security.ModeEnabled == 'WPA-Personal'">
                                <input id="DeviceWiFiAccessPoint2Security_KeyPassphrase" type="{{inputType}}" ng-minlength="8" ng-maxlength="63" name="wifi5passphrase1" ng-change="textChange('DeviceWiFiAccessPoint2SecurityKeyPassphrase')" ng-model="DeviceWiFiAccessPoint2Security.KeyPassphrase" class="form-control" placeholder="{{'Device.WiFi.AccessPoint.2.Security.Pass Phrase.Enter Password Here' | translate}}">
                                <label class="active" for="passphrase" ng-bind="'Device.WiFi.AccessPoint.2.Security.Pass Phrase' | translate"></label>
                                <ul id="strength" check-strength="DeviceWiFiAccessPoint2Security.KeyPassphrase"></ul>
                                <span class="error" forname="DeviceWiFiAccessPoint2Security_KeyPassphrase" ng-show="advformstatus && wifi5form.wifi5passphrase1.$error.minlength" ng-bind="'Device.WiFi.AccessPoint.2.Security.KeyPassphrase.$error.minlength' | translate">

                                </span>
                                <span class="error" forname="DeviceWiFiAccessPoint2Security_KeyPassphrase" ng-show="advformstatus && wifi5form.wifi5passphrase1.$error.maxlength" ng-bind="'Device.WiFi.AccessPoint.2.Security.KeyPassphrase.$error.maxlength' | translate">

                                </span>
                                <span class="error" forname="DeviceWiFiAccessPoint2Security_KeyPassphrase" ng-show="DeviceWiFiAccessPoint2Security_KeyPassphraseresponsestatus" ng-bind="DeviceWiFiAccessPoint2Security_KeyPassphraseval">

                                </span>
                            </div>
                            <div class="input-field1 form-group pwdtoggle_adv" ng-if="DeviceWiFiAccessPoint2Security.ModeEnabled == 'WPA-Personal'">
                                <input id="Passwordcheckbox" name="passwordcheckbox4" type="checkbox" ng-model="Passwordfieldstatus" ng-click="hideShowPassword()">
                                <label class="checkbox_right_align showpw" for="Passwordcheckbox" ng-class="Passwordfieldstatus==true ? 'hidepw checkbox_right_align' : 'showpw checkbox_right_align' "></label>
                            </div>
                        </div>
                        <div class="input-field form-group required" ng-if="DeviceWiFiAccessPoint2Security.ModeEnabled == 'WPA-Personal'">
                            <input id="DeviceWiFiAccessPoint2Security_RekeyingInterval" type="text" ng-required="true" name="wifi5rekeyinterval" ng-change="textChange('DeviceWiFiAccessPoint2SecurityRekeyingInterval')" ng-model="DeviceWiFiAccessPoint2Security.RekeyingInterval" class="form-control" placeholder="{{'Device.WiFi.AccessPoint.2.Security.Rekey Interval.Enter Text Here' | translate}}">
                            <label class="required active" for="rekeyinterval" ng-bind="'Device.WiFi.AccessPoint.2.Security.Rekey Interval' | translate"></label>
                            <span class="error" forname="DeviceWiFiAccessPoint2Security_RekeyingInterval" ng-show="advformstatus && wifi5form.wifi5rekeyinterval.$error.required" ng-bind="'Device.WiFi.AccessPoint.2.Security.RekeyingInterval.$error.required' | translate">

                            </span>
                            <span class="error" forname="DeviceWiFiAccessPoint2Security_RekeyingInterval" ng-show="DeviceWiFiAccessPoint2Security_RekeyingIntervalresponsestatus" ng-bind="DeviceWiFiAccessPoint2Security_RekeyingIntervalval">

                            </span>
                        </div>
                        <div class="form-group pwdblock">
                            <div class="input-field form-group required" ng-if="DeviceWiFiAccessPoint2Security.ModeEnabled == 'WPA-WPA2-Personal'">
                                <input id="DeviceWiFiAccessPoint2Security_KeyPassphrase" type="{{inputType}}" ng-minlength="8" ng-maxlength="63" name="wifi5passphrase2" ng-change="textChange('DeviceWiFiAccessPoint2SecurityKeyPassphrase')" ng-model="DeviceWiFiAccessPoint2Security.KeyPassphrase" class="form-control" placeholder="{{'Device.WiFi.AccessPoint.2.Security.Pass Phrase.Enter Password Here' | translate}}">
                                <label class="active" for="passphrase" ng-bind="'Device.WiFi.AccessPoint.2.Security.Pass Phrase' | translate"></label>
                                <ul id="strength" check-strength="DeviceWiFiAccessPoint2Security.KeyPassphrase"></ul>
                                <span class="error" forname="DeviceWiFiAccessPoint2Security_KeyPassphrase" ng-show="advformstatus && wifi5form.wifi5passphrase2.$error.minlength" ng-bind="'Device.WiFi.AccessPoint.2.Security.KeyPassphrase.$error.minlength' | translate">

                                </span>
                                <span class="error" forname="DeviceWiFiAccessPoint2Security_KeyPassphrase" ng-show="advformstatus && wifi5form.wifi5passphrase2.$error.maxlength" ng-bind="'Device.WiFi.AccessPoint.2.Security.KeyPassphrase.$error.maxlength' | translate">

                                </span>
                                <span class="error" forname="DeviceWiFiAccessPoint2Security_KeyPassphrase" ng-show="DeviceWiFiAccessPoint2Security_KeyPassphraseresponsestatus" ng-bind="DeviceWiFiAccessPoint2Security_KeyPassphraseval">

                                </span>
                            </div>
                            <div class="input-field1 form-group pwdtoggle_adv" ng-if="DeviceWiFiAccessPoint2Security.ModeEnabled == 'WPA-WPA2-Personal'">
                                <input id="Passwordcheckbox" name="passwordcheckbox5" type="checkbox" ng-model="Passwordfieldstatus" ng-click="hideShowPassword()">
                                <label class="checkbox_right_align showpw" for="Passwordcheckbox" ng-class="Passwordfieldstatus==true ? 'hidepw checkbox_right_align' : 'showpw checkbox_right_align' "></label>
                            </div>
                        </div>
                        <div class="input-field form-group required" ng-if="DeviceWiFiAccessPoint2Security.ModeEnabled == 'WPA-WPA2-Personal'">
                            <input id="DeviceWiFiAccessPoint2Security_RekeyingInterval" type="text" ng-required="true" name="wifi5rekeyinterval" ng-change="textChange('DeviceWiFiAccessPoint2SecurityRekeyingInterval')" ng-model="DeviceWiFiAccessPoint2Security.RekeyingInterval" class="form-control" placeholder="{{'Device.WiFi.AccessPoint.2.Security.Rekey Interval.Enter Text Here' | translate}}">
                            <label class="required active" for="rekeyinterval" ng-bind="'Device.WiFi.AccessPoint.2.Security.Rekey Interval' | translate"></label>
                            <span class="error" forname="DeviceWiFiAccessPoint2Security_RekeyingInterval" ng-show="advformstatus && wifi5form.wifi5rekeyinterval.$error.required" ng-bind="'Device.WiFi.AccessPoint.2.Security.RekeyingInterval.$error.required' | translate">

                            </span>
                            <span class="error" forname="DeviceWiFiAccessPoint2Security_RekeyingInterval" ng-show="DeviceWiFiAccessPoint2Security_RekeyingIntervalresponsestatus" ng-bind="DeviceWiFiAccessPoint2Security_RekeyingIntervalval">

                            </span>
                        </div>

                        <div class="input-field form-group required" ng-if="DeviceWiFiAccessPoint2Security.ModeEnabled == 'WPA2-Enterprise'">
                            <input id="DeviceWiFiAccessPoint2Security_RadiusServerIPAddr" type="text" ng-required="true" name="wifi5radiusserverip" ng-change="textChange('DeviceWiFiAccessPoint2SecurityRadiusServerIPAddr')" ng-model="DeviceWiFiAccessPoint2Security.RadiusServerIPAddr" class="form-control" placeholder="{{'Device.WiFi.AccessPoint.2.Security.Radius Server IP.Enter Text Here' | translate}}">
                            <label class="required active" for="radiusserverip" ng-bind="'Device.WiFi.AccessPoint.2.Security.Radius Server IP' | translate"></label>
                            <span class="error" forname="DeviceWiFiAccessPoint2Security_RadiusServerIPAddr" ng-show="advformstatus && wifi5form.wifi5radiusserverip.$error.required" ng-bind="'Device.WiFi.AccessPoint.2.Security.RadiusServerIPAddr.$error.required' | translate">

                            </span>
                            <span class="error" forname="DeviceWiFiAccessPoint2Security_RadiusServerIPAddr" ng-show="DeviceWiFiAccessPoint2Security_RadiusServerIPAddrresponsestatus" ng-bind="DeviceWiFiAccessPoint2Security_RadiusServerIPAddrval">

                            </span>
                        </div>
                        <div class="input-field form-group required" ng-if="DeviceWiFiAccessPoint2Security.ModeEnabled == 'WPA2-Enterprise'">
                            <input id="DeviceWiFiAccessPoint2Security_RadiusServerPort" type="text" ng-required="true" name="wifi5radiusserverport" ng-change="textChange('DeviceWiFiAccessPoint2SecurityRadiusServerPort')" ng-model="DeviceWiFiAccessPoint2Security.RadiusServerPort" class="form-control" placeholder="{{'Device.WiFi.AccessPoint.2.Security.RADIUS Server Port.Enter Text Here' | translate}}">
                            <label class="required active" for="radiusserverport" ng-bind="'Device.WiFi.AccessPoint.2.Security.RADIUS Server Port' | translate"></label>
                            <span class="error" forname="DeviceWiFiAccessPoint2Security_RadiusServerPort" ng-show="advformstatus && wifi5form.wifi5radiusserverport.$error.required" ng-bind="'Device.WiFi.AccessPoint.2.Security.RadiusServerPort.$error.required' | translate">

                            </span>
                            <span class="error" forname="DeviceWiFiAccessPoint2Security_RadiusServerPort" ng-show="DeviceWiFiAccessPoint2Security_RadiusServerPortresponsestatus" ng-bind="DeviceWiFiAccessPoint2Security_RadiusServerPortval">

                            </span>
                        </div>
                        <div class="input-field form-group required" ng-if="DeviceWiFiAccessPoint2Security.ModeEnabled == 'WEP-64'">
                            <input id="DeviceWiFiAccessPoint2Security_WEPKey" type="text" ng-required="true" name="wifi5key" ng-change="textChange('DeviceWiFiAccessPoint2SecurityWEPKey')" ng-model="DeviceWiFiAccessPoint2Security.WEPKey" class="form-control" placeholder="{{'Device.WiFi.AccessPoint.2.Security.Key.Enter Text Here' | translate}}">
                            <label class="required active" for="key" ng-bind="'Device.WiFi.AccessPoint.2.Security.Key' | translate"></label>
                            <span class="error" forname="DeviceWiFiAccessPoint2Security_WEPKey" ng-show="advformstatus && wifi5form.wifi5key.$error.required" ng-bind="'Device.WiFi.AccessPoint.2.Security.WEPKey.$error.required' | translate">

                            </span>
                            <span class="error" forname="DeviceWiFiAccessPoint2Security_WEPKey" ng-show="DeviceWiFiAccessPoint2Security_WEPKeyresponsestatus" ng-bind="DeviceWiFiAccessPoint2Security_WEPKeyval">

                            </span>
                        </div>
                        <div class="input-field form-group required" ng-if="DeviceWiFiAccessPoint2Security.ModeEnabled == 'WEP-128'">
                            <input id="DeviceWiFiAccessPoint2Security_WEPKey" type="text" ng-required="true" name="wifi5key" ng-change="textChange('DeviceWiFiAccessPoint2SecurityWEPKey')" ng-model="DeviceWiFiAccessPoint2Security.WEPKey" class="form-control" placeholder="{{'Device.WiFi.AccessPoint.2.Security.Key.Enter Text Here' | translate}}">
                            <label class="required active" for="key" ng-bind="'Device.WiFi.AccessPoint.2.Security.Key' | translate"></label>
                            <span class="error" forname="DeviceWiFiAccessPoint2Security_WEPKey" ng-show="advformstatus && wifi5form.wifi5key.$error.required" ng-bind="'Device.WiFi.AccessPoint.2.Security.WEPKey.$error.required' | translate">

                            </span>
                            <span class="error" forname="DeviceWiFiAccessPoint2Security_WEPKey" ng-show="DeviceWiFiAccessPoint2Security_WEPKeyresponsestatus" ng-bind="DeviceWiFiAccessPoint2Security_WEPKeyval">

                            </span>
                        </div>

                        <div class="form-group text-right"><button type="submit" id="Modify" value="Save" class="btn navy_Blue" formstatus="{{wifi5form.$valid}}" ng-click="wifi2Apply('Device.WiFi.AccessPoint.2.Security?Device.WiFi.SSID.2', $event)" ng-bind="'Save' | translate"></button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
