<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12" ng-show="_activeTab == 1">
    <div id="innerdiv" class="form_panel">
        <div class="panel no-radius">
            <div class="panel-heading mantis" ng-bind="'advhomepage.Internet' | translate"></div>

            <div class="panel-body system_status no-padding">
                <div class="row border-b internetdiv no-margin-hr">
                    <div class="status"><p><b ng-bind="'Device.IP.Interface.*.Status' | translate"></b>&nbsp;&nbsp;<span><i class="fa" ng-class="DeviceIPInterface.Status=='Up'?'fa-arrow-up up':'fa-arrow-down down'"></i></span></p></div>
                    <span class="error" forname="DeviceIPInterface_Status" ng-show="DeviceIPInterface_Statusresponsestatus" ng-bind="DeviceIPInterface_Statusval">
                         
                    </span>
                    <div class="portinfo border-l"><p ><b class="wraptextdata" ng-bind="DeviceIPInterfaceIPv4Address.X_LANTIQ_COM_Description"></b></p></div>
                    <span class="error" forname="DeviceIPInterfaceIPv4Address_X_LANTIQ_COM_Description" ng-show="DeviceIPInterfaceIPv4Address_X_LANTIQ_COM_Descriptionresponsestatus" ng-bind="DeviceIPInterfaceIPv4Address_X_LANTIQ_COM_Descriptionval">
                         
                    </span>
                </div>
                <div class="row border-b internetdiv no-margin-hr hide">
                    <div class="status"><p><b ng-bind="'Device.IP.Interface.*.Status' | translate"></b>&nbsp;&nbsp;<span><i class="fa" ng-class="DeviceIPInterface.Status=='Up'?'fa-arrow-up up':'fa - arrow - down down'"></i></span></p></div>
                    <span class="error" forname="DeviceIPInterface_Status" ng-show="DeviceIPInterface_Statusresponsestatus" ng-bind="DeviceIPInterface_Statusval">

                    </span>
                    <div class="portinfo border-l"><p ><b class="wraptextdata" ng-bind="DeviceIPInterfaceIPv4Address.X_LANTIQ_COM_Description"></b></p></div>
                    <span class="error" forname="DeviceIPInterfaceIPv4Address_X_LANTIQ_COM_Description" ng-show="DeviceIPInterfaceIPv4Address_X_LANTIQ_COM_Descriptionresponsestatus" ng-bind="DeviceIPInterfaceIPv4Address_X_LANTIQ_COM_Descriptionval">

                    </span>
                </div>
                <form role="form" id="reportform">
                    <div class="form-group row">
                        <div class="col-lg-6 col-md-6">
                            <label for="text" ng-bind="'Device.IP.Interface.*.IPv4Address.*.Internet Address' | translate"></label>     
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <span ng-bind="DeviceIPInterfaceIPv4Address.IPAddress"></span>
                            <span class="error" forname="DeviceIPInterfaceIPv4Address_IPAddress" ng-show="DeviceIPInterfaceIPv4Address_IPAddressresponsestatus" ng-bind="DeviceIPInterfaceIPv4Address_IPAddressval">
                              
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-6 col-md-6">
                            <label for="text" ng-bind="'Device.Routing.Router.*.IPv4Forwarding.*.Default Gateway' | translate"></label>  
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <span ng-bind="DeviceRoutingRouterIPv4Forwarding.GatewayIPAddress"></span>
                            <span class="error" forname="DeviceRoutingRouterIPv4Forwarding_GatewayIPAddress" ng-show="DeviceRoutingRouterIPv4Forwarding_GatewayIPAddressresponsestatus" ng-bind="DeviceRoutingRouterIPv4Forwarding_GatewayIPAddressval">
                              
                            </span>
                        </div>
                    </div>                    
                    <div class="form-group row">
                        <div class="col-lg-6 col-md-6">
                            <label for="text" ng-bind="'Device.IP.Interface.*.IPv4Address.*.Subnet Mask' | translate"></label>  
                        </div>
                        <div class="col-lg-6 col-md-6">  
                            <span ng-bind="DeviceIPInterfaceIPv4Address.SubnetMask"></span>
                            <span class="error" forname="DeviceIPInterfaceIPv4Address_SubnetMask" ng-show="DeviceIPInterfaceIPv4Address_SubnetMaskresponsestatus" ng-bind="DeviceIPInterfaceIPv4Address_SubnetMaskval">
                              
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-6 col-md-6">
                            <label for="text" ng-bind="'advhomepage.Primary DNS' | translate"></label>
                        </div>
                        <div class="col-lg-6 col-md-6" ng-if="primarystatus=='Enabled'">
                            <span ng-bind="primarydns"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-6 col-md-6" >
                            <label for="text" ng-bind="'advhomepage.Secondary DNS' | translate"></label>
                        </div>
                        <div class="col-lg-6 col-md-6" ng-if="secondarystatus=='Enabled'">
                            <span ng-bind="secondarydns"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-6 col-md-6" >
                            <label for="text" ng-bind="'macaddress' | translate"></label>
                        </div>
                        <div class="col-lg-6 col-md-6" >
                            <span ng-bind="MacAddress"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
