    <div class="panel acc">
        <div class="panel-heading text-left"><span class="panel_heading_icon">
                <img src="images/icons/{{icon}}.png" alt="panel-icon"/>
            </span><span>{{title | translate}}</span>           
        </div>
        <div class="panel-body adv_widget no-padding">  
            <!--            <h4><span><i class={{icon}}></i></span>
                            {{title | translate}}
                        </h4>-->
            <ul ng-repeat="obj in objects track by $index">
                <li ng-repeat="key in obj| keys1 track by $index">
                    <label>
                        <span>{{key | translate}}</span> 
                        <span>{{obj[key]}}</span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
