<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Intel</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style type="text/css">
/*            .no-margin-hr{margin-left:0px !important;margin-right:0px !important; }
            .status_box{height:56px; }
            .connection_status{width:96%;display: inline-block;padding:8px 12px; }
            .connection_status div > i{color:#ffffff;}
            .connection_status label{display:block;margin:5px 0px;  }
            .home_bg{background:#847cc5 !important;}
            .mrn_bg{background:#e66454 !important;color:#ffffff;}
            .org_bg{background:#f0ad4e !important;color:#ffffff;}
            .blu_bg{background:#428bca !important;color:#ffffff;}
            .black_bg{background:transparent !important;}
            .port_status{min-height: 1px;min-width:100px;float: left;margin:0px 4px; }
            .lanport{text-align: center;margin:0px 8px; }
            .lanport>img{width:35px;}
            .lanport p{font-family:arial;font-size:8px;color:#2e2e2e;  margin:5px auto; text-align: center;}
            .grn_clr{color:#00a489}
            .mrn_clr{color:#e66454}
            .black_color{color: black !important;}
            .orange_color{color: orange !important;}
            .red_color{color: red !important;}
            .green_color{color: green !important;}
            .ver_class{font-weight: 500;}*/
        </style>
    </head>
    <body>
        <div id="translation" class="hide">backupandrestore</div>
<!--Breadscrumbs starts here -->                                                                                                      
    <div class="row ltq_breadcrumbs">                                                                                                     
        <div  ng-repeat="breadcrumb in $root.breadcrumbs" >                                                                                   
            <ng-switch on="$first">                                                                                                               
                <div class="btn-group btn-breadcrumb1" ng-switch-when="true">                                                                         
                    <div class="ltq_brd_home" >                                                                                                           
                    <a  class="btn" ng-click="homefun()" ng-href="#/{{breadcrumb.path}}">                                                                 
                        <i class="fa fa-home"></i>                                                                                                            
                            {{breadcrumb.name}}                                                                                                                   
                    </a>                                                                                                                                  
                    </div>                                                                                                                                
                </div>                                                                                                                                

                <div class="btn-group btn-breadcrumb" ng-switch-when="false" >                                                                        

                    <span class="btn btn-default not-active" ng-if="breadcrumb.path == 'nothing' || $last == true" >                                      
                        {{breadcrumb.name}}                                                                                                               
                    </span>                                                                                                                               
                    <span ng-if ="breadcrumb.path != 'nothing' &&
                                            $last == false">                                                                                                                              
                        <a  class="btn" ng-href="#/{{breadcrumb.path}}">                                                                                      
                            <i></i>                                                                                                                               
                            {{breadcrumb.name}}                                                                                                                   
                        </a>                                                                                                                                  
                    </span>                                                                                                                               
                </div>                                                                                                                                 

            </ng-switch>                                                                                                                            
        </div>                                                                                                                                   
    </div>                                                                                                                                  
<!--Breadscrumbs ends here --> 
        <div class="subheader">
            <div>
                <img src="images/backupstore-1.png" alt="image" class="iconDetails">
            </div>
            <div><h4 ng-bind="'backupandrestore.headername'| translate"></h4></div>
            <p ng-bind="'backupandrestore.headerdescription'| translate"></p>
        </div>
        <div class="backuprestore" ng-controller="backupRestoreController" ng-cloak>
            <div class="row" ng-show="backupformnamepopup">
                    <div class="alert alert-danger">
                        <a class="close" aria-label="close" ng-click="popupclose('backupformnamepopup')">&times;</a>
                        <strong ng-bind="'Warning!' | translate"></strong><span ng-bind="backupformnamepopupval"></span>
                    </div>
            </div>
            <div class="row" ng-show="DeviceX_LANTIQ_COM_Upgradepopup">
                    <div class="alert alert-danger">
                        <a class="close" aria-label="close" ng-click="popupclose('DeviceX_LANTIQ_COM_Upgradepopup')">&times;</a>
                        <strong ng-bind="'Warning!' | translate"></strong><span ng-bind="DeviceX_LANTIQ_COM_Upgradepopupval"></span>
                    </div>
            </div>
            <div class="row" ng-show="DeviceX_LANTIQ_COM_UpgradeUpgradeLatestUpgrade1popup">
                    <div class="alert alert-danger">
                        <a class="close" aria-label="close" ng-click="popupclose('DeviceX_LANTIQ_COM_UpgradeUpgradeLatestUpgrade1popup')">&times;</a>
                        <strong ng-bind="'Warning!' | translate"></strong><span ng-bind="DeviceX_LANTIQ_COM_UpgradeUpgradeLatestUpgrade1popupval"></span>
                    </div>
            </div>
            <div class="row" ng-show="fileuploadformnamepopup">
                    <div class="alert alert-danger">
                        <a class="close" aria-label="close" ng-click="popupclose('fileuploadformnamepopup')">&times;</a>
                        <strong ng-bind="'Warning!' | translate"></strong><span ng-bind="fileuploadformnamepopupval"></span>
                    </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 no-padding-hr-l">
                    <div class="panel">
                        <div class="panel-heading org_bg"><span class="panel_heading_icon"><img src="images/icons/panel-heading-icon.png" alt="panel-icon"/></span><span ng-bind="'backupandrestore.Restore' | translate"></span></div>
                        <div class="panel-body">
                            <p ng-bind="'backupandrestore.Restore the current configuration file' | translate"></p>
                            <h4 ng-bind="'backupandrestore.Restore.Drag and drop files below' | translate"></h4>
                            <!--<form action="/upload-target" class="dropzone"></form>-->
                            <div fu-file-dropper ng-model="fileList3" type="restore" ng-bind="'backupandrestore.Restore.Drop files here' | translate"></div>
                            <div ng-repeat="f in fileList3">- {{f.name}}</div>
                            <h4 ng-bind="'backupandrestore.Restore.Drag and drop the files (or) Select files from your computer' | translate"></h4>
                            <form method="POST" enctype="multipart/form-data" onsubmit="return false">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <input id="Restore" type="file" file-model="myFile" name="restore">
                                    </div>
                                    <!--<button type="button" class="btn btn-info">Upload files</button>-->
                                    <div class="text-right">
                                    <button class="btn btn-info waves-effect waves-light" id="Modify" name="Restore" value="Restore" ng-click="Restore()" title="Restore"><span class="hidden-xs" ng-bind="'Restore' | translate"></span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 no-padding-hr-r">
                    <div class="panel">
                        <div class="panel-heading blu_bg"><span class="panel_heading_icon"><img src="images/icons/panel-heading-icon.png" alt="panel-icon"/></span><span ng-bind="'backupandrestore.Firmware Upgrade' | translate"></span></div>
                        <div class="panel-body">
                            <div><span class="ver_class" ng-bind="'Device.X_LANTIQ_COM_Upgrade.Version' | translate"></span><span> {{version}}</span></div>
                            <div><span class="ver_class" ng-bind="'Device.X_LANTIQ_COM_Upgrade.Upgrade&LatestUpgrade=1.Last Image Upgrade' | translate"></span><span class="{{colorId}}"> {{stateValue}}</span></div>
                            <h4 ng-bind="'backupandrestore.Firmware Upgrade.Drag and drop files below' | translate"></h4>
                            <!--<form action="/upload-target" class="dropzone"></form>-->
                            <div fu-file-dropper ng-model="fileList4" type="firmware" ng-bind="'backupandrestore.Firmware Upgrade.Drop files here' | translate"></div>
                            <div ng-repeat="f in fileList4">- {{f.name}}</div>
                            <h4 ng-bind="'backupandrestore.Firmware Upgrade.Drag and drop the files (or) Select files from your computer' | translate"></h4>
                            <form method="POST" enctype="multipart/form-data" onsubmit="return false">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <input id="Firmware" type="file" file-model="myFile" name="firmware">
                                    </div>
                                    <!--<button type="button" class="btn btn-info">Upload files</button>-->
                                    <div class="text-right">
                                    <button class="btn btn-info waves-effect waves-light" id="Modify" name="Firmwareupgrade" value="Firmwareupgrade" ng-click="firmwareUpgrade()" title="Firmware upgrade"><span class="hidden-xs" ng-bind="'Upgrade Firmware' | translate"></span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 no-padding-hr-l">
                    <div class="panel">
                        <div class="panel-heading mrn_bg"><span class="panel_heading_icon"><img src="images/icons/panel-heading-icon.png" alt="panel-icon"/></span><span ng-bind="'backupandrestore.BackUp' | translate"></span></div>
                        <div class="panel-body">
                            <div class="content_body">
                                <p ng-bind="'backupandrestore.Backup the current configuration file to your local machine' | translate"></p>
                            </div>
                            <div class="text-right">
                            <div class="btn-group text-center">
                                <button class="btn btn-info waves-effect waves-light" id="Modify" name="Backup" value="Backup" ng-click="backUp()" title="Backup"><span class="hidden-xs" ng-bind="'Backup' | translate"></span></button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
