<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="translation" class="hide">bridgeform</div>
        <div ng-controller="bridgeFormController" ng-cloak>
            <!--Breadscrumbs starts here -->                                                                                                      
            <div class="row ltq_breadcrumbs">                                                                                                     
                <div  ng-repeat="breadcrumb in $root.breadcrumbs" >                                                                                   
                    <ng-switch on="$first">                                                                                                               
                        <div class="btn-group btn-breadcrumb1" ng-switch-when="true">                                                                         
                            <div class="ltq_brd_home" >                                                                                                           
                                <a  class="btn" ng-click="homefun()" ng-href="#/{{breadcrumb.path}}">                                                                 
                                    <i class="fa fa-home"></i>                                                                                                            
                                    {{breadcrumb.name}}                                                                                                                   
                                </a>                                                                                                                                  
                            </div>                                                                                                                                
                        </div>                                                                                                                                

                        <div class="btn-group btn-breadcrumb" ng-switch-when="false" >                                                                        

                            <span class="btn btn-default not-active" ng-if="breadcrumb.path == 'nothing' || $last == true" >                                      
                                {{breadcrumb.name}}                                                                                                               
                            </span>                                                                                                                               
                            <span ng-if ="breadcrumb.path != 'nothing' &&
                                                $last == false">                                                                                                                              
                                <a  class="btn" ng-href="#/{{breadcrumb.path}}">                                                                                      
                                    <i></i>                                                                                                                               
                                    {{breadcrumb.name}}                                                                                                                   
                                </a>                                                                                                                                  
                            </span>                                                                                                                               
                        </div>                                                                                                                                 

                    </ng-switch>                                                                                                                            
                </div>                                                                                                                                   
            </div>                                                                                                                                  
            <!--Breadscrumbs ends here --> 
            <div class="subheader">
                <div>
                    <img src="images/icons/multicast.png" class="iconDetails" alt="img">
                </div>
                <div style="margin-left:40px;"><h4 ng-bind="'bridgeform.headername' | translate"></h4></div>
                <p ng-bind="'bridgeform.headerdescription' | translate"></p>
            </div>
            
            
            <div class="row" ng-show="multiwanformpopup">
                <div class="alert alert-danger">
                    <a class="close" aria-label="close" ng-click="popupclose('multiwanformpopup')">&times;</a>
                    <strong ng-bind="'Warning!' | translate"></strong><span ng-bind="multiwanformpopupval"></span>
                </div>
            </div>
            <div class="row" ng-show="multiwanformpostpopup">
                <div class="alert alert-danger">
                    <a class="close" aria-label="close" ng-click="popupclose('multiwanformpostpopup')">&times;</a>
                    <strong ng-bind="'Warning!' | translate"></strong><span ng-bind="multiwanformpostpopupval"></span>
                </div>
            </div>
            
	    <div class="help_toggle helpshow" ng-class="$root.scopevariable ? 'helpshow' : 'helphide'" ng-init="$root.scopevariable=true">
                    <div class="help_txtcontent">
                        <a helpfile="languages/*/{{'bridgeform.helpkey' | translate}}" ng-click="helpTextDetails($event)" href="">
                            <i class="fa fa-info circle_bg"></i>
                        </a>
                        <div class="help_content" ng-include="$root.helpfile"></div>
                    </div>
            </div>
            
<!--            help file ends here-->
            
            <div class="panel-heading blu_bg">
<img class="panel_icons" src="images/icons/settings-1.png"><span ng-bind="
                            'bridgeform.settings' | translate
                        " class="ng-binding"></span>
</div>
            <div class="panel-body no-padding">
<div class="alert alert-danger ng-hide" ng-show="DeviceBridgingBridgepopup">
<a class="close" aria-label="close" ng-click="popupclose(&quot;DeviceBridgingBridgepopup&quot;);
                        ">✖
                        
                    </a><p ng-bind-html="DeviceBridgingBridgepopupval | unsafe" class="ng-binding"></p>
</div>
<form polling="" interval="" loadstatus="" class="form-horizontal formCount lantiq-form-text ng-pristine ng-valid" ng-init="" name="DeviceBridgingBridge_form" name1="Device.Bridging.Bridge.1?,X_LANTIQ_COM_BridgeMembers,Add" id="DeviceBridgingBridge1"><div class="">
<div class="wrapperdiv"><div class="panel-body">
<div class="row"><div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 wps_txt">This page only supports Add/Remove LAN interfaces.To Add/Remove WAN interfaces go to Internet.Please note that any new bridge created will not have DHCP Server running on it.</div></div>
<div class="form-group multicheckbox"><div class="row">
<label for="X_LANTIQ_COM_BridgeMembers" class="col-sm-12 col-md-3 col-lg-3 control-label multi-checkbox-label" ng-bind="'Device.Bridging.Bridge.*.Bridge Members' | translate">Bridge Members</label>
    <div class="col-sm-12 col-md-3 col-lg-3"><div class="checkbox-scroll-vr" id="DeviceBridgingBridge_X_LANTIQ_COM_BridgeMembers" ng-init="checkboxurl(&quot;cgi_get_filterbyfirstparamval?Object=Device.IP.Interface&amp;X_LANTIQ_COM_UpStream=false&amp;Name=&amp;Object=Device.X_LANTIQ_COM_NwHardware.WANConnection&amp;AddressType=Bridged&amp;ConnectionName=&quot;,&quot;X_LANTIQ_COM_BridgeMembers&quot;,&quot;&quot;)"><!-- ngRepeat: role in X_LANTIQ_COM_BridgeMembers.split(',') --><p ng-repeat="
                                        role in X_LANTIQ_COM_BridgeMembers.split(',')"><input type="checkbox" ng-disabled="shouldDisable(role)"
                                        id="X_LANTIQ_COM_BridgeMembers{{$index+1}}" ng-change="check(role,checked,'DeviceBridgingBridge.X_LANTIQ_COM_BridgeMembers')" checklist-value="role" class="" checklist-model="getRoles('DeviceBridgingBridge.X_LANTIQ_COM_BridgeMembers')"><label class="checkbox-listview" for="X_LANTIQ_COM_BridgeMembers{{$index+1}}">
                                        {{role}}
                                    </label></p><!-- end ngRepeat: role in X_LANTIQ_COM_BridgeMembers.split(',') --></div></div>
</div></div>
</div></div>
<div class="col-lg-12 col-md-12 col-xs-12 text-right"></div>
<div class="col-lg-12 col-md-12 col-xs-12 text-right"><div class="btn-align">
	<input type="button" class="waves-effect waves-light btn btn-info " id="Add" value="Apply" source="Device.Bridging.Bridge.1?,X_LANTIQ_COM_BridgeMembers,Add" hiddenparams="Device.Bridging.Bridge.1?" formname="DeviceBridgingBridge" relationformname="DeviceBridgingBridge," ng-click="Add($event,'bridgetable')">
	
	
<input type="button" class="waves-effect waves-light btn btn-info" id="Modify" value="Apply"
 source="Device.Bridging.Bridge.1?,X_LANTIQ_COM_BridgeMembers,Add" hiddenparams="Device.Bridging.Bridge.1?" 
formname="DeviceBridgingBridge1" relationformname="DeviceBridgingBridge1," ng-click="Modify($event)">
<div class="btn-group text-center">
                                            <button class="btn btn-info waves-effect waves-light" id="Close" value="Close" ng-click="Cancel('bridgetable')" title="Cancel" ><span ng-bind="'Cancel' | translate"></span></button>
                                        </div>
	
	</div></div>
	

<!--
	 <input id="Add" formstatus="{{dualwanform.$valid}}" class="btn btn-info waves-effect waves-light" type="button" ng-click="Add($event)"  value="{{'Save'|translate}}">
                                            <input id="Modify" formstatus="{{dualwanform.$valid}}" class="btn btn-info waves-effect waves-light" type="button" ng-click="Modify($event)"  value="{{'Save'|translate}}">
-->
				</form>
</div>
            
            </div>
        </div>
    </body>
</html>
