<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style type="text/css">           
/*            ul.listview-col-2{list-style: none;padding-left:0px;width:100%; background: #ffffff;border:1px solid #dedede;}
            ul.listview-col-2 li{display: block;width:100%;padding:4px 8px;border-bottom:1px solid #dedede; }
            ul.listview-col-2 li:last-child{border:0px solid #dedede; }
            ul.listview-col-2 li span{width:45%;display:inline-block;}
            ul.listview-col-2 li span+span{margin-left:5px;font-weight: bold;}
            Tabs design 
            ul.nav-tab-internal{list-style: none;padding-left:0px;width:100%;}
            ul.nav-tab-internal li{width:33.333%;height:34px;float:left;font-weight:bold;line-height:32px;display: inline-block;text-align: center;cursor:pointer;  }
            ul.nav-tab-internal li.active{border-bottom:3px solid #428bca;}
            .call-history{width:100%;float: left;display:block;margin:10px auto;}
            .call-history ul{width:100%;display:inline-block;list-style: none;padding-left:0px;border:1px solid #dedede; }
            .call-history ul li{float:left;width:100%;display: inline-block;text-align:left;background:#ffffff;border-bottom:1px solid #dedede; padding:5px 0px;}
            .call-history ul li:last-child{border:0px;}
            .call-history ul li>span{display:inline;text-align:left;padding:4px 40px; }
            i.fa-phone{position: relative;margin-right:10px; }
            i.fa-level-up{position:absolute;margin:0px 0px 0px -20px;}
            i.fa-level-down{position:absolute;margin:0px 0px 0px -20px;}
            .msdcall{color:#e7463e;}
            .receivedcall{color:#4aaf48;}
            .dialedcall{color:#1486c3}
            .voip_btn{margin:5px;float: right; }
            .voip_btn >button{margin:0px 8px;float: right;}           */

        </style>
    </head>
    <body>
        <div id="translation" class="hide">callregister</div>
        <div ng-controller="callregisterController" ng-cloak>
<!--Breadscrumbs starts here -->                                                                                                      
    <div class="row ltq_breadcrumbs">                                                                                                     
        <div  ng-repeat="breadcrumb in $root.breadcrumbs" >                                                                                   
            <ng-switch on="$first">                                                                                                               
                <div class="btn-group btn-breadcrumb1" ng-switch-when="true">                                                                         
                    <div class="ltq_brd_home" >                                                                                                           
                    <a  class="btn" ng-click="homefun()" ng-href="#/{{breadcrumb.path}}">                                                                 
                        <i class="fa fa-home"></i>                                                                                                            
                            {{breadcrumb.name}}                                                                                                                   
                    </a>                                                                                                                                  
                    </div>                                                                                                                                
                </div>                                                                                                                                

                <div class="btn-group btn-breadcrumb" ng-switch-when="false" >                                                                        

                    <span class="btn btn-default not-active" ng-if="breadcrumb.path == 'nothing' || $last == true" >                                      
                        {{breadcrumb.name}}                                                                                                               
                    </span>                                                                                                                               
                    <span ng-if ="breadcrumb.path != 'nothing' &&
                                            $last == false">                                                                                                                              
                        <a  class="btn" ng-href="#/{{breadcrumb.path}}">                                                                                      
                            <i></i>                                                                                                                               
                            {{breadcrumb.name}}                                                                                                                   
                        </a>                                                                                                                                  
                    </span>                                                                                                                               
                </div>                                                                                                                                 

            </ng-switch>                                                                                                                            
        </div>                                                                                                                                   
    </div>                                                                                                                                  
<!--Breadscrumbs ends here --> 
            <div class="subheader">
                <div>
                    <img src="images/icons/voip.png" class="iconDetails" alt="img">
                </div>
                <div style="margin-left:70px;"><h4 ng-bind="'callregister.headername' | translate"></h4></div>
                <p ng-bind="'callregister.headerdescription' | translate"></p>
            </div>
            <div class="row" ng-show="callregisterpopup">
                <div class="alert alert-danger">
                    <a class="close" aria-label="close" ng-click="popupclose('callregisterpopup')">&times;</a>
                    <strong ng-bind="'Warning!' | translate"></strong><span ng-bind="callregisterpopupval"></span>
                </div>
            </div>
            <div class="row" ng-show="linecallregisterpopup">
                <div class="alert alert-danger">
                    <a class="close" aria-label="close" ng-click="popupclose('linecallregisterpopup')">&times;</a>
                    <strong ng-bind="'Warning!' | translate"></strong><span ng-bind="linecallregisterpopupval"></span>
                </div>
            </div>
			<div class="row" ng-show="linespopup">
                <div class="alert alert-danger">
                    <a class="close" aria-label="close" ng-click="popupclose('linespopup')">&times;</a>
                    <strong ng-bind="'Warning!' | translate"></strong><span ng-bind="linespopupval"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="panel">
                        <div class="panel-heading blu_bg" ng-bind="'callregister.PSTN Line - Call Register' | translate"></div>
                        <div class="panel-body">
                            <ul class="nav-tab-internal">
                                <li ng-class="callregisterstatus == 'missedcall' ? 'active' : ''"  ng-init="callregisterstatus = 'missedcall';
                                                        callregister('callregisterstatus', 'missedcall', 'Device.Services.VoiceService.1.X_VENDOR_COM_FxoPhyIf.1.X_VENDOR_COM_MissCallRegister.X_VENDOR_COM_MissCallRegEntry.*?X_VENDOR_COM_CallDate,X_VENDOR_COM_CallTime,X_VENDOR_COM_UserName');" 
                                                                            ng-click="callregister('callregisterstatus', 'missedcall', 'Device.Services.VoiceService.1.X_VENDOR_COM_FxoPhyIf.1.X_VENDOR_COM_MissCallRegister.X_VENDOR_COM_MissCallRegEntry.*?X_VENDOR_COM_CallDate,X_VENDOR_COM_CallTime,X_VENDOR_COM_UserName')" ng-bind="'callregister.Missed Call' | translate">
                                    <i class="fa fa-phone fa-2x"></i><i class="fa fa-level-down msdcall"></i>
                                    
                                </li>                        
                                <li ng-class="callregisterstatus == 'recievedcall' ? 'active' : ''" ng-click="callregister('callregisterstatus', 'recievedcall', 'Device.Services.VoiceService.1.X_VENDOR_COM_FxoPhyIf.1.X_VENDOR_COM_RecvCallRegister.X_VENDOR_COM_RecvCallRegEntry.*?X_VENDOR_COM_CallDate,X_VENDOR_COM_CallTime,X_VENDOR_COM_UserName')" ng-bind="'callregister.Received Call' | translate">
                                    <i class="fa fa-phone fa-2x"></i><i class="fa fa-level-down receivedcall"></i>
                                    
                                </li>                        
                                <li ng-class="callregisterstatus == 'dialledcall' ? 'active' : ''" ng-click="callregister('callregisterstatus', 'dialledcall', 'Device.Services.VoiceService.1.X_VENDOR_COM_FxoPhyIf.1.X_VENDOR_COM_DialCallRegister.X_VENDOR_COM_DialCallRegEntry.*?X_VENDOR_COM_CallDate,X_VENDOR_COM_CallTime,X_VENDOR_COM_UserName')" ng-bind="'callregister.Dailed Call' | translate">
                                    <i class="fa fa-phone fa-2x"></i>
                                    <i class="fa fa-level-up dialedcall"></i>
                                    
                                </li>                        
                            </ul>

                            <div class="call-history checkbox-scroll-vr">
                                <ul>
                                    <li ng-repeat="object in callregisterarray" >
                                        <span ng-repeat="key in object">
                                            {{key}}
                                        </span>
                                    </li>
                                </ul>
                                <div class="btn-group text-left">
                                    <button id="pstllinecallhistoryobject" value="delete" ng-click="historydelete($event)" class="btn btn-info" title="Delete" ng-bind="'Delete' | translate"></button>
                                </div>
                            </div>
                            <div class="row no-margin-hr text-center">
                                <div class="btn-group">
                                    <button id="Device.Services.VoiceService.1.X_VENDOR_COM_FxoPhyIf.1" value="deleteall" class="btn btn-info" title="Delete" ng-click="deleteAll($event)" ng-bind="'Delete All' | translate"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6" ng-repeat="linenumber in lines">
                    <div class="row" ng-show="linenumberpopup">
                        <div class="alert alert-danger">
                            <a class="close" aria-label="close" ng-click="popupclose('linenumberpopup')">&times;</a>
                            <strong ng-bind="'Warning!' | translate"></strong><span ng-bind="linenumberpopupval"></span>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading blu_bg">Line {{$index+1}}  - Call Register</div>
                        <div class="panel-body">
                            <ul class="nav-tab-internal">
                                <li ng-class="{{linestatus[$index]}} == 'missedcall' ? 'active' : ''"  ng-init="
                                                        linecallregister(linestatus[$index], 'missedcall', linenumber.objname, 'X_VENDOR_COM_MissCallRegister.X_VENDOR_COM_MissCallRegEntry.*?X_VENDOR_COM_CallDate,X_VENDOR_COM_CallTime,X_VENDOR_COM_DestAddr');" ng-click="linecallregister(linestatus[$index], 'missedcall', linenumber.objname, 'X_VENDOR_COM_MissCallRegister.X_VENDOR_COM_MissCallRegEntry.*?X_VENDOR_COM_CallDate,X_VENDOR_COM_CallTime,X_VENDOR_COM_UserName')" ng-bind="'callregister.Missed Call' | translate">
                                    <i class="fa fa-phone fa-2x"></i><i class="fa fa-level-down msdcall"></i>
                                    
                                </li>                        
                                <li ng-class="{{linestatus[$index]}} == 'recievedcall' ? 'active' : ''" ng-click="linecallregister(linestatus[$index], 'recievedcall', linenumber.objname, 'X_VENDOR_COM_RecvCallRegister.X_VENDOR_COM_RecvCallRegEntry.*?X_VENDOR_COM_CallDate,X_VENDOR_COM_CallTime,X_VENDOR_COM_UserName')" ng-bind="'callregister.Received Call' | translate">
                                    <i class="fa fa-phone fa-2x"></i><i class="fa fa-level-down receivedcall"></i></li>                        
                                <li ng-class="{{linestatus[$index]}} == 'dialledcall' ? 'active' : ''" ng-click="linecallregister(linestatus[$index], 'dialledcall', linenumber.objname, 'X_VENDOR_COM_DialCallRegister.X_VENDOR_COM_DialCallRegEntry.*?X_VENDOR_COM_CallDate,X_VENDOR_COM_CallTime,X_VENDOR_COM_UserName')" ng-bind="'callregister.Dailed Call' | translate">
                                    <i class="fa fa-phone fa-2x"></i><i class="fa fa-level-up dialedcall"></i></li>                        
                            </ul>
                            <div class="call-history checkbox-scroll-vr">
                                <ul>
                                    <li ng-repeat="object in replacedigit(linenumber.objname)">
                                        <span ng-repeat="key in object">
                                            {{key}}
                                        </span>
                                    </li>
                                </ul>
                                <div class="btn-group text-left">
                                    <button id="{{linenumber.activetab}}" value="delete" ng-click="linedelete($event)" class="btn btn-info" title="Delete" ng-bind="'Delete' | translate"></button>
                                </div>
                            </div>
                            <div class="row no-margin-hr text-center">
                                <div class="btn-group">
                                    <button id="{{linenumber.objname}}" value="deleteall" class="btn btn-info" title="Delete" ng-click="deleteAll($event)" ng-bind="'Delete All' | translate"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>       
    </body>
</html>
