<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body >
        <div id="translation" class="hide">callingfeatures</div>
<!--Breadscrumbs starts here -->                                                                                                      
    <div class="row ltq_breadcrumbs">                                                                                                     
        <div  ng-repeat="breadcrumb in $root.breadcrumbs" >                                                                                   
            <ng-switch on="$first">                                                                                                               
                <div class="btn-group btn-breadcrumb1" ng-switch-when="true">                                                                         
                    <div class="ltq_brd_home" >                                                                                                           
                    <a  class="btn" ng-click="homefun()" ng-href="#/{{breadcrumb.path}}">                                                                 
                        <i class="fa fa-home"></i>                                                                                                            
                            {{breadcrumb.name}}                                                                                                                   
                    </a>                                                                                                                                  
                    </div>                                                                                                                                
                </div>                                                                                                                                

                <div class="btn-group btn-breadcrumb" ng-switch-when="false" >                                                                        

                    <span class="btn btn-default not-active" ng-if="breadcrumb.path == 'nothing' || $last == true" >                                      
                        {{breadcrumb.name}}                                                                                                               
                    </span>                                                                                                                               
                    <span ng-if ="breadcrumb.path != 'nothing' &&
                                            $last == false">                                                                                                                              
                        <a  class="btn" ng-href="#/{{breadcrumb.path}}">                                                                                      
                            <i></i>                                                                                                                               
                            {{breadcrumb.name}}                                                                                                                   
                        </a>                                                                                                                                  
                    </span>                                                                                                                               
                </div>                                                                                                                                 

            </ng-switch>                                                                                                                            
        </div>                                                                                                                                   
    </div>                                                                                                                                  
<!--Breadscrumbs ends here --> 
        <div class="subheader">
            <div>
                <img src="images/icons/voip.png" class="iconDetails" alt="img">
            </div>
            <div><h4 ng-bind="'callingfeatures.headername' | translate"></h4></div>
            <p ng-bind="'callingfeatures.headerdescription' | translate"></p>
        </div>
        <div ng-controller="callingfeaturesController" ng-cloak>
            <div class="row" ng-show="callingfeaturespostformnamepopup">
                <div class="alert alert-danger">
                    <a class="close" aria-label="close" ng-click="popupclose('callingfeaturespostformnamepopup')">&times;</a>
                    <strong ng-bind="'Warning!' | translate"></strong><span ng-bind="callingfeaturespostformnamepopupval"></span>
                </div>
            </div>
            <div class="row" ng-show="callingfeaturesgetformnamepopup">
                <div class="alert alert-danger">
                    <a class="close" aria-label="close" ng-click="popupclose('callingfeaturesgetformnamepopup')">&times;</a>
                    <strong ng-bind="'Warning!' | translate"></strong><span ng-bind="callingfeaturesgetformnamepopupval"></span>
                </div>
            </div>
            <div class="row">
                <div class="panel">
                    <div class="panel-heading blu_bg"><span class="panel_heading_icon"><img src="images/icons/panel-heading-icon.png" alt="panel-icon"/></span><span ng-bind="'callingfeatures.Calling features' | translate"></span></div>
                    <div class="panel-body">
                        <form class="form-horizontal lantiq-form-text">
                            <div class="form-group">                                
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <!--                                    <span ng-class="{
                                                                                    checked:DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallerIDEnable
                                                                                }" ng-click="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallerIDEnable = !DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallerIDEnable;
                                                                                                    toggleClick('DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallerIDEnable')" class="switch" ng-change="toggleClick" name="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallerIDEnable" ng-model="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallerIDEnable" off="Off" on="On" id="CallerIDEnable">
                                                                            <small></small><input type="checkbox" style="display:none" ng-model="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallerIDEnable" name="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallerIDEnable" id="CallerIDEnable" class="ng-pristine ng-untouched ng-valid">
                                                                            <span class="switch-text"><span class="on">On</span><span class="off">Off</span></span>
                                                                        </span>-->
                                    <input id="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallerIDEnable" name="CallerIDEnable" type="checkbox" class="form-control" ng-change="textChange('DeviceServicesVoiceServiceVoiceProfileLineCallingFeaturesCallerIDEnable')" ng-model="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallerIDEnable" ng-true-value="'1'" ng-false-value="'0'">
                                    <label for="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallerIDEnable" class="checkbox_left_align col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-bind="'Device.Services.VoiceService.VoiceProfile.*.Line.*.CallingFeatures.Caller ID Enable' | translate"></label>
                                    <span class="error call_feature" forname="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallerIDEnable" ng-show="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallerIDEnableresponsestatus" ng-bind="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallerIDEnableval">
                                           
                                    </span>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <!--                                    <span ng-class="{
                                                                                    checked:DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.DoNotDisturbEnable
                                                                                }" ng-click="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.DoNotDisturbEnable = !DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.DoNotDisturbEnable;
                                                                                                    toggleClick('DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.DoNotDisturbEnable')" class="switch" ng-change="toggleClick" name="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.DoNotDisturbEnable" ng-model="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.DoNotDisturbEnable" off="Off" on="On" id="DoNotDisturbEnable">
                                                                            <small></small><input type="checkbox" style="display:none" ng-model="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.DoNotDisturbEnable" name="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.DoNotDisturbEnable" id="DoNotDisturbEnable" class="ng-pristine ng-untouched ng-valid">
                                                                            <span class="switch-text"><span class="on">On</span><span class="off">Off</span></span>
                                                                        </span>-->
                                    <input id="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_DoNotDisturbEnable" name="DoNotDisturbEnable" type="checkbox" class="form-control" ng-change="textChange('DeviceServicesVoiceServiceVoiceProfileLineCallingFeaturesDoNotDisturbEnable')" ng-model="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.DoNotDisturbEnable" ng-true-value="'1'" ng-false-value="'0'">
                                    <label for="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_DoNotDisturbEnable" class="checkbox_left_align col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-bind="'Device.Services.VoiceService.VoiceProfile.*.Line.*.CallingFeatures.Do Not Disturb' | translate"></label>
                                    <span class="error call_feature" forname="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_DoNotDisturbEnable" ng-show="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_DoNotDisturbEnableresponsestatus" ng-bind="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_DoNotDisturbEnableval">
                                           
                                    </span>
                                </div>
                            </div>
<!--                            <div class="form-group">
                                
                            </div>-->
                            <div class="form-group">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <!--                                    <span ng-class="{
                                                                                    checked:DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallWaitingEnable
                                                                                }" ng-click="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallWaitingEnable = !DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallWaitingEnable;
                                                                                                    toggleClick('DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallWaitingEnable')" class="switch" ng-change="toggleClick" name="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallWaitingEnable" ng-model="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallWaitingEnable" off="Off" on="On" id="CallWaitingEnable">
                                                                            <small></small><input type="checkbox" style="display:none" ng-model="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallWaitingEnable" name="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallWaitingEnable" id="CallWaitingEnable" class="ng-pristine ng-untouched ng-valid">
                                                                            <span class="switch-text"><span class="on">On</span><span class="off">Off</span></span>
                                                                        </span>-->
                                    <input id="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallWaitingEnable" name="CallWaitingEnable" type="checkbox" class="form-control" ng-change="textChange('DeviceServicesVoiceServiceVoiceProfileLineCallingFeaturesCallWaitingEnable')" ng-model="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallWaitingEnable" ng-true-value="'1'" ng-false-value="'0'">
                                    <label for="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallWaitingEnable" class="checkbox_left_align col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-bind="'Device.Services.VoiceService.VoiceProfile.*.Line.*.CallingFeatures.Call Waiting' | translate"></label>
                                    <span class="error call_feature" forname="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallWaitingEnable" ng-show="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallWaitingEnableresponsestatus" ng-bind="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallWaitingEnableval">
                                           
                                    </span>
                                </div>
                                
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <!--                                    <span ng-class="{
                                                                                    checked:DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.AnonymousCallBlockEnable
                                                                                }" ng-click="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.AnonymousCallBlockEnable = !DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.AnonymousCallBlockEnable;
                                                                                                    toggleClick('DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.AnonymousCallBlockEnable')" class="switch" ng-change="toggleClick" name="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.AnonymousCallBlockEnable" ng-model="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.AnonymousCallBlockEnable" off="Off" on="On" id="AnonymousCallBlockEnable">
                                                                            <small></small><input type="checkbox" style="display:none" ng-model="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.AnonymousCallBlockEnable" name="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.AnonymousCallBlockEnable" id="AnonymousCallBlockEnable" class="ng-pristine ng-untouched ng-valid">
                                                                            <span class="switch-text"><span class="on">On</span><span class="off">Off</span></span>
                                                                        </span>-->
                                    <input id="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_AnonymousCallBlockEnable" name="AnonymousCallBlockEnable" type="checkbox" class="form-control" ng-change="textChange('DeviceServicesVoiceServiceVoiceProfileLineCallingFeaturesAnonymousCallBlockEnable')" ng-model="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.AnonymousCallBlockEnable" ng-true-value="'1'" ng-false-value="'0'">
                                    <label for="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_AnonymousCallBlockEnable" class="checkbox_left_align col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-bind="'Device.Services.VoiceService.VoiceProfile.*.Line.*.CallingFeatures.Anonymous Call Block' | translate"></label>
                                    <span class="error call_feature" forname="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_AnonymousCallBlockEnable" ng-show="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_AnonymousCallBlockEnableresponsestatus" ng-bind="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_AnonymousCallBlockEnableval">
                                           
                                    </span>
                                </div>
                            </div>
<!--                            <div class="form-group">
                            </div>-->
                            <div class="form-group">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <!--                                    <span ng-class="{
                                                                                    checked:DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.MWIEnable
                                                                                }" ng-click="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.MWIEnable = !DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.MWIEnable;
                                                                                                    toggleClick('DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.MWIEnable')" class="switch" ng-change="toggleClick" name="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.MWIEnable" ng-model="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.MWIEnable" off="Off" on="On" id="MWIEnable">
                                                                            <small></small><input type="checkbox" style="display:none" ng-model="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.MWIEnable" name="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.MWIEnable" id="MWIEnable" class="ng-pristine ng-untouched ng-valid">
                                                                            <span class="switch-text"><span class="on">On</span><span class="off">Off</span></span>
                                                                        </span>-->
                                    <input id="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_MWIEnable" name="MWIEnable" type="checkbox" class="form-control" ng-change="textChange('DeviceServicesVoiceServiceVoiceProfileLineCallingFeaturesMWIEnable')" ng-model="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.MWIEnable" ng-true-value="'1'" ng-false-value="'0'">
                                    <label for="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_MWIEnable" class="checkbox_left_align col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-bind="'Device.Services.VoiceService.VoiceProfile.*.Line.*.CallingFeatures.Message Waiting Indication' | translate"></label>
                                    <span class="error call_feature" forname="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_MWIEnable" ng-show="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_MWIEnableresponsestatus" ng-bind="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_MWIEnableval">
                                           
                                    </span>
                                </div>
                                
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <!--                                    <span ng-class="{
                                                                                    checked:DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.X_VENDOR_COM_CallFwrdVoiceMail
                                                                                }" ng-click="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.X_VENDOR_COM_CallFwrdVoiceMail = !DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.X_VENDOR_COM_CallFwrdVoiceMail;
                                                                                                    toggleClick('DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.X_VENDOR_COM_CallFwrdVoiceMail')" class="switch" ng-change="toggleClick" name="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.X_VENDOR_COM_CallFwrdVoiceMail" ng-model="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.X_VENDOR_COM_CallFwrdVoiceMail" off="Off" on="On" id="X_VENDOR_COM_CallFwrdVoiceMail">
                                                                            <small></small><input type="checkbox" style="display:none" ng-model="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.X_VENDOR_COM_CallFwrdVoiceMail" name="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.X_VENDOR_COM_CallFwrdVoiceMail" id="X_VENDOR_COM_CallFwrdVoiceMail" class="ng-pristine ng-untouched ng-valid">
                                                                            <span class="switch-text"><span class="on">On</span><span class="off">Off</span></span>
                                                                        </span>-->
                                    <input id="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_X_VENDOR_COM_CallFwrdVoiceMail" name="X_VENDOR_COM_CallFwrdVoiceMail" type="checkbox" class="form-control" ng-change="textChange('DeviceServicesVoiceServiceVoiceProfileLineCallingFeaturesX_VENDOR_COM_CallFwrdVoiceMail')" ng-model="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.X_VENDOR_COM_CallFwrdVoiceMail" ng-true-value="'1'" ng-false-value="'0'">
                                    <label for="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_X_VENDOR_COM_CallFwrdVoiceMail" class="checkbox_left_align col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-bind="'Device.Services.VoiceService.VoiceProfile.*.Line.*.CallingFeatures.Voice Mail' | translate"></label>
                                    <span class="error call_feature" forname="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_X_VENDOR_COM_CallFwrdVoiceMail" ng-show="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_X_VENDOR_COM_CallFwrdVoiceMailresponsestatus" ng-bind="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_X_VENDOR_COM_CallFwrdVoiceMailval">
                                           
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-field  col-sm-6"> 
                                    <input id="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallForwardOnNoAnswerRingCount" type="text" class="form-control" name='vlanidrange' value="" ng-model="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallForwardOnNoAnswerRingCount" ng-change="textChange('DeviceServicesVoiceServiceVoiceProfileLineCallingFeaturesCallForwardOnNoAnswerRingCount')" placeholder="{{'Device.Services.VoiceService.VoiceProfile.*.Line.*.CallingFeatures.Ring Count.Enter Text Here' | translate}}">
                                    <label class="active" ng-bind="'Device.Services.VoiceService.VoiceProfile.*.Line.*.CallingFeatures.Ring Count' | translate"></label>
                                    <span class="error call_feature" forname="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallForwardOnNoAnswerRingCount" ng-show="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallForwardOnNoAnswerRingCountresponsestatus" ng-bind="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallForwardOnNoAnswerRingCountval">
                                           
                                    </span>
                                </div>
                            </div>
<!--                            <div class="form-group">
                            </div>-->

                            <div class="form-group">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                                    <input id="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallForwardUnconditionalEnable" name="CallForwardUnconditionalEnable" type="checkbox" class="form-control" ng-change="textChange('DeviceServicesVoiceServiceVoiceProfileLineCallingFeaturesCallForwardUnconditionalEnable')" ng-model="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallForwardUnconditionalEnable" ng-true-value="'1'" ng-false-value="'0'">
                                    <label for="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallForwardUnconditionalEnable" class="checkbox_left_align col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-bind="'Device.Services.VoiceService.VoiceProfile.*.Line.*.CallingFeatures.Unconditional' | translate"></label>
                                    <span class="error call_feature" forname="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallForwardUnconditionalEnable" ng-show="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallForwardUnconditionalEnableresponsestatus" ng-bind="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallForwardUnconditionalEnableval">
                                           
                                    </span>
                                </div>

                                 <div ng-show="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallForwardUnconditionalEnable == '1'">
                                    <label class="control-label col-sm-2"  ng-bind="'Device.Services.VoiceService.VoiceProfile.*.Line.*.CallingFeatures.CallForwardUnconditionalNumber' | translate"></label>
                                    <div class="col-sm-1 col-lg-1">
                                        <input id="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallForwardUnconditionalNumber" name="CallForwardUnconditionalNumber" type="text" class="form-control" ng-change="textChange('DeviceServicesVoiceServiceVoiceProfileLineCallingFeaturesCallForwardUnconditionalNumber')" ng-model="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallForwardUnconditionalNumber">
                                        <span class="error call_feature" forname="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallForwardUnconditionalNumber" ng-show="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallForwardUnconditionalNumberresponsestatus" ng-bind="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallForwardUnconditionalNumberval">
                                           
                                        </span>
                                    </div>
                                    <div class="col-sm-1 col-lg-1">
                                        <input id="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_X_VENDOR_COM_CfuDestAddr" name="X_VENDOR_COM_CfuDestAddr" type="text" class="form-control" ng-change="textChange('DeviceServicesVoiceServiceVoiceProfileLineCallingFeaturesX_VENDOR_COM_CfuDestAddr')" ng-model="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.X_VENDOR_COM_CfuDestAddr">
                                        <span class="error call_feature" forname="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_X_VENDOR_COM_CfuDestAddr" ng-show="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_X_VENDOR_COM_CfuDestAddrresponsestatus" ng-bind="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_X_VENDOR_COM_CfuDestAddrval">
                                           
                                        </span>
                                    </div>
                                    <div class="col-sm-1 col-lg-1">
                                        <input id="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_X_VENDOR_COM_CfuPort" name="X_VENDOR_COM_CfuPort" type="text" class="form-control" ng-change="textChange('DeviceServicesVoiceServiceVoiceProfileLineCallingFeaturesX_VENDOR_COM_CfuPort')" ng-model="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.X_VENDOR_COM_CfuPort">
                                        <span class="error call_feature" forname="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_X_VENDOR_COM_CfuPort" ng-show="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_X_VENDOR_COM_CfuPortresponsestatus" ng-bind="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_X_VENDOR_COM_CfuPortval">
                                           
                                        </span>

                                    </div>
                                </div>

                            </div>
                         <div class="form-group">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <!--                                    <span ng-class="{
                                                                                    checked:DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallForwardOnNoAnswerEnable
                                                                                }" ng-click="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallForwardOnNoAnswerEnable = !DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallForwardOnNoAnswerEnable;
                                                                                        toggleClick('DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallForwardOnNoAnswerEnable')" class="switch" ng-change="toggleClick" name="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallForwardOnNoAnswerEnable" ng-model="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallForwardOnNoAnswerEnable" off="Off" on="On" id="CallForwardOnNoAnswerEnable">
                                                                            <small></small><input type="checkbox" style="display:none" ng-model="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallForwardOnNoAnswerEnable" name="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallForwardOnNoAnswerEnable" id="CallForwardOnNoAnswerEnable" class="ng-pristine ng-untouched ng-valid">
                                                                            <span class="switch-text"><span class="on">On</span><span class="off">Off</span></span>
                                                                        </span>-->
                                    <input id="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallForwardOnNoAnswerEnable" name="CallForwardOnNoAnswerEnable" type="checkbox" class="form-control" ng-change="textChange('DeviceServicesVoiceServiceVoiceProfileLineCallingFeaturesCallForwardOnNoAnswerEnable')" ng-model="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallForwardOnNoAnswerEnable" ng-true-value="'1'" ng-false-value="'0'">
                                    <label for="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallForwardOnNoAnswerEnable" class="checkbox_left_align col-lg-6 col-md-6 col-sm-12 col-xs-12"   ng-bind="'Device.Services.VoiceService.VoiceProfile.*.Line.*.CallingFeatures.No Answer' | translate"></label>
                                    <span class="error call_feature" forname="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallForwardOnNoAnswerEnable" ng-show="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallForwardOnNoAnswerEnableresponsestatus" ng-bind="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallForwardOnNoAnswerEnableval">
                                           
                                    </span>
                                </div>
								<div ng-show="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallForwardOnNoAnswerEnable == '1'">
                                <label class="control-label col-sm-2"    ng-bind="'Device.Services.VoiceService.VoiceProfile.*.Line.*.CallingFeatures.CallForwardOnNoAnswerNumber' | translate"></label>
                                <div class="col-sm-1 col-lg-1">
                                    <input id="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallForwardOnNoAnswerNumber" name="CallForwardOnNoAnswerNumber" type="text" class="form-control" ng-change="textChange('DeviceServicesVoiceServiceVoiceProfileLineCallingFeaturesCallForwardOnNoAnswerNumber')" ng-model="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallForwardOnNoAnswerNumber">
                                    <span class="error call_feature" forname="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallForwardOnNoAnswerNumber" ng-show="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallForwardOnNoAnswerNumberresponsestatus" ng-bind="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallForwardOnNoAnswerNumberval">
                                           
                                    </span>
                                </div>
                                <div class="col-sm-1 col-lg-1">
                                    <input id="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_X_VENDOR_COM_CfnaDestAddr" name="X_VENDOR_COM_CfnaDestAddr" type="text" class="form-control" ng-change="textChange('DeviceServicesVoiceServiceVoiceProfileLineCallingFeaturesX_VENDOR_COM_CfnaDestAddr')" ng-model="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.X_VENDOR_COM_CfnaDestAddr">
                                    <span class="error call_feature" forname="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_X_VENDOR_COM_CfnaDestAddr" ng-show="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_X_VENDOR_COM_CfnaDestAddrresponsestatus" ng-bind="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_X_VENDOR_COM_CfnaDestAddrval">
                                           
                                    </span>
                                </div>
                                <div class="col-sm-1 col-lg-1">
                                    <input id="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_X_VENDOR_COM_CfnaPort" name="X_VENDOR_COM_CfnaPort" type="text" class="form-control" ng-change="textChange('DeviceServicesVoiceServiceVoiceProfileLineCallingFeaturesX_VENDOR_COM_CfnaPort')" ng-model="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.X_VENDOR_COM_CfnaPort">
                                    <span class="error call_feature" forname="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_X_VENDOR_COM_CfnaPort" ng-show="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_X_VENDOR_COM_CfnaPortresponsestatus" ng-bind="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_X_VENDOR_COM_CfnaPortval">
                                           
                                    </span>

                                </div>
                            </div>
						   </div>




                            <div class="form-group">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <!--                                    <span ng-class="{
                                                                                    checked:DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallForwardOnBusyEnable
                                                                                }" ng-click="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallForwardOnBusyEnable = !DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallForwardOnBusyEnable;
                                                                                                    toggleClick('DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallForwardOnBusyEnable')" class="switch" ng-change="toggleClick" name="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallForwardOnBusyEnable" ng-model="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallForwardOnBusyEnable" off="Off" on="On" id="CallForwardOnBusyEnable">
                                                                            <small></small><input type="checkbox" style="display:none" ng-model="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallForwardOnBusyEnable" name="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallForwardOnBusyEnable" id="CallForwardOnBusyEnable" class="ng-pristine ng-untouched ng-valid">
                                                                            <span class="switch-text"><span class="on">On</span><span class="off">Off</span></span>
                                                                        </span>-->
                                    <input id="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallForwardOnBusyEnable" name="CallForwardOnBusyEnable" type="checkbox" class="form-control" ng-change="textChange('DeviceServicesVoiceServiceVoiceProfileLineCallingFeaturesCallForwardOnBusyEnable')" ng-model="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallForwardOnBusyEnable" ng-true-value="'1'" ng-false-value="'0'">
                                    <label for="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallForwardOnBusyEnable" class="checkbox_left_align col-lg-6 col-md-6 col-sm-12 col-xs-12"  ng-bind="'Device.Services.VoiceService.VoiceProfile.*.Line.*.CallingFeatures.Busy' | translate"></label>
                                    <span class="error call_feature" forname="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallForwardOnBusyEnable" ng-show="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallForwardOnBusyEnableresponsestatus" ng-bind="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallForwardOnBusyEnableval">
                                           
                                    </span>
                                </div>
								<div ng-show="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallForwardOnBusyEnable == '1'">
                                <label class="control-label col-sm-2"  ng-bind="'Device.Services.VoiceService.VoiceProfile.*.Line.*.CallingFeatures.CallForwardOnBusyNumber' | translate"></label>
                                <div class="col-sm-1 col-lg-1">
                                    <input id="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallForwardOnBusyNumber" name="CallForwardOnBusyNumber" type="text" class="form-control" ng-change="textChange('DeviceServicesVoiceServiceVoiceProfileLineCallingFeaturesCallForwardOnBusyNumber')" ng-model="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.CallForwardOnBusyNumber">
                                    <span class="error call_feature" forname="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallForwardOnBusyNumber" ng-show="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallForwardOnBusyNumberresponsestatus" ng-bind="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_CallForwardOnBusyNumberval">
                                           
                                    </span>
                                </div>
                                <div class="col-sm-1 col-lg-1">
                                    <input id="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_X_VENDOR_COM_CfbDestAddr" name="X_VENDOR_COM_CfbDestAddr" type="text" class="form-control" ng-change="textChange('DeviceServicesVoiceServiceVoiceProfileLineCallingFeaturesX_VENDOR_COM_CfbDestAddr')" ng-model="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.X_VENDOR_COM_CfbDestAddr">
                                    <span class="error call_feature" forname="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_X_VENDOR_COM_CfbDestAddr" ng-show="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_X_VENDOR_COM_CfbDestAddrresponsestatus" ng-bind="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_X_VENDOR_COM_CfbDestAddrval">
                                           
                                    </span>
                                </div>
                                <div class="col-sm-1 col-lg-1">
                                    <input id="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_X_VENDOR_COM_CfbPort" name="X_VENDOR_COM_CfbPort" type="text" class="form-control" ng-change="textChange('DeviceServicesVoiceServiceVoiceProfileLineCallingFeaturesX_VENDOR_COM_CfbPort')" ng-model="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures.X_VENDOR_COM_CfbPort">
                                    <span class="error call_feature" forname="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_X_VENDOR_COM_CfbPort" ng-show="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_X_VENDOR_COM_CfbPortresponsestatus" ng-bind="DeviceServicesVoiceServiceVoiceProfileLineCallingFeatures_X_VENDOR_COM_CfbPortval">
                                           
                                    </span>

                                </div>
                            </div>
						  </div>


                        </form>
                        <div class="row"> 
                            <div class="pull-right">                                
                                <div class="btn-group custom_btn">
                                    <button class="btn btn-info" id="Close" name="close" value="Close" ng-click="Cancel('line_callingfeatures')" title="Cancel" ><span class="hidden-xs" ng-bind="'Cancel' | translate"></span></button>
                                </div>
                                <div class="btn-align custom_btn">
                                    <input id="Add" name="add"  class="btn btn-info" type="button" ng-click="Modify($event)"  value="{{'Save'|translate}}">
                                    <input id="Modify" name="edit" class="btn btn-info" type="button" ng-click="Modify($event)"  value="{{'Save'|translate}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
