<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="translation" class="hide">changepasswordform</div>
        <div ng-controller="changePasswordController" ng-cloak>
            <!--Breadscrumbs starts here -->                                                                                                      
            <div class="row ltq_breadcrumbs">                                                                                                     
                <div  ng-repeat="breadcrumb in $root.breadcrumbs" >                                                                                   
                    <ng-switch on="$first">                                                                                                               
                        <div class="btn-group btn-breadcrumb1" ng-switch-when="true">                                                                         
                            <div class="ltq_brd_home" >                                                                                                           
                                <a  class="btn" ng-click="homefun()" ng-href="#/{{breadcrumb.path}}">                                                                 
                                    <i class="fa fa-home"></i>                                                                                                            
                                    {{breadcrumb.name}}                                                                                                                   
                                </a>                                                                                                                                  
                            </div>                                                                                                                                
                        </div>                                                                                                                                

                        <div class="btn-group btn-breadcrumb" ng-switch-when="false" >                                                                        

                            <span class="btn btn-default not-active" ng-if="breadcrumb.path == 'nothing' || $last == true" >                                      
                                {{breadcrumb.name}}                                                                                                               
                            </span>                                                                                                                               
                            <span ng-if ="breadcrumb.path != 'nothing' &&
                                                $last == false">                                                                                                                              
                                <a  class="btn" ng-href="#/{{breadcrumb.path}}">                                                                                      
                                    <i></i>                                                                                                                               
                                    {{breadcrumb.name}}                                                                                                                   
                                </a>                                                                                                                                  
                            </span>                                                                                                                               
                        </div>                                                                                                                                 

                    </ng-switch>                                                                                                                            
                </div>                                                                                                                                   
            </div>                                                                                                                                  
            <!--Breadscrumbs ends here --> 

            <div class="row no-margin-hr">
                <form class="form-horizontal lantiq-form-text row" role="form" name="changePassword" novalidate>
                    <div class="col-lg-12 col-md-12">
                        <div class="panel">
                            <div class="panel-heading blu_bg"><span class="panel_heading_icon"></span><span ng-bind="'Change Password' | translate">Change Password</span></div>
                            <div class="panel-body">
                                
                                <div class="row">
                                    <div class="form-group required col-lg-6 col-md-6">
                                        <label class="control-label col-lg-12 col-md-12 col-sm-12">Password</label>
                                        <div class="col-sm-12">
                                            <input type="password" ng-model="userpassword" name="userpassword" ng-pattern="/(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!*+=<>~.,\]\[\}\{#%^\-_|:;\?\\\/]())[A-Za-z\d@$!*+=<>~.,\]\[\}\{#%^\-_|:;\?\\\/()]{8,}$/" ng-required="true"/>
                                        </div>                                                
                                    </div>
								</div>
								<div class="row">
                                    <div class="form-group required col-lg-6 col-md-6">
										<div class="col-sm-12">
											<span class="error">
												Password should have atleast one uppercase letter, one lower case letter, one number and one symbol other than &,",',` and length should be in between 8 to 32 characters.
											</span>
											<span class="error" ng-show="formsubmitted && changePassword.userpassword.$error.required">
												Password is required.
											</span>
										</div>
									</div>
								</div>
                                                       

                                <div class="row" >
                                    <div class="form-group required col-lg-6 col-md-6">
                                            <label class="control-label col-lg-12 col-md-12 col-sm-12">Confirm Password</label>
                                            <div class="col-sm-12">
                                                <input type="password" ng-model="confirmpassword" name="confirmpassword" formstatus="{{venuinfoform.$valid}}" ng-keyup="$event.keyCode == 13 && Apply($event)" formname="changepassword"/>
                                            </div>
                                    </div>
									
                                </div>
                                <div class="row">
                                    <div class="form-group required col-lg-6 col-md-6">
										<div class="col-sm-12">
											<span class="error" ng-show="formsubmitted && passwordmismatch">
												New password and confirm password do not match.
											</span>
										</div>
									</div>
								</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
                        <div class="col-lg-12 col-md-12 pull-right">
                            <div class="btn-group custom_btn">
                                <button class="btn btn-info waves-effect waves-light " id= "Apply" value="Apply" formstatus="{{venuinfoform.$valid}}" ng-click="Apply($event)" title="Save" formname="changepassword"><span class="hidden-xs" ng-bind="'Save' | translate" >Save</span></button>
                            </div>
                        </div>
        </div>
    </body>
</html>
