<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style type="text/css">

            /*ul.listview-col-2{list-style: none;padding-left:0px;width:100%; background: #ffffff;border:1px solid #dedede;}
            ul.listview-col-2 li{display: block;width:100%;padding:4px 8px;border-bottom:1px solid #dedede; }
            ul.listview-col-2 li:last-child{border:0px solid #dedede; }
            ul.listview-col-2 li span{width:45%;display:inline-block;}
            ul.listview-col-2 li span+span{margin-left:5px;font-weight: bold;}
            /*Tabs design */
            /*ul.nav-tab-internal{list-style: none;padding-left:0px;width:100%;}
            ul.nav-tab-internal li{width:33.333%;height:34px;float:left;font-weight:bold;line-height:32px;display: inline-block;text-align: center;cursor:pointer;  }
            ul.nav-tab-internal li.active{border-bottom:3px solid #428bca;}
            .call-history{width:100%;float: left;display:block;margin:10px auto;}
            .call-history ul{width:100%;display:inline-block;list-style: none;padding-left:0px;border:1px solid #dedede; }
            .call-history ul li{float:left;width:100%;display: inline-block;text-align:left;background:#ffffff;border-bottom:1px solid #dedede;}
            .call-history ul li:last-child{border:0px;}
            .call-history ul li>span{display:block;text-align:left;padding:4px 12px; }
            i.fa-phone{position: relative;margin-right:10px; }
            i.fa-level-up{position:absolute;margin:0px 0px 0px -20px;}
            i.fa-level-down{position:absolute;margin:0px 0px 0px -20px;}
            .msdcall{color:#e7463e;}
            .receivedcall{color:#4aaf48;}
            .dialedcall{color:#1486c3}
            .voip_btn{margin:5px;float: right; }
            .voip_btn >button{margin:0px 8px;float: right;}*/

        </style>
    </head>
    <body>
        <div id="translation" class="hide">contactlist</div>
        <div ng-controller="contactlistController" ng-cloak>
<!--Breadscrumbs starts here -->                                                                                                      
    <div class="row ltq_breadcrumbs">                                                                                                     
        <div ng-repeat="breadcrumb in $root.breadcrumbs" >                                                                                   
            <ng-switch on="$first">                                                                                                               
                <div class="btn-group btn-breadcrumb1" ng-switch-when="true">                                                                         
                    <div class="ltq_brd_home" >                                                                                                           
                    <a  class="btn" ng-click="homefun()" ng-href="#/{{breadcrumb.path}}">                                                                 
                        <i class="fa fa-home"></i>                                                                                                            
                            {{breadcrumb.name}}                                                                                                                   
                    </a>                                                                                                                                  
                    </div>                                                                                                                                
                </div>                                                                                                                                

                <div class="btn-group btn-breadcrumb" ng-switch-when="false" >                                                                        

                    <span class="btn btn-default not-active" ng-if="breadcrumb.path == 'nothing' || $last == true" >                                      
                        {{breadcrumb.name}}                                                                                                               
                    </span>                                                                                                                               
                    <span ng-if ="breadcrumb.path != 'nothing' &&
                                            $last == false">                                                                                                                              
                        <a  class="btn" ng-href="#/{{breadcrumb.path}}">                                                                                      
                            <i></i>                                                                                                                               
                            {{breadcrumb.name}}                                                                                                                   
                        </a>                                                                                                                                  
                    </span>                                                                                                                               
                </div>                                                                                                                                 

            </ng-switch>                                                                                                                            
        </div>                                                                                                                                   
    </div>                                                                                                                                  
<!--Breadscrumbs ends here --> 
            <div class="subheader">
                <div>
                    <img src="images/icons/voip.png" class="iconDetails" alt="img">
                </div>
                <div><h4 ng-bind="'contactlist.headername' | translate"></h4></div>
                <p ng-bind="'contactlist.headerdescription' | translate"></p>
            </div> 
            <div class="row" ng-show="voiceprofilepopup">
                <div class="alert alert-danger">
                    <a class="close" aria-label="close" ng-click="popupclose('voiceprofilepopup')">&times;</a>
                    <strong ng-bind="'Warning!' | translate"></strong><span ng-bind="voiceprofilepopupval"></span>
                </div>
            </div>
            <div class="row" ng-show="contactlistpopup">
                <div class="alert alert-danger">
                    <a class="close" aria-label="close" ng-click="popupclose('contactlistpopup')">&times;</a>
                    <strong ng-bind="'Warning!' | translate"></strong><span ng-bind="contactlistpopupval"></span>
                </div>
            </div>  
			<div class="row" ng-show="contactlistdeletepopup">
                <div class="alert alert-danger">
                    <a class="close" aria-label="close" ng-click="popupclose('contactlistdeletepopup')">&times;</a>
                    <strong ng-bind="'Warning!' | translate"></strong><span ng-bind="contactlistdeletepopupval"></span>
                </div>
            </div>
            <div class="row" ng-show="lineapplypopup">
                <div class="alert alert-danger">
                    <a class="close" aria-label="close" ng-click="popupclose('lineapplypopup')">&times;</a>
                    <strong ng-bind="'Warning!' | translate"></strong><span ng-bind="lineapplypopupval"></span>
                </div>                
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12" >
                    <div class="panel" ng-repeat="mainobject in dotremoval">
                        <div class="row" ng-show="mainobjectpopup">
                            <div class="alert alert-danger">
                                <a class="close" aria-label="close" ng-click="popupclose('mainobjectpopup')">&times;</a>
                                <strong ng-bind="'Warning!' | translate"></strong><span ng-bind="mainobjectpopupval"></span>
                            </div>
                        </div>
                        <div class="panel-heading"><span class="panel_heading_icon"><img src="images/icons/panel-heading-icon.png" alt="panel-icon"/></span><span>{{mainobject.contactlistname}}</span></div>
                        <div class="panel-body">
                            <div class="voip_content table-responsive">
                                <table class="table table-bordered custom_table theme_intel">                
                                    <thead>
                                        <tr>
                                            <th ng-bind="'contactlist.First Name' | translate">
                                                
                                            </th>
                                            <th ng-bind="'contactlist.Last Name' | translate">
                                                
                                            </th>
                                            <th ng-bind="'contactlist.Number-I' | translate">
                                                
                                            </th>
                                            <th ng-bind="'contactlist.Number-II' | translate">
                                                
                                            </th>
                                            <th>
                                                <a  class="btn btn-sm btn-info" id="Add" value="Add" ng-click="showstatus(mainobject)">
                                                    <i class="fa fa-plus icontxtgap"></i><span ng-bind="'Add' | translate"></span>
                                                </a>
                                            </th>
                                        </tr>
                                    </thead> 
                                    <tbody>
                                        <tr ng-show="mainobject.status">
                                            <td ng-repeat="model in mainobject.params" >
                                                <input id="pstnline" name="pstnlinecontactlist" type="text" ng-model="mainobject.paramsobject[model]" ng-blur="textchange(model)" placeholder="{{'Device.Services.VoiceService.1.VoiceProfile.1.Line.*.Please Input Here' | translate}}"/>
                                            </td>
                                            <td style="vertical-align: middle;">
                                                <a id="Add" name="add" value="Add" class="btn btn-xs table-btn" ng-click="EditableApply(mainobject.originalobject, 'Add')"  >
                                                    <span class="fa fa-check btn_color_grn"></span>
                                                </a>
                                                <a id="Close" name="Close" value="Close" class="btn btn-xs table-btn" ng-click="rowcancel(mainobject)">

                                                    <span class="fa fa-times btn_color_red" ></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="row in mainobject.Objects">
                                            <td ng-repeat="key in row| keys" ng-if="false == $last" >
                                                <span editable-text="row[key]" e-name="key" e-form="rowform" e-ng-blur='editablechange(key,row.z,$data)'>
                                                    {{ row[key]}}
                                                </span>
                                            </td>
                                            <td style="white-space: nowrap;vertical-align: middle;">
                                                <form editable-form name="rowform" onbeforesave="rowlevelApply(row.z,'Modify')" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == row">
                                                    <button type="submit" id= "Modify" name="Save" value="Save" ng-disabled="rowform.$waiting" class="btn table-btn">
                                                    <i class="fa fa-save btn_color_grn"></i>
                                                    </button>
                                                    <button type="button" id="Close" name="Close" value="Close" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn table-btn">
                                                    <i class="fa fa-times btn_color_red"></i>
                                                    </button>
                                                </form>
                                                <div class="buttons" ng-show="!rowform.$visible">
                                                    <button class="btn table-btn" id= "edit" name="edit" value="edit" ng-click="rowform.$show()"><i class="fa fa-edit btn_color_grn"></i></button>
                                                    <button class="btn table-btn" id="{{row.z}}" name="delete" value="delete" ng-click="removeRow($event)"><i class="fa fa-trash-o btn_color_red"></i></button>
                                                </div>  
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
