<!DOCTYPE html>
  <html>
   <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
  <body >
  <div id="translation" class="hide">diagnose</div>
        <!--Breadscrumbs starts here -->                                                                                                     
    <div class="row ltq_breadcrumbs">                                                                                                     
        <div  ng-repeat="breadcrumb in $root.breadcrumbs" >                                                                                   
            <ng-switch on="$first">                                                                                                               
                <div class="btn-group btn-breadcrumb1" ng-switch-when="true">                                                                         
                    <div class="ltq_brd_home" >                                                                                                           
                    <a  class="btn" ng-click="homefun()" ng-href="#/{{breadcrumb.path}}">                                                                 
                        <i class="fa fa-home"></i>                                                                                                            
                            {{breadcrumb.name}}                                                                                                                   
                    </a>                                                                                                                                  
                    </div>                                                                                                                                
                </div>                                                                                                                                

                <div class="btn-group btn-breadcrumb" ng-switch-when="false" >                                                                        

                    <span class="btn btn-default not-active" ng-if="breadcrumb.path == 'nothing' || $last == true" >                                      
                        {{breadcrumb.name}}                                                                                                               
                    </span>                                                                                                                               
                    <span ng-if ="breadcrumb.path != 'nothing' &&
                                            $last == false">                                                                                                                              
                        <a  class="btn" ng-href="#/{{breadcrumb.path}}">                                                                                      
                            <i></i>                                                                                                                               
                            {{breadcrumb.name}}                                                                                                                   
                        </a>                                                                                                                                  
                    </span>
                </div>

            </ng-switch>
        </div>
    </div>
    <!--Breadscrumbs ends here -->
    <div class="subheader">
        <div>
            <img src="images/icons/diagnostictest-0.png" alt="image" class="iconDetails">
        </div>
        <div>
            <h4>Hardware Virtualization</h4></div>
        <p>Hardware Virtualization</p>
    </div>

    <div class="panel" ng-controller="coreController">
        <div class="panel-body" ng-init="getData()">
            <div class="container-fluid">
                   <div class="row">
                   <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 center-block" style="margin-top: 15px"></div>
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 center-block" style="margin-top: 15px">
                        <div class="wrapper center-block" style="position: relative">
                            <span style="position: absolute;display: block;left: -20px;">
                            <ul style="color:#337ab7;font-size:14px;font-family:'Calibri';font-weight:bold">
                                <li>
                                    OS Name  :  {{coreid0vpeid0.OSName}}
                                </li>
                                <li>
                                    CPU Status  :  {{coreid0vpeid0.CPUstatus}}
                                </li>
                                <li>
                                    CPU ID :  {{coreid0vpeid0.CPUID}}
                                </li>
                                <li>
                                    Vendor ID      :  INTEL
                                </li>
                            </ul> 
                            </span>

                            <div class="pulse infinite animated hwprogressarc center-block">
                                <progress-arc size="{{size}}" stroke="#2196F3" stroke-width="35" complete="progress1" background="#E3F2FD" counter-clockwise="" secondStroke="green" secondBackground="lightgreen" coretext="Core 1">
                                </progress-arc>

                            </div>
                        </div>
                        
                    </div>
                     <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 center-block" style="margin-top: 15px"></div>
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 center-block" style="margin-top: 15px">
                       
                        <div class="wrapper" style="position: relative;width: 473px;">
                            <span style="position: absolute;display: block;right: 45%;">
                            <ul style="color:#337ab7;font-size:14px;font-family:'Calibri';font-weight:bold">
                                <li>
                                    OS Name  :  {{coreid0vpeid1.OSName}}
                                </li>
                                <li>
                                    CPU Status  :  {{coreid0vpeid1.CPUstatus}}
                                </li>
                                <li>
                                    CPU ID :  {{coreid0vpeid1.CPUID}}
                                </li>
                                <li>
                                    Vendor ID      :  INTEL
                                </li>
                            </ul> 
                            </span>
                            <div>
                                <div id="arc2" class="pulse infinite animated hwprogressarc center-block">
                                    <progress-arc size="{{size}}" stroke="#2196F3" stroke-width="35" complete="progress" background="#E3F2FD" counter-clockwise="true" secondStroke="green" secondBackground="lightgreen" coretext="Core 2">
                                    </progress-arc>
                                </div>
                             </div>
                        </div>
                       
                    </div>
                    <div class="row" style="width: 15px"></div>
                    <div class="row" style="height: 20px">
                        <div class="col-xs-12 col-sm-12 col-md-6 center-block"></div>
                        <div class="col-xs-12 col-sm-12 col-md-6 center-block">
                            <button style="position: absolute;left: 40%" id="UnloadButton" type="button" class="btn btn-md btn-red center-block" ng-click="Unload()" ng-if="!Load">Unload</button>
                            <button style="position: absolute;left: 40%" id="UnloadButton" type="button" class="btn btn-md center-block" ng-click="LoadButton()" ng-if="Load">Load</button>
                        </div>
                    </div>
                   </div>
                    
                    <div class="row"> 
                        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 center-block"></div>
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 center-block" style="margin-top: 15px">
                        <div class="wrapper" style="position: relative;">
                            <span style="position: absolute;display: block;left: -20px;"><ul style="color:#337ab7;font-size:14px;font-family:'Calibri';font-weight:bold">
                                <li>
                                    OS Name  :  {{coreid1vpeid0.OSName}}
                                </li>
                                <li>
                                    CPU Status  :  {{coreid1vpeid0.CPUstatus}}
                                </li>
                                <li>
                                    CPU ID :  {{coreid1vpeid0.CPUID}}
                                </li>
                                <li>
                                    Vendor ID      :  INTEL
                                </li>
                            </ul> 
                            </span>

                            <div class="pulse infinite animated hwprogressarc center-block">
                                <progress-arc size="{{size}}" stroke="#2196F3" stroke-width="35" complete="progress1" background="#E3F2FD" counter-clockwise="" secondStroke="green" secondBackground="lightgreen" coretext="Core 3">
                                </progress-arc>

                            </div>
                        </div>
                      
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 center-block"></div>
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 center-block" style="margin-top: 15px">
                        <div class="wrapper" style="position: relative;width: 473px;">

                            <span style="position: absolute;display: block;right: 45%;">
                            <ul style="color:#337ab7;font-size:14px;font-family:'Calibri';font-weight:bold">
                               <li>
                                    OS Name  :  {{coreid1vpeid1.OSName}}
                                </li>
                                <li>
                                    CPU Status  :  {{coreid1vpeid1.CPUstatus}}
                                </li>
                                <li>
                                    CPU ID :  {{coreid1vpeid1.CPUID}}
                                </li>
                                <li>
                                    Vendor ID      :  INTEL
                                </li>
                            </ul> 
                            </span>
                            <div id="arc2" class="pulse infinite animated hwprogressarc center-block">
                                <progress-arc size="{{size}}" stroke="#2196F3" stroke-width="35" complete="progress1" background="#E3F2FD" counter-clockwise="true" secondStroke="green" secondBackground="lightgreen" coretext="Core 4">
                                </progress-arc>
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>

</body>

</html>
