<div class="row ltq_breadcrumbs">
  <div class="row"></div>
</div>

<!-- Subheader -->
<div class="subheader">
  <div>
    <img src="images/icons/ddns.png" class="iconDetails" alt="Dynamic DNS" />
  </div>
  <div>
    <h4>DDNS</h4>
  </div>
  <p>
    This page allows you to create Dynamic DNS
  </p>
</div>

<div class="panel p-1" ng-controller="ddns">
  <form name="ddnsForm" novalidate>
    <!-- Toolbar -->
    <div class="mb-3 d-flex justify-content-between">
      <button
        type="button"
        class="btn btn-primary btn-sm"
        ng-click="createNew()"
      >
        New
      </button>

      <span class="text-muted small" ng-if="isEditMode">
        Editing existing DDNS entry
      </span>
    </div>

    <!-- DDNS Entries Table -->
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>WAN Name</th>
          <th>Status</th>
          <th>Service Provider</th>
          <th>Host Name</th>
          <th style="width: 80px;">Action</th>
        </tr>
      </thead>

      <tbody>
        <tr
          ng-repeat="entry in ddnsEntries"
          ng-click="selectEntry(entry)"
          ng-class="{'table-active': selectedEntry === entry}"
          style="cursor: pointer;"
        >
          <td>{{ entry.wanName }}</td>
          <td>{{ entry.status }}</td>
          <td>{{ entry.provider }}</td>
          <td>{{ entry.host }}</td>

          <td class="text-center">
            <button
              type="button"
              class="btn btn-xs table-btn m-0"
              ng-click="deleteEntry(entry); $event.stopPropagation();"
              title="Delete"
            >
              <i class="fa fa-trash-o btn_color_red"></i>
            </button>
          </td>
        </tr>

        <tr ng-if="ddnsEntries.length === 0">
          <td colspan="5" class="text-center text-muted">
            No DDNS entries configured
          </td>
        </tr>
      </tbody>
    </table>

    <!-- DDNS Service Information -->
    <h4 class="form-header mt-4">DDNS Service Information</h4>

    <!-- Enable DDNS -->
    <div class="row mt-2 d-flex align-items-center">
      <div class="col-sm-12 checkbox1 input-field1">
        <input type="checkbox" id="enableDDNS" ng-model="form.enableDDNS" />
        <label for="enableDDNS" class="checkbox_left_align">
          Enable DDNS
        </label>
      </div>
    </div>

    <!-- WAN Name -->
    <div class="row mt-3 d-flex align-items-center">
      <div class="col-sm-4">
        <label for="wanName">WAN Name</label>
      </div>
      <div class="col-sm-8 required">
        <select
          id="wanName"
          name="wanName"
          ng-model="form.wanName"
          ng-options="wan for wan in wanList"
          class="form-control small"
          required
        >
        </select>

        <div
          class="text-danger small"
          ng-show="ddnsForm.wanName.$error.required && ddnsForm.wanName.$touched"
        >
          WAN Name is required
        </div>
      </div>
    </div>

    <!-- Service Provider Information -->
    <h4 class="form-header mt-4">Service Provider Information</h4>

    <!-- Provider -->
    <div class="row mt-3 d-flex align-items-center">
      <div class="col-sm-4">
        <label>Service Provider</label>
      </div>
      <div class="col-sm-8 required">
        <select
          name="serviceProvider"
          class="form-control small"
          ng-model="form.serviceProvider"
          ng-options="p for p in serviceProviders"
          required
        >
          <option value="">-- Select --</option>
        </select>
        <div
          class="text-danger small"
          ng-show="ddnsForm.serviceProvider.$error.required && ddnsForm.serviceProvider.$touched"
        >
          Service Provider is required
        </div>
      </div>
    </div>

    <!-- Host -->
    <div class="row mt-3 d-flex align-items-center">
      <div class="col-sm-4">
        <label>Host of the Service Provider</label>
      </div>
      <div class="col-sm-8 required">
        <input
          type="text"
          name="host"
          ng-model="form.host"
          class="form-control small mb-0"
          required
        />
        <div
          class="text-danger small"
          ng-show="ddnsForm.host.$error.required && ddnsForm.host.$touched"
        >
          Host is required
        </div>
      </div>
    </div>

    <!-- Username -->
    <div class="row mt-3 d-flex align-items-center">
      <div class="col-sm-4">
        <label>User Name</label>
      </div>
      <div class="col-sm-8 required">
        <input
          type="text"
          name="username"
          ng-model="form.username"
          class="form-control small mb-0"
          required
        />
        <div
          class="text-danger small"
          ng-show="ddnsForm.username.$error.required && ddnsForm.username.$touched"
        >
          User Name is required
        </div>
      </div>
    </div>

    <!-- Password -->
    <div class="row mt-3 d-flex align-items-center">
      <div class="col-sm-4">
        <label>Password</label>
      </div>
      <div class="col-sm-8 required">
        <input
          type="password"
          name="password"
          ng-model="form.password"
          class="form-control small mb-0"
          required
        />
        <div
          class="text-danger small"
          ng-show="ddnsForm.password.$error.required && ddnsForm.password.$touched"
        >
          Password is required
        </div>
      </div>
    </div>

    <!-- Action Buttons -->
    <div class="mt-4">
      <button
        type="button"
        class="btn btn-info"
        ng-click="apply()"
        ng-disabled="!ddnsForm.$valid"
      >
        Apply
      </button>

      <button
        type="button"
        class="btn btn-secondary"
        ng-click="cancelEdit()"
        ng-if="isEditMode"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
