<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .dualwan_padding_r{padding-right: 5px;}
        </style>
    </head>
    <body>
        <div id="translation" class="hide">dualwan</div>
        <div ng-controller="dualwanController" ng-cloak>
            <!--Breadscrumbs starts here -->                                                                                                      
            <div class="row ltq_breadcrumbs">                                                                                                     
                <div  ng-repeat="breadcrumb in $root.breadcrumbs" >                                                                                   
                    <ng-switch on="$first">                                                                                                               
                        <div class="btn-group btn-breadcrumb1" ng-switch-when="true">                                                                         
                            <div class="ltq_brd_home" >                                                                                                           
                                <a  class="btn" ng-click="homefun()" ng-href="#/{{breadcrumb.path}}">                                                                 
                                    <i class="fa fa-home"></i>                                                                                                            
                                    {{breadcrumb.name}}                                                                                                                   
                                </a>                                                                                                                                  
                            </div>                                                                                                                                
                        </div>                                                                                                                                

                        <div class="btn-group btn-breadcrumb" ng-switch-when="false" >                                                                        

                            <span class="btn btn-default not-active" ng-if="breadcrumb.path == 'nothing' || $last == true" >                                      
                                {{breadcrumb.name}}                                                                                                               
                            </span>                                                                                                                               
                            <span ng-if ="breadcrumb.path != 'nothing' &&
                                                                $last == false">                                                                                                                              
                                <a  class="btn" ng-href="#/{{breadcrumb.path}}">                                                                                      
                                    <i></i>                                                                                                                               
                                    {{breadcrumb.name}}                                                                                                                   
                                </a>                                                                                                                                  
                            </span>                                                                                                                               
                        </div>                                                                                                                                 

                    </ng-switch>                                                                                                                            
                </div>                                                                                                                                   
            </div>                                                                                                                                  
            <!--Breadscrumbs ends here --> 
            <div class="subheader">
                <div>
                    <img src="images/icons/lan.png" class="iconDetails" alt="img">
                </div>
                <div style="margin-left:40px;"><h4 ng-bind="'dualwan.headername' | translate"></h4></div>
                <p ng-bind="'dualwan.headerdescription' | translate"></p>
            </div>
            <div class="row" ng-show="wanconnectionspopup">
                <div class="alert alert-danger">
                    <a class="close" aria-label="close" ng-click="popupclose('wanconnectionspopup')">&times;</a>
                    <strong ng-bind="'Warning!' | translate"></strong><span ng-bind="wanconnectionspopupval"></span>
                </div>
            </div>
            <div class="row" ng-show="wanconnectionsdeletepopup">
                <div class="alert alert-danger">
                    <a class="close" aria-label="close" ng-click="popupclose('wanconnectionsdeletepopup')">&times;</a>
                    <strong ng-bind="'Warning!' | translate"></strong><span ng-bind="wanconnectionsdeletepopupval"></span>
                </div>
            </div>
            <div class="row" ng-show="dualwanformstatus">
                <div class="alert alert-info">
                    <a class="close" aria-label="close" ng-click="popupclose('dualwanformstatus')">&times;</a>
                    <strong ng-bind="'Info!' | translate"></strong><span ng-bind="dualwanformmessage"></span>
                </div>
            </div>
		<div class="help_toggle helpshow" ng-class="$root.scopevariable ? 'helpshow' : 'helphide'" ng-init="$root.scopevariable=true">
                    <div class="help_txtcontent">
                        <a helpfile="languages/*/{{'dualwan.helpkey' | translate}}" ng-click="helpTextDetails($event)" href="">
                            <i class="fa fa-info circle_bg"></i>
                        </a>
                        <div class="help_content" ng-include="$root.helpfile"></div>
                    </div>
            </div>

            <div class="panel">
                <div class="panel-heading blu_bg"><span class="panel_heading_icon"><img src="images/icons/lan.png" alt="panel-icon"/></span><span ng-bind="'dualwan.Multi WAN' | translate"></span></div>
                <div class="panel-body">
                    <div class="table table-bordered table-responsive">                
                        <table class="table_txt_align_v theme_intel no-margin-vr">
                            <thead>
                                <tr>
                                    <th ng-bind="'Device.X_LANTIQ_COM_Multiwan.Multiwan.*.Name' | translate"></th>
                                    <th ng-bind="'Device.X_LANTIQ_COM_Multiwan.Multiwan.*.Type.Name' | translate"></th> 
                                    <th ng-bind="'Device.X_LANTIQ_COM_Multiwan.Multiwan.*.WANConnections.*.Interface' | translate"></th>
                                    <th ng-bind="'dualwan.Actions' | translate">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="multiwan in tablevalues">
                                    <td ng-bind="multiwan.Name"></td>
                                    <td ng-bind="multiwan.Type"></td>
                                    <td>
                                        <span ng-class="val.interfacestatus=='Up'?'clasifierbtn':'clasifierbtninactive'" style="margin-right: 5px;" ng-repeat="val in multiwan.waninfo">{{val.interfacename}}</span>
                                    </td>
                                    <td>                                        
                                        <!-- <button  class="btn table-btn" id="{{multiwanobjects[$index]}}" name="edit" ng-click="edit($event, 'dualwanform')">
                                            <span class="fa fa-edit btn_color_grn"></span>
                                        </button> -->
                                        <button class="btn table-btn" id="{{'Device.X_LANTIQ_COM_Multiwan.Multiwan.' + ($index + 1)}}" name="delete" ng-click="delete($event)">
                                            <span class="fa fa-trash-o btn_color_red"></span>
                                        </button>
                                    </td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="tablevalues.length < 1">
                <div class="col-lg-12 col-md-12 text-right">
                    <button  class="btn btn-info pull-right" id="Add" value="Add" name="add" ng-click="formToOpen('dualwanform')" ng-bind="'dualwan.Add' | translate">                                       
                    </button>
                </div>
            </div>
        </div>
    </body>
</html>
