<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="translation" class="hide">dualethwan</div>
    <div ng-controller="dualEthWanFormController" ng-cloak>
        <!--Breadscrumbs starts here -->
        <div class="row ltq_breadcrumbs">
            <div ng-repeat="breadcrumb in $root.breadcrumbs">
                <ng-switch on="$first">
                    <div class="btn-group btn-breadcrumb1" ng-switch-when="true">
                        <div class="ltq_brd_home">
                            <a class="btn" ng-click="homefun()" ng-href="#/{{breadcrumb.path}}">
                                <i class="fa fa-home"></i> {{breadcrumb.name}}
                            </a>
                        </div>
                    </div>

                    <div class="btn-group btn-breadcrumb" ng-switch-when="false">

                        <span class="btn btn-default not-active" ng-if="breadcrumb.path == 'nothing' || $last == true">                                      
                                {{breadcrumb.name}}                                                                                                               
                            </span>
                        <span ng-if="breadcrumb.path != 'nothing' &&
                                                                $last == false">                                                                                                                              
                                <a  class="btn" ng-href="#/{{breadcrumb.path}}">                                                                                      
                                    <i></i>                                                                                                                               
                                    {{breadcrumb.name}}                                                                                                                   
                                </a>                                                                                                                                  
                            </span>
                    </div>

                </ng-switch>
            </div>
        </div>
        <div class="subheader">
            <div>
                <img src="images/icons/wireless.png" class="iconDetails" alt="img">
            </div>
            <div>
                <h4 ng-bind="'dualethwan.headername' | translate"></h4></div>
            <p ng-bind="'dualethwan.headerdescription' | translate"></p>
        </div>
        <div class="row" ng-show="getformnamepopup">
            <div class="alert alert-danger">
                <a class="close" aria-label="close" ng-click="popupclose('getformnamepopup')">&times;</a>
                <strong ng-bind="'Warning!' | translate"></strong><span ng-bind="getformnamepopupval"></span>
            </div>
        </div>
        <div class="row" ng-show="postformnamepopup">
            <div class="alert alert-danger">
                <a class="close" aria-label="close" ng-click="popupclose('postformnamepopup')">&times;</a>
                <strong ng-bind="'Warning!' | translate"></strong><span ng-bind="postformnamepopupval"></span>
            </div>
        </div>
        <div class="help_toggle helpshow" ng-class="$root.scopevariable ? 'helpshow' : 'helphide'" ng-init="$root.scopevariable=true">
            <div class="help_txtcontent">
                <a helpfile="languages/*/{{'dualethwan.helpkey' | translate}}" ng-click="helpTextDetails($event)" href="">
                    <i class="fa fa-info circle_bg"></i>
                </a>
                <div class="help_content" ng-include="$root.helpfile"></div>
            </div>
        </div>
        <div class="row no-margin-hr">
            <form class="form-horizontal lantiq-form-text row" role="form" name="dualethwanform" novalidate>
                <div class="col-lg-12 col-md-12">
                    <div class="panel">
                        <div class="panel-heading blu_bg"><span class="panel_heading_icon"><img src="images/icons/internet-panel-icon.png" alt="panel-icon"/></span><span ng-bind="'dualethwan.panelheader' | translate">
                                </span>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-12 col-md-12 col-xs-12 text-right"></div>
                            <div class="form-group multicheckbox">
                                <div class="row">
                                    <label for="Name" class="col-sm-12 col-md-3 col-lg-3 control-label multi-checkbox-label" ng-bind="'dualethwan.LAN Ports' | translate">LAN Ports</label>
                                    <div class="col-sm-12 col-md-3 col-lg-3">
                                        <div class="checkbox-scroll-vr" id="DeviceEthernetInterface" ng-init="checkboxurl(&quot;cgi_get_fillparams?Object=Device.Ethernet.Interface&amp;Name=&amp;&quot;,&quot;Name&quot;)">
                                            <p ng-repeat="
                                        role in listWantoLan">
                                                <input type="checkbox" ng-disabled="shouldDisable(role)" id="DeviceEthernetInterface.Name{{$index+1}}" checklist-change="check(role,checked,'DeviceEthernetInterface.Upstream')" checklist-before-change="shouldChange(role,checked,'DeviceEthernetInterface.Upstream')" checklist-value="role" class="" checklist-model="getRoles()">
                                                <label class="checkbox-listview" for="DeviceEthernetInterface.Name{{$index+1}}">
                                                    {{role}}
                                                </label>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-xs-12 text-right">
                                <div class="btn-align">
                                    <input type="button" class="waves-effect waves-light btn btn-info" id="Modify" value="Apply" source="Device.Ethernet.Interface?,Name,Add" formname="DeviceEthernetInterface" relationformname="DeviceEthernetInterface," ng-click="Modify($event)">
                                </div>
                                <div class="btn-group text-center">
                                    <button class="btn btn-info waves-effect waves-light" id="Close" value="Close" ng-click="Reset('dualethwan')" title="Cancel">
                                        <spans ng-bind="'Reset' | translate">
                                            </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>

<!-- Link aggregation table starts -->

<div class="col-lg-12 col-md-12">

        <div class="panel-heading blu_bg">
            <span class="panel_heading_icon">
                <img src="images/icons/internet-panel-icon.png" alt="panel-icon">
            </span>
            <span ng-bind="'dualethwan.panelheader2' | translate" class="ng-binding"></span>
        </div>

        <div class="panel-body" style="background:#fff;" ng-init="">
            <table class="table table-bordered tableCount theme_intel">
                <thead>
                    <tr>
                        <th>
                            LAG Mode
                        </th>
                        <th>
                                Bond Mode
                        </th>
                        <th>
                                Bond Members
                        </th>
                        <th>
                                Status
                        </th>
                        <th>Actions</th>
                    </tr>

                </thead>
                <tbody>
                    <tr ng-repeat="tabledata in LinkAggregationTableData">
                        <td>
                                {{tabledata.LagMode}}
                        </td>
                        <td>
                                <span ng-if="tabledata.BondMode == '2' ">XOR (balance-xor)</span>
                                <span ng-if="tabledata.BondMode == '0' ">Round robin (balance-rr)</span>
                                <span ng-if="tabledata.BondMode == '3' ">Broadcast</span>
                                <span ng-if="tabledata.BondMode == '4' ">802.3ad dynamic link aggregation (LACP)</span>
                                <span ng-if="tabledata.BondMode == '5' ">Adaptive transmit load-balancing (balance-tlb)</span>
                                <span ng-if="tabledata.BondMode == '6' ">Adaptive load-balancing (balance-alb)</span>

                        </td>
                        <td>
                                {{tabledata.BondMembers}}
                        </td>
                        <td>
                              <span ng-class="{'fa fa-arrow-down down': tabledata.Status == 'false' ,'fa fa-arrow-up up': tabledata.Status == 'true' }"> </span> 
                        </td>
                        <td  class="table-button-group ">
                            <button ng-disabled="yourChecker($index, tabledata,LinkAggregationTableData)" class="btn btn-xs table-btn" title=" click to edit "  ng-click="
                            edit(tabledata.objectname)
                        " name="edit" id="Device.Routing.Router.1.IPv6Forwarding.1"><span class="fa fa-edit btn_color_grn"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- <div class="text-right">
                    <div class="btn-align">
                        <input type="submit" class="waves-effect waves-light btn btn-info" id="linkapply" value="Add" ng-click="add($event)">
                    </div>
                    
            </div> -->
        </div>
        
</div>
</div>
</body>

</html>
