<div class="port_status col-sm-12 col-xs-12 col-lg-12 col-md-12 mbl-no-padding-hr no-padding-hr">
    <div class="panel">
        <div class="panel-heading {{color}}"><span class="panel_heading_icon">
               <img src="images/icons/{{icon}}.png" alt="panel-icon"/>
            </span><span>{{title | translate}}</span></div>
        <div class="panel-body">
            <div class="row status_box">
                <!-- dynamicPortData object contains data with object names as keys-->
                <div class="status-icons" ng-repeat="dynamicPort in dynamicPortData">
                    <div class="lanport">
                        <!-- dynamicPort is an array which have first element as 'Status' -->
                        <img src={{dynamicPort[0]}} alt="img"/>
                        <p>{{dynamicPort[1]}}</p>
                        <!-- ng-repeat on dynamicPort otherthan first element ('Status') / $index != 0-->
<!--                        <p ng-repeat="data in dynamicPort" ng-if="$index != 0">{{data}}</p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
