
<div>
  <div class="row ltq_breadcrumbs">
    <div class="row"></div>
  </div>

  <!-- Subheader -->
  <div class="subheader">
    <div ng-click="addRule()">
      <img
        src="images/icons/internet.png"
        class="iconDetails"
        alt="Internet Icon"
      />
    </div>
    <div>
      <h4>IPTV</h4>
    </div>
    <p>
      This page allows you to create IPTV
    </p>
  </div>



  <!-- Main Form -->
  <div class="panel">
  <div class="panel-heading blu_bg">
    <span class="ng-binding">IPTV</span>
  </div>
  <div class="panel-body">
    <form
      name="new_map_rule"
      ng-submit="addRule()"
      novalidate
      autocomplete="off"
    >
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="priority">Priority</label>
            <input
              id="priority"
              type="number"
              min="1"
              max="16"
              class="form-control"
              ng-model="form.priority"
              required
            />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="mode">Mode</label>
            <select
              id="mode"
              class="form-control"
              ng-model="form.mode"
              ng-change="onModeChange()"
              required
            >
              <option value="One-to-One">One-to-One</option>
              <option value="Many-to-One">Many-to-One</option>
              <option value="Many-to-Many">Many-to-Many</option>
              <option value="No-NAT">No-NAT</option>
            </select>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="wanName">WAN Name</label>
            <select
              id="wanName"
              class="form-control"
              ng-model="form.wanName"
              required
            >
              <option value="7_TR069_INTERNET_R_VDSL_VID_"
                >7_TR069_INTERNET_R_VDSL_VID_</option
              >
              <option value="8_INTERNET_R_VDSL_VID_"
                >8_INTERNET_R_VDSL_VID_</option
              >
              <option value="9_OTHER_WAN">9_OTHER_WAN</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="startPrivateIpAddress">Start Private IP Address</label>
            <input
              id="startPrivateIpAddress"
              type="text"
              class="form-control"
              ng-model="form.startPrivateIpAddress"
              required
            />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="endPrivateIpAddress">End Private IP Address</label>
            <input
              id="endPrivateIpAddress"
              type="text"
              class="form-control"
              ng-model="form.endPrivateIpAddress"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="startPublicIpAddress">Start Public IP Address</label>
            <input
              id="startPublicIpAddress"
              type="text"
              class="form-control"
              ng-model="form.startPublicIpAddress"
              required
            />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="endPublicIpAddress">End Public IP Address</label>
            <input
              id="endPublicIpAddress"
              type="text"
              class="form-control"
              ng-model="form.endPublicIpAddress"
            />
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-info">Add Rule</button>
    </form>
  </div>
  </div>
</div>
