<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<ul ng-if="post.childrens.length" class="mmc-dropdown-delay animated fadeInLeft ltq_dd_submenu">
    <li ng-repeat="post in post.childrens" ng-class="{'mm-dropdown': post.childrens.length > 0}" >    
        <a ng-click="accordian(post.name + '-' + $index+'-'+childindex, false)" ng-if="!post.childrens.length" tabindex="-1" href="#/{{post.viewtype}}/{{post.view}}" type="{{post.viewtype}}" source="{{post.view}}" title="{{post.name}}">            
            <span class="mm-text">{{post.name}}</span>
        </a>
        <a ng-click="accordian(post.name + '-' + $index+'-'+childindex, true)" ng-if="post.childrens.length" tabindex="-1" type="{{post.viewtype}}" source="{{post.view}}" title="{{post.name}}">            
            <span class="mm-text mmc-dropdown-delay animated fadeIn">{{post.name}}</span>
        </a>
        <div class="hide animation" name="lantiq-dd-submenu" id="{{post.name}}-{{$index}}-{{childindex}}" ng-include="'menu.html'" ></div>
    </li>
</ul>
