<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Intel-Reboot/Reset</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style type="text/css">
            .no-margin-hr{margin-left:0px !important;margin-right:0px !important; }
            .status_box{height:56px; }
            .connection_status{width:96%;display: inline-block;padding:8px 12px; }
            .connection_status div > i{color:#ffffff;}
            .connection_status label{display:block;margin:5px 0px;  }
            .home_bg{background:#847cc5 !important;}
            .mrn_bg{background:#e66454 !important;color:#ffffff;}            
            .grn_bg{background:#00a489 !important;}
            .org_bg{background:#f0ad4e !important;color:#ffffff;}
            .black_bg{background:transparent !important;}
            .port_status{min-height: 1px;min-width:100px;float: left;margin:0px 4px; }
            .lanport{text-align: center;margin:0px 8px; }
            .lanport>img{width:35px;}
            .lanport p{font-family:arial;font-size:8px;color:#2e2e2e;  margin:5px auto; text-align: center;}
            .grn_clr{color:#00a489}
            .mrn_clr{color:#e66454}
        </style>
    </head>
    <body>
        <div id="translation" class="hide">rebootandfactoryreset</div>
<!--Breadscrumbs starts here -->                                                                                                      
    <div class="row ltq_breadcrumbs">                                                                                                     
        <div  ng-repeat="breadcrumb in $root.breadcrumbs" >                                                                                   
            <ng-switch on="$first">                                                                                                               
                <div class="btn-group btn-breadcrumb1" ng-switch-when="true">                                                                         
                    <div class="ltq_brd_home" >                                                                                                           
                    <a  class="btn" ng-click="homefun()" ng-href="#/{{breadcrumb.path}}">                                                                 
                        <i class="fa fa-home"></i>                                                                                                            
                            {{breadcrumb.name}}                                                                                                                   
                    </a>                                                                                                                                  
                    </div>                                                                                                                                
                </div>                                                                                                                                

                <div class="btn-group btn-breadcrumb" ng-switch-when="false" >                                                                        

                    <span class="btn btn-default not-active" ng-if="breadcrumb.path == 'nothing' || $last == true" >                                      
                        {{breadcrumb.name}}                                                                                                               
                    </span>                                                                                                                               
                    <span ng-if ="breadcrumb.path != 'nothing' &&
                                            $last == false">                                                                                                                              
                        <a  class="btn" ng-href="#/{{breadcrumb.path}}">                                                                                      
                            <i></i>                                                                                                                               
                            {{breadcrumb.name}}                                                                                                                   
                        </a>                                                                                                                                  
                    </span>                                                                                                                               
                </div>                                                                                                                                 

            </ng-switch>                                                                                                                            
        </div>                                                                                                                                   
    </div>                                                                                                                                  
<!--Breadscrumbs ends here --> 
        <div class="subheader">
            <div>
                <img src="images/configuration-1.png" alt="image" class="iconDetails">
            </div>
            <div><h4 ng-bind="'rebootandfactoryreset.headername' | translate"></h4></div>
            <p ng-bind="'rebootandfactoryreset.headerdescription' | translate"></p>
        </div>
        <div class="rebootandfactoryreset" ng-controller="rebootFactoryResetController">
            <div class="row" ng-show="rebootformnamepopup">
                    <div class="alert alert-danger">
                        <a class="close" aria-label="close" ng-click="popupclose('rebootformnamepopup')">&times;</a>
                        <strong ng-bind="'Warning!' | translate"></strong><span ng-bind="rebootformnamepopupval"></span>
                    </div>
            </div>
            <div class="row" ng-show="factoryresetformnamepopup">
                    <div class="alert alert-danger">
                        <a class="close" aria-label="close" ng-click="popupclose('factoryresetformnamepopup')">&times;</a>
                        <strong ng-bind="'Warning!' | translate"></strong><span ng-bind="factoryresetformnamepopupval"></span>
                    </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 no-padding-hr-l mbl-no-padding-hr">
                    <div class="panel">
                        <div class="panel-heading mrn_bg"><span class="panel_heading_icon"><img src="images/icons/panel-heading-icon.png" alt="panel-icon"/></span><span ng-bind="'rebootandfactoryreset.Reboot' | translate"></span></div>
                        <div class="panel-body">
                            <div class="content_body">
                                <p ng-bind="'rebootandfactoryreset.Reboots the device immediately' | translate"></p>
                            </div>
                            <div class="text-right">
                                <button class="btn btn-info waves-effect waves-light" title="Reboot" id="Modify" name="Reboot" value="Reboot" ng-click="Reboot($event)"><span class="" ng-bind="'Reboot' | translate"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 no-padding-hr-r mbl-no-padding-hr">
                    <div class="panel">
                        <div class="panel-heading grn_bg"><span class="panel_heading_icon"><img src="images/icons/panel-heading-icon.png" alt="panel-icon"/></span><span ng-bind="'rebootandfactoryreset.Factory Reset' | translate"></span></div>
                        <div class="panel-body">
                            <div class="content_body">
                                <p ng-bind="'rebootandfactoryreset.Restore Factory configuration of the device and Reboot' | translate"></p>
                            </div>
                            <div class="text-right">
                                <button class="btn btn-info waves-effect waves-light" title="FactoryReset" id="Modify" name="FactoryReset" value="FactoryReset" ng-click="factoryReset($event)"><span class="" ng-bind="'Factory Reset' | translate"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
