<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div id="translation" class="hide">statspage</div>
        <div ng-controller="statsController">
<!--Breadscrumbs starts here -->                                                                                                      
    <div class="row ltq_breadcrumbs">                                                                                                     
        <div  ng-repeat="breadcrumb in $root.breadcrumbs" >                                                                                   
            <ng-switch on="$first">                                                                                                               
                <div class="btn-group btn-breadcrumb1" ng-switch-when="true">                                                                         
                    <div class="ltq_brd_home" >                                                                                                           
                    <a  class="btn" ng-click="homefun()" ng-href="#/{{breadcrumb.path}}">                                                                 
                        <i class="fa fa-home"></i>                                                                                                            
                            {{breadcrumb.name}}                                                                                                                   
                    </a>                                                                                                                                  
                    </div>                                                                                                                                
                </div>                                                                                                                                

                <div class="btn-group btn-breadcrumb" ng-switch-when="false" >                                                                        

                    <span class="btn btn-default not-active" ng-if="breadcrumb.path == 'nothing' || $last == true" >                                      
                        {{breadcrumb.name}}                                                                                                               
                    </span>                                                                                                                               
                    <span ng-if ="breadcrumb.path != 'nothing' &&
                                            $last == false">                                                                                                                              
                        <a  class="btn" ng-href="#/{{breadcrumb.path}}">                                                                                      
                            <i></i>                                                                                                                               
                            {{breadcrumb.name}}                                                                                                                   
                        </a>                                                                                                                                  
                    </span>                                                                                                                               
                </div>                                                                                                                                 

            </ng-switch>                                                                                                                            
        </div>                                                                                                                                   
    </div>                                                                                                                                  
<!--Breadscrumbs ends here --> 
            <div class="basichome_chatbody">
                <div class="chatitem">
                    <div class="chatitem_body">
                        <throughput-chart
                            title="Interface Summary"
                            idvalue="internetsummary"
                            icon="dsl-panel-icon"
                            color="grn_bg"
                            labels='["Eth Tx (Upstream)","Eth Rx (Downstream)"]'
                            units='Mbps'
                            fillcolors='["rgba(34,153,201,0.2)","rgba(151,80,205,0.2)"]'
                            strokecolors='["rgba(34,153,201,1)","rgba(151,80,205,1)"]'
                            pointcolors='["rgba(34,153,201,1)","rgba(151,80,205,1)"]'
                            wsprotocol=""
                            wsparams="start 5 Object=Device.Ethernet.Interface.5.Stats BytesSent BytesReceived">
                        </throughput-chart> 
                    </div>
                </div>
                <div class="chatitem">
                    <div class="chatitem_body">
                        <throughput-chart
                            title="LTE Throughput" 
                            idvalue="ltethroughput"
                            icon="dsl-panel-icon"
                            color="green_bg"
                            labels='["LTE Tx","LTE Rx"]'
                            units='Mbps'
                            fillcolors='["rgba(220,110,220,0.2)","rgba(151,80,205,0.2)"]'
                            strokecolors='["rgba(220,110,220,1)","rgba(151,80,205,1)"]'
                            pointcolors='["rgba(220,110,220,1)","rgba(151,80,205,1)"]'
                            wsprotocol=""
                            wsparams="start 5 Object=Device.Cellular.Interface.1.Stats BytesSent BytesReceived">
                        </throughput-chart>
                    </div>
	       </div>
            <!--    <div class="chatitem">
                    <div class="chatitem_body">
                        <doughnut-chart
                            title="Memory Status"
                            icon="dsl-panel-icon"
                            color='["#F7464A","#46BFBD"]'
                            label='["Used Memory","Free Memory"]'
                            units='kB'
                            wsprotocol=""
                            wsparams="start 5 Object=Device.DeviceInfo.MemoryStatus Total Free X_LANTIQ_COM_Buffer X_LANTIQ_COM_Cached"> 
                        </doughnut-chart>
                    </div>
                </div> -->
		<div class="chatitem" >
                        <div class="chatitem_body">
                            <throughput-chart
                                     idvalue="lanThroughput"
                                     title="LAN Throughput"
                                     icon="dsl-panel-icon"
                                     color="green_bg"
                                     labels='["Eth0_1 LAN Tx","Eth0_1 LAN Rx"]'
                                     units='Mbps'
                                     fillcolors='["rgba(220,110,220,0.2)","rgba(151,80,205,0.2)"]'
                                     strokecolors='["rgba(220,110,220,1)","rgba(151,80,205,1)"]'
                                     pointcolors='["rgba(220,110,220,1)","rgba(151,80,205,1)"]'
                                     wsprotocol=""
                                     wsparams="start 5 Object=Device.Ethernet.Interface.1.Stats BytesSent BytesReceived">
                            </throughput-chart>
                        </div>
                </div>
                <div ng-if="RadioNumberOfEntries >= 2"> 
                    <div class="chatitem" >
                        <div class="chatitem_body">
                            <throughput-chart
                                     showvalue = wifi5status
                                     idvalue="wifithroughput2"
                                     title="WiFi Throughput"
                                     icon="dsl-panel-icon"
                                     color="green_bg"
                                     labels='["Radio2.4G Tx","Radio2.4G Rx","Radio5G Tx","Radio5G Rx"]'
                                     units='Mbps'
                                     fillcolors='["rgba(220,110,220,0.2)","rgba(151,80,205,0.2)","rgba(244, 155, 0, 0.2)","rgba(104,241,54,1)"]'
                                     strokecolors='["rgba(220,110,220,1)","rgba(151,80,205,1)","rgba(244, 155, 0, 1)","rgba(104,241,54,1)"]'
                                     pointcolors='["rgba(220,110,220,1)","rgba(151,80,205,1)","rgba(244, 155, 0, 1)","rgba(104,241,54,1)"]'
                                     wsprotocol=""
                                     wsparams="start 5 Object=Device.WiFi.Radio.1.Stats BytesSent BytesReceived Object=Device.WiFi.Radio.2.Stats BytesSent BytesReceived">
                            </throughput-chart>
                        </div>
                    </div>
                </div>
                <div ng-if="RadioNumberOfEntries == 1"> 
                    <div class="chatitem">
                        <div class="chatitem_body">
                            <throughput-chart
                                     showvalue = wifi5status
                                     idvalue="wifithroughput1"
                                     title="WiFi Throughput"
                                     icon="dsl-panel-icon"
                                     color="green_bg"
                                     labels='["Radio2.4G Tx","Radio2.4G Rx"]'
                                     units='Mbps'
                                     fillcolors='["rgba(220,110,220,0.2)","rgba(151,80,205,0.2)"]'
                                     strokecolors='["rgba(220,110,220,1)","rgba(151,80,205,1)"]'
                                     pointcolors='["rgba(220,110,220,1)","rgba(151,80,205,1)"]'
                                     wsprotocol=""
                                     wsparams="start 5 Object=Device.WiFi.Radio.1.Stats BytesSent BytesReceived">
                            </throughput-chart>
                        </div>
                   </div>
                </div>
                <div class="chatitem">
                    <div class="chatitem_body">
                        <cpu-chart
                            title="CPU Charts"
                            icon="dsl-panel-icon"
                            labels='["Core 1","Core 2"]'
                            titles='["CPU 1","CPU 2"]'
                            wsprotocol=""
                            wsparams=""
                        url='["cgi/cgi_get_fillparams?Object=Device.DeviceInfo.X_LANTIQ_COM_CPUStatus.Processor&CPUCycles=","cgi/cgi_get_fillparams?Object=Device.DeviceInfo.X_LANTIQ_COM_CPUStatus&ClockFrequency="]'
                        pollinterval="5000">
                        </cpu-chart>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
