<li>
	<switch-widget id="QoS" label="Qos" ng-model="qos" cgiset="true" object="Device.QoS" param="X_LANTIQ_COM_QoSEnable" checkdisplay="false" checkvalue="" checkurl="" />
</li>
<li>
	<switch-widget id="WiFI2_4" label="WiFi2_4" ng-model="wifi24" cgiset="true" object="Device.WiFi.Radio.1" param="Enable" checkdisplay="false" checkvalue="" checkurl="" />
</li>
<li>
	<switch-widget id="WiFI5" label="WiFi5" ng-model="wifi5" cgiset="true" object="Device.WiFi.Radio.2" param="Enable" checkdisplay="false" checkvalue="" checkurl="" />
</li>
<li>
	<switch-widget id="WiFI6" label="WiFi6" ng-model="wifi6" cgiset="true" object="Device.WiFi.Radio.3" param="Enable" checkdisplay="true" checkvalue="NotPresent" checkurl="cgi_get_nosubobj?Object=Device.WiFi.Radio.3&Status=" customfun="" textchange="" />
</li>
<li>
	<switch-widget id="Firewall" label="Firewall" ng-model="firewall" cgiset="1" object="Device.Firewall" param="Enable" checkdisplay="false" checkvalue="" checkurl="" />
</li>
