<div class="row switchwidget" ng-show="dispay">
    <div class="form-group switchwidget col-lg-12 col-md-12 col-sm-12">
        <label class="control-label col-lg-7 col-md-7 col-sm-7 topnav" ng-bind="label | translate"></label>
        <div class="col-lg-5 col-md-5 col-sm-5">
            <a>
                <switch class="x-small" ng-model="ngModel" ng-click="ngModel = !ngModel;" ng-change="onToggle(object, param);" id="id" name="id" ng-true-value="'1'" ng-false-value="'0'"></switch>
            </a>
        </div>
    </div>
</div>
<script type="text/ng-template" id="SwitchmodalDialogId">
            <div class="ngdialog-message">
            <div>
            {{$root.notifymessage}}
            <div>
            </div>
            <div class="ngdialog-buttons">
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(confirmValue)">Confirm</button>
            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Cancel</button>
            </div>
</script>
