<div class="row ltq_breadcrumbs">
  <div class="row">
    <div ng-repeat="breadcrumb in $root.breadcrumbs">
      <ng-switch on="$first">
        <div class="btn-group btn-breadcrumb1" ng-switch-when="true">
          <div class="ltq_brd_home">
            <a class="btn" ng-click="homefun()" ng-href="#/{{breadcrumb.path}}">
              <i class="fa fa-home"></i>
              {{breadcrumb.name}}
            </a>
          </div>
        </div>

        <div class="btn-group btn-breadcrumb" ng-switch-when="false">
          <span
            class="btn btn-default not-active"
            ng-if="breadcrumb.path == 'nothing' || $last == true"
          >
            {{breadcrumb.name}}
          </span>
          <span
            ng-if="breadcrumb.path != 'nothing' &&
                                                $last == false"
          >
            <a class="btn" ng-href="#/{{breadcrumb.path}}">
              <i></i>
              {{breadcrumb.name}}
            </a>
          </span>
        </div>
      </ng-switch>
    </div>
  </div>
</div>

<div class="subheader">
  <div>
    <img src="images/icons/internet.png" class="iconDetails" alt="img" />
  </div>
  <div><h4>Internet Connections Configure</h4></div>
  <p>
    This page allows you to view and configure various internet connections such
    as Static/DHCP/PPPoE/PPPoA etc.
  </p>
</div>

<div class="panel p-3">
  <form name="customWanForm">
    <div class="row">
      <div class="col-sm-6 mb-3 required">
        <label>Selection Mode</label>
        <select
          id="selectionMode"
          materal_select=""
          ng-required="true"
          name="selectionMode"
          class="dropdown-toggle"
        >
        </select>
      </div>
    </div>

    <div class="row my-3">
      <!--Enable VLAN -->
      <div class="col-sm-6 checkbox1 input-field1">
        <input
          id="enableVlan"
          name="Enable"
          type="checkbox"
          ng-true-value="'1'"
          ng-false-value="'0'"
        />
        <label class="checkbox_left_align" for="enableVlan"
          >Enable VLAN :&nbsp;&nbsp;
        </label>
      </div>
    </div>

    <div class="row">
      <!--Connection Type-->
      <div class="col-sm-6 mb-3 required">
        <label for="connectionType">Connection Type</label>
        <select
          id="connectionType"
          materal_select=""
          ng-required="true"
          name="connectionType"
          class="dropdown-toggle"
        >
        </select>
      </div>
    </div>

    <div class="row my-4">
      <!--MAC Cloning-->
      <div class="col-sm-6 d-flex align-items-center mt-4">
        <label for="macClone" class="control-label mr-3"
          >Mac Cloning Enable</label
        >
        <span
          ng-click="macCloneEnabled = !macCloneEnabled;"
          class="switch my-3"
          off="Off"
          on="On"
          ng-class="{checked:macCloneEnabled}"
        >
          <small></small
          ><input
            type="checkbox"
            style="display:none"
            name="macClone"
            id="macClone"
            ng-model="macCloneEnabled"
            class="ng-pristine ng-untouched ng-valid"
          />
          <span class="switch-text"
            ><span class="on">On</span><span class="off">Off</span></span
          >
        </span>
      </div>

      <!--MAC Address-->
      <div class="mb-3 col-sm-6" ng-if="macCloneEnabled">
        <div class="input-field">
          <input
            id="mtusize"
            ng-model="form.mac_address"
            placeholder="Please valid mac address"
            type="text"
            class="form-control"
            required
          />
          <label class="active" for="mtusize">MAC Address</label>
        </div>
      </div>
    </div>

    <div class="row">
      <!--Username-->
      <div class="mb-3 col-sm-6 d-flex">
        <div class="input-field d-flex w-100">
          <input
            id="username"
            ng-model="form.username"
            placeholder="Please enter username ex. 1154897"
            type="text"
            class="form-control"
            requiredF
          />
          <label class="active special" for="username">Username</label>
          <div class="input-suffix d-flex align-items-center">
            @tedata.com.eg
          </div>
        </div>
      </div>

      <!--Password-->
      <div class="mb-3 col-sm-6">
        <div class="d-flex">
          <div class="input-field w-100">
            <input
              id="password"
              ng-model="form.password"
              placeholder="Please enter password"
              type="password"
              class="form-control"
              required
            />
            <label class="active" for="password">Password</label>
          </div>
          <div class="input-field1 form-group pwdtoggle_adv">
            <input
              id="Passwordcheckbox"
              name="passwordcheckbox"
              type="checkbox"
              ng-model="Passwordfieldstatus"
              ng-click="hideShowPassword()"
            />
            <label
              class="checkbox_right_align showpw mt-4 pt-1"
              for="Passwordcheckbox"
              ng-class="Passwordfieldstatus==true ? 'hidepw checkbox_right_align' : 'showpw checkbox_right_align' "
            ></label>
          </div>
        </div>
      </div>

      <!--MTU Size-->
      <div class="mb-3 col-sm-6">
        <div class="input-field">
          <input
            id="mtusize"
            ng-model="form.password"
            placeholder="Please enter mtu size"
            type="text"
            class="form-control"
            required
          />
          <label class="active" for="mtusize">MTU Size</label>
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-sm-6">
        <!--IP V6 Enable -->
        <div class="checkbox1 input-field1" style="width:215px">
          <input
            id="ipv6enable"
            name="Enable"
            type="checkbox"
            ng-true-value="'1'"
            ng-false-value="'0'"
          />
          <label class="checkbox_left_align" for="ipv6enable"
            >IPv6 Enable :&nbsp;&nbsp;
          </label>
        </div>
      </div>
      <div class="col-sm-6">
        <!-- Default Gateway -->
        <div class="checkbox1 input-field1" style="width:215px">
          <input
            id="defaultGateway"
            name="Enable"
            type="checkbox"
            ng-true-value="'1'"
            ng-false-value="'0'"
          />
          <label class="checkbox_left_align" for="defaultGateway"
            >Default Gateway :&nbsp;&nbsp;
          </label>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div class="col-sm-4 float-right px-0">
    <div class="row d-flex">
      <input
        class="waves-effect waves-light btn btn-info col-sm-6"
        value="Apply"
        formname=""
      />

      <input
        class="waves-effect waves-light btn btn-info mx-1 col-sm-6"
        value="Cancel"
        formname=""
      />
    </div>
  </div>
</div>
