<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="translation" class="hide">wds5_2page</div>
        <div ng-controller="wdsController" ng-cloak>
            <!--Breadscrumbs starts here -->                                                                                                      
            <div class="row ltq_breadcrumbs">                                                                                                     
                <div  ng-repeat="breadcrumb in $root.breadcrumbs" >                                                                                   
                    <ng-switch on="$first">                                                                                                               
                        <div class="btn-group btn-breadcrumb1" ng-switch-when="true">                                                                         
                            <div class="ltq_brd_home" >                                                                                                           
                                <a  class="btn" ng-click="homefun()" ng-href="#/{{breadcrumb.path}}">                                                                 
                                    <i class="fa fa-home"></i>                                                                                                            
                                    {{breadcrumb.name}}                                                                                                                   
                                </a>                                                                                                                                  
                            </div>                                                                                                                                
                        </div>                                                                                                                                

                        <div class="btn-group btn-breadcrumb" ng-switch-when="false" >                                                                        

                            <span class="btn btn-default not-active" ng-if="breadcrumb.path == 'nothing' || $last == true" >                                      
                                {{breadcrumb.name}}                                                                                                               
                            </span>                                                                                                                               
                            <span ng-if ="breadcrumb.path != 'nothing' &&
                                                                $last == false">                                                                                                                              
                                <a  class="btn" ng-href="#/{{breadcrumb.path}}">                                                                                      
                                    <i></i>                                                                                                                               
                                    {{breadcrumb.name}}                                                                                                                   
                                </a>                                                                                                                                  
                            </span>                                                                                                                               
                        </div>                                                                                                                                 

                    </ng-switch>                                                                                                                            
                </div>                                                                                                                                   
            </div> 
            <div class="subheader">
                <div>
                    <img src="images/icons/wireless.png" class="iconDetails" alt="img">
                </div>
                <div><h4 ng-bind="'wdspage.headername' | translate"></h4></div>
                <p ng-bind="'wdspage.description' | translate"></p>
            </div>
            <div class="row" ng-show="getformnamepopup">
                <div class="alert alert-danger">
                    <a class="close" aria-label="close" ng-click="popupclose('getformnamepopup')">&times;</a>
                    <strong ng-bind="'Warning!' | translate"></strong><span ng-bind="getformnamepopupval"></span>
                </div>
            </div>
            <div class="row" ng-show="postformnamepopup">
                <div class="alert alert-danger">
                    <a class="close" aria-label="close" ng-click="popupclose('postformnamepopup')">&times;</a>
                    <strong ng-bind="'Warning!' | translate"></strong><span ng-bind="postformnamepopupval"></span>
                </div>
            </div>
            <div class="row no-margin-hr">
                <form class="form-horizontal lantiq-form-text row" role="form" name="wdsform" novalidate>
                    <div class="col-lg-12 col-md-12">
                        <div class="panel">
                            <div class="panel-heading blu_bg"><span class="panel_heading_icon"><img src="images/icons/settings-1.png" alt="panel-icon"/></span><span ng-bind="'wdspage.panelheader' | translate"></div>
                            <div class="panel-body"> 
                                <div class="row">
                                    <div class="form-group required col-lg-6 col-md-6">
                                        <label class="control-label col-lg-12 col-md-12 col-sm-12" ng-bind="'Device.WiFi.Radio.3.SSID' | translate">SSID</label>
                                        <div class="col-sm-12">
                                            <select id="temp_SSID" class="form-control" ng-required="true" name="ssid" ng-model="temp.SSID" ng-change="ssidChange(temp.SSID)" ng-options="obj.id as obj.name for obj in SSID" ng-init="dropdownUrlRequest('temp', 'SSID', 'cgi_get_filterbyfirstparamval?Object=Device.WiFi.SSID&LowerLayers=Device.WiFi.Radio.3.&SSID=')">                                                                
                                            </select>
                                            <span class="error" forname="temp_SSID" ng-show="wdsstatus && wdsform.ssid.$error.required" ng-bind="'Device.WiFi.Radio.3.SSID.$error.required' | translate">
                                            </span>
                                            <span class="error" forname="temp_SSID" ng-show="temp_SSIDresponsestatus" ng-bind="temp_SSIDval">

                                            </span>
                                        </div>                                                
                                    </div>
                                </div>
                                <div class="row">
                                   <div class="form-group col-lg-6 col-md-6">
                                        <label class="control-label col-lg-12 col-md-12 col-sm-12" ng-bind="'Device.WiFi.AccessPoint.*.X_LANTIQ_COM_Vendor.WDS Mode' | translate"></label>
                                        <div class="col-sm-12">
                                         <select id="DeviceWiFiAccessPointX_LANTIQ_COM_Vendor_WaveWDSMode" class="form-control" ng-required="true" name="wdsmode" ng-model="DeviceWiFiAccessPointX_LANTIQ_COM_Vendor.WaveWDSMode" ng-change="textChange('DeviceWiFiAccessPointX_LANTIQ_COM_VendorWaveWDSMode')">          <option value="">Select</option>
                                                <option value="Disabled">Disabled</option>
                                                <option value="Legacy">Legacy</option>
                                                <option value="Hybrid">Hybrid</option>
                                        </select>
                                        </div>
                                    </div> 
                                </div>
                                <div class="row" ng-show="DeviceWiFiAccessPointX_LANTIQ_COM_Vendor.WaveWDSMode == 'Legacy'">
                                    <div class="form-group required col-lg-6 col-md-6">
                                        <label class="control-label col-lg-12 col-md-12 col-sm-12" ng-bind="'Device.WiFi.AccessPoint.*.X_LANTIQ_COM_Vendor.WDS Security Mode' | translate"></label>
                                        <div class="col-sm-12">
                                            <select id="DeviceWiFiAccessPointX_LANTIQ_COM_Vendor_WaveWDSSecurityMode" class="form-control" ng-required="true" name="wdssecuritymode" ng-model="DeviceWiFiAccessPointX_LANTIQ_COM_Vendor.WaveWDSSecurityMode" ng-change="textChange('DeviceWiFiAccessPointX_LANTIQ_COM_VendorWaveWDSSecurityMode')">                                                                
                                                <option value="">Select</option>
                                                <option value="None">None</option>
                                                <option value="WEP-64">WEP-64</option>
                                                <option value="WEP-128">WEP-128</option>
                                            </select>
                                            <span class="error" forname="DeviceWiFiAccessPointX_LANTIQ_COM_Vendor_WaveWDSSecurityMode" ng-show="wdsstatus && wdsform.wdssecuritymode.$error.required" ng-bind="'Device.WiFi.AccessPoint.*.X_LANTIQ_COM_Vendor.WaveWDSSecurityMode.$error.required' | translate">

                                            </span>
                                            <span class="error" forname="DeviceWiFiAccessPointX_LANTIQ_COM_Vendor_WaveWDSSecurityMode" ng-show="DeviceWiFiAccessPointX_LANTIQ_COM_Vendor_WaveWDSSecurityModeresponsestatus" ng-bind="DeviceWiFiAccessPointX_LANTIQ_COM_Vendor_WaveWDSSecurityModeval">

                                            </span>
                                        </div>                                                
                                    </div>
                                    <div class="form-group required col-lg-6 col-md-6" ng-if="DeviceWiFiAccessPointX_LANTIQ_COM_Vendor.WaveWDSSecurityMode == 'WEP-64'">
                                        <div class="input-field col-sm-12"> 
                                            <input id="DeviceWiFiAccessPointX_LANTIQ_COM_Vendor_WaveWDSKey" ng-required="true" type="text" class="form-control" name='wepkey'  ng-model="DeviceWiFiAccessPointX_LANTIQ_COM_Vendor.WaveWDSKey" ng-blur="textChange('DeviceWiFiAccessPointX_LANTIQ_COM_VendorWaveWDSKey')" placeholder="{{'Device.WiFi.AccessPoint.*.X_LANTIQ_COM_Vendor.WEP Key.Enter WEP Key Here'| translate}}" ng-minlength="10" ng-pattern="/^[0-9a-fA-F]+$/" ng-maxlength="10" >
                                            <label class="required active" ng-bind="'Device.WiFi.AccessPoint.*.X_LANTIQ_COM_Vendor.WEP Key' | translate"></label>
                                            <span class="error" forname="DeviceWiFiAccessPointX_LANTIQ_COM_Vendor_WaveWDSKey" ng-show="wdsstatus && wdsform.wepkey.$error.required" ng-bind="'Device.WiFi.AccessPoint.*.X_LANTIQ_COM_Vendor.WaveWDSKey.$error.required' | translate">
                                            </span>
                                            <span class="error" forname="DeviceWiFiAccessPointX_LANTIQ_COM_Vendor_WaveWDSKey" ng-show="DeviceWiFiAccessPointX_LANTIQ_COM_Vendor_WaveWDSKeyresponsestatus" ng-bind="DeviceWiFiAccessPointX_LANTIQ_COM_Vendor_WaveWDSKeyval">
                                            </span>
                                            <span class="error" forname="DeviceWiFiAccessPointX_LANTIQ_COM_Vendor_WaveWDSKey" ng-show="wdsstatus && wdsform.wepkey.$error.minlength" ng-bind="'Device.WiFi.AccessPoint.*.X_LANTIQ_COM_Vendor.WaveWDSKey.$error.minlen' | translate">
                                            </span>
                                             <span class="error" forname="DeviceWiFiAccessPointX_LANTIQ_COM_Vendor_WaveWDSKey" ng-show="wdsstatus && wdsform.wepkey.$error.maxlength" ng-bind="'Device.WiFi.AccessPoint.*.X_LANTIQ_COM_Vendor.WaveWDSKey.$error.maxlen' | translate">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group required col-lg-6 col-md-6" ng-if="DeviceWiFiAccessPointX_LANTIQ_COM_Vendor.WaveWDSSecurityMode == 'WEP-128'">
                                        <div class="input-field col-sm-12"> 
                                            <input id="DeviceWiFiAccessPointX_LANTIQ_COM_Vendor_WaveWDSKey" ng-required="true" type="text" class="form-control" name='wepkey26'  ng-model="DeviceWiFiAccessPointX_LANTIQ_COM_Vendor.WaveWDSKey" ng-blur="textChange('DeviceWiFiAccessPointX_LANTIQ_COM_VendorWaveWDSKey')" placeholder="{{'Device.WiFi.AccessPoint.*.X_LANTIQ_COM_Vendor.WEP Key.Enter WEP Key Here'| translate}}" ng-minlength="26" ng-pattern="/^[0-9a-fA-F]+$/" ng-maxlength="26" >
                                            <label class="required active" ng-bind="'Device.WiFi.AccessPoint.*.X_LANTIQ_COM_Vendor.WEP Key' | translate"></label>
                                            <span class="error" forname="DeviceWiFiAccessPointX_LANTIQ_COM_Vendor_WaveWDSKey" ng-show="wdsstatus && wdsform.wepkey26.$error.required" ng-bind="'Device.WiFi.AccessPoint.*.X_LANTIQ_COM_Vendor.WaveWDSKey.$error.required' | translate">
                                            </span>
                                            <span class="error" forname="DeviceWiFiAccessPointX_LANTIQ_COM_Vendor_WaveWDSKey" ng-show="wdsstatus && wdsform.wepkey26.$error.minlength" ng-bind="'Device.WiFi.AccessPoint.*.X_LANTIQ_COM_Vendor.WaveWDSKey.$error.minlen26' | translate">
                                            </span>
                                             <span class="error" forname="DeviceWiFiAccessPointX_LANTIQ_COM_Vendor_WaveWDSKey" ng-show="wdsstatus && wdsform.wepkey26.$error.maxlength" ng-bind="'Device.WiFi.AccessPoint.*.X_LANTIQ_COM_Vendor.WaveWDSKey.$error.maxlen26' | translate">
                                            </span>
                                            <span class="error" forname="DeviceWiFiAccessPointX_LANTIQ_COM_Vendor_WaveWDSKey" ng-show="DeviceWiFiAccessPointX_LANTIQ_COM_Vendor_WaveWDSKeyresponsestatus" ng-bind="DeviceWiFiAccessPointX_LANTIQ_COM_Vendor_WaveWDSKeyval">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 wds-table-align">                                       
                                        <table class="table table-bordered custom_table theme_intel" ng-show="DeviceWiFiAccessPointX_LANTIQ_COM_Vendor.WaveWDSMode == 'Legacy' || DeviceWiFiAccessPointX_LANTIQ_COM_Vendor.WaveWDSMode == 'Hybrid'">                
                                            <thead>
                                                <tr>
                                                    <th ng-bind="'Device.WiFi.AccessPoint.*.X_LANTIQ_COM_Vendor.MAC Address' | translate">                                                
                                                    </th>                                            
                                                    <th>
                                                        <a  class="btn btn-sm btn-info" name="Add" id="Add" value="Add" ng-click="showstatus(true,'Device.WiFi.AccessPoint.*.X_LANTIQ_COM_Vendor?WaveWDSPeers,')">
                                                            <i class="fa fa-plus icontxtgap"></i><span ng-bind="'Add' | translate"></span>
                                                        </a>
                                                    </th>
                                                </tr>
                                            </thead> 
                                            <tbody>
                                                <tr ng-show="status">
                                                    <td>
                                                        <input id="DeviceWiFiAccessPointX_LANTIQ_COM_Vendor_WaveWDSPeers" type="text" name="macaddress" ng-model="DeviceWiFiAccessPointX_LANTIQ_COM_Vendor.WaveWDSPeers"  placeholder="{{'Device.WiFi.AccessPoint.*.X_LANTIQ_COM_Vendor.MAC Address.Enter MAC Address Here'| translate}}"/>
                                                        <div class="error" forname="DeviceWiFiAccessPointX_LANTIQ_COM_Vendor_WaveWDSPeers" ng-show="macregexpression" ng-bind="'Device.WiFi.AccessPoint.*.X_LANTIQ_COM_Vendor.WaveWDSPeers.$error.pattern' | translate">

                                                        </div>
                                                        <div class="error" forname="DeviceWiFiAccessPointX_LANTIQ_COM_Vendor_WaveWDSPeers" ng-show="DeviceWiFiAccessPointX_LANTIQ_COM_Vendor_WaveWDSPeersresponsestatus" ng-bind="DeviceWiFiAccessPointX_LANTIQ_COM_Vendor_WaveWDSPeersval">
                                                        </div>
                                                    </td>
                                                    <td style="vertical-align: middle;">
                                                        <a id="Add" name="Add" value="Add" class="btn btn-xs table-btn" data-ng-click="macrowApply($event)" source="Device.WiFi.AccessPoint.*.X_LANTIQ_COM_Vendor?WaveWDSPeers,">
                                                            <span class="fa fa-check btn_color_grn"></span>
                                                        </a>
                                                        <a id="Close" name="Close" value="Close" class="btn btn-xs table-btn" ng-click="rowcancel(false)">

                                                            <span class="fa fa-times btn_color_red" ></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="row in WaveWDSPeers" ng-init="sectionIndex = $index">
                                                    <td ng-repeat="key in row| keys" ng-if="false == $last" >
                                                        {{row[key]}}
                                                    </td>
                                                    <td style="white-space: nowrap;vertical-align: middle;">

                                                        <div class="buttons" ng-show="!rowform.$visible">                                              
                                                            <button class="btn table-btn" id="{{row.z}}" name="delete" value="delete" ng-click="deletemac(sectionIndex, $event)" source="Device.WiFi.AccessPoint.*.X_LANTIQ_COM_Vendor?WaveWDSPeers,"><i class="fa fa-trash-o btn_color_red"></i></button>
                                                        </div>  
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 pull-right">
                                    <div class="btn-group custom_btn">
                                        <button class="btn btn-info waves-effect waves-light " id= "Modify" value="Save" formstatus="{{wdsform.$valid}}" ng-click="Modify('Device.WiFi.AccessPoint.*.X_LANTIQ_COM_Vendor', $event)" title="Save"><span class="" ng-bind="'Save' | translate"></span></button>
                                    </div>
                                </div>

                            </div> 
                            </form>
                        </div>
                    </div>
            </div>
    </body>
</html>
