<div class="col-xs-12" ng-controller="hybridController">
	<form name="speed">

		<input type="checkbox" ng-true-value="'1'" class="hidden-dom-removal" ng-false-value="'0'" id="EnablePageSpeed" ng-model="webcontrol.pagespeed" name="EnablePageSpeed" ng-change="">
		<label class="checkbox_left_align " for="EnablePageSpeed">ENABLE PAGE SPEED</label>
		<p>
			<i class="waves-effect waves-light btn btn-info waves-input-wrapper" style=""><input type="button" class="waves-button-input" id="" value="Apply" source="" ng-click="storePageSpeed()" ></i>
		</p>

	</form>
	<!--	value {{webcontrol.pagespeed}}-->
</div>